Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

[CORE-4373] Update picture
  public/images/screenshots/charts-placeholder.png
Due: none

[CORE-4373] Update picture (#717)
  public/images/screenshots/charts-placeholder.png
Due: none

[CORE-4373] Update picture (#717) (#718)
  public/images/screenshots/charts-placeholder.png
Due: none

[CORE-4379] Add discount to form
  store/membership-price.js
  templates/payment/form/index.jsx
Due: npm run lint:js -- --fix

[CORE-4379] Price calculated upd
  templates/payment/form/index.jsx
Due: npm run lint:js -- --fix

[CORE-4379] Fix route
  core.routes.yml
  data/membership.yml
  data/payment.yml
  pages/member/[slug].jsx
  pages/membership-request-status/error.jsx
  pages/membership-request-status/success.jsx
  store/membership.js
  templates/member/form/hooks/index.js
  templates/member/form/hooks/use-select.js
  templates/member/form/index.jsx
  templates/member/form/select.jsx
  templates/member/form/styles.module.scss
  templates/member/index.jsx
  templates/member/styles.module.scss
  templates/member/success.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

[Update] Text membership
  templates/membership/index.jsx
Due: npm run lint:js -- --fix

[Update] Text membership (#719)
  templates/membership/index.jsx
Due: npm run lint:js -- --fix

[Update] Text membership (#719) (#720)
  templates/membership/index.jsx
Due: npm run lint:js -- --fix

[Update] Text membership
  data/membership.yml
Due: none

[Update] Text membership (#721)
  data/membership.yml
Due: none

[Update] Text membership (#721) (#722)
  data/membership.yml
Due: none

Feture/core 4379 update membership form (#723)
  api/services.js
  components/checkbox/animated.jsx
  components/checkbox/index.js
  components/checkbox/radiobutton.jsx
  components/checkbox/styles.module.scss
  components/utils.js
  core.routes.yml
  data/membership.yml
  data/payment.yml
  package-lock.json
  package.json
  pages/member/[slug].jsx
  pages/membership-request-status/error.jsx
  pages/membership-request-status/success.jsx
  pages/membership/index.jsx
  pages/payment/index.jsx
  pages/payment/success.jsx
  store/data-providers.js
  store/membership-price.js
  store/membership.js
  store/root.js
  templates/member/form/hooks/index.js
  templates/member/form/hooks/use-select.js
  templates/member/form/index.jsx
  templates/member/form/select.jsx
  templates/member/form/styles.module.scss
  templates/member/index.jsx
  templates/member/styles.module.scss
  templates/member/success.jsx
  templates/membership/prices.jsx
  templates/payment/form/hooks/use-select.js
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Feture/core 4379 update membership form (#723) (#726)
  api/services.js
  components/checkbox/animated.jsx
  components/checkbox/index.js
  components/checkbox/radiobutton.jsx
  components/checkbox/styles.module.scss
  components/utils.js
  core.routes.yml
  data/membership.yml
  data/payment.yml
  package-lock.json
  package.json
  pages/member/[slug].jsx
  pages/membership-request-status/error.jsx
  pages/membership-request-status/success.jsx
  pages/membership/index.jsx
  pages/payment/index.jsx
  pages/payment/success.jsx
  store/data-providers.js
  store/membership-price.js
  store/membership.js
  store/root.js
  templates/member/form/hooks/index.js
  templates/member/form/hooks/use-select.js
  templates/member/form/index.jsx
  templates/member/form/select.jsx
  templates/member/form/styles.module.scss
  templates/member/index.jsx
  templates/member/styles.module.scss
  templates/member/success.jsx
  templates/membership/prices.jsx
  templates/payment/form/hooks/use-select.js
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

[Update] Route update
  templates/membership/prices.jsx
Due: npm run lint:js -- --fix

[Update] Route update (#727)
  templates/membership/prices.jsx
Due: npm run lint:js -- --fix

[Update] Route update (#727) (#728)
  templates/membership/prices.jsx
Due: npm run lint:js -- --fix

update: CORE-4407 add membership text
  data/payment.yml
  templates/member/index.jsx
Due: npm run lint:js -- --fix

update: CORE-4407 add membership text (#729)
  data/payment.yml
  templates/member/index.jsx
Due: npm run lint:js -- --fix

update: CORE-4407 add membership text (#729) (#730)
  data/payment.yml
  templates/member/index.jsx
Due: npm run lint:js -- --fix

[update] Text success page
  data/payment.yml
Due: none

[update] Text success page (#731)
  data/payment.yml
Due: none

[update] Text success page (#731) (#732)
  data/payment.yml
Due: none

[update] discountInfo for supporting and sustaining
  pages/member/[slug].jsx
  templates/member/index.jsx
Due: npm run lint:js -- --fix

[update] discountInfo for supporting and sustaining (#733)
  pages/member/[slug].jsx
  templates/member/index.jsx
Due: npm run lint:js -- --fix

[update] discountInfo for supporting and sustaining (#733) (#734)
  pages/member/[slug].jsx
  templates/member/index.jsx
Due: npm run lint:js -- --fix

update: CORE-4335 fastSync page
  data/services/fastsync.yml
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  pages/services/fastsync.jsx
  public/images/services/coreFastSync.svg
  public/images/services/includedFastSync.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

[update] additionalInfo for supporting and sustaining
  templates/member/index.jsx
Due: npm run lint:js -- --fix

Bugfix/excluded text for starting (#736)
  templates/member/index.jsx
Due: npm run lint:js -- --fix

Bugfix/excluded text for starting (#736) (#737)
  templates/member/index.jsx
Due: npm run lint:js -- --fix

[update] text fee
  templates/member/form/index.jsx
Due: npm run lint:js -- --fix

Bugfix/excluded text for starting (#738)
  templates/member/form/index.jsx
Due: npm run lint:js -- --fix

Bugfix/excluded text for starting (#738) (#739)
  templates/member/form/index.jsx
Due: npm run lint:js -- --fix

[CORE-4412] Update form
  components/utils.js
  data/payment.yml
  templates/member/form/index.jsx
Due: npm run lint:js -- --fix

[CORE-4412] Update form (#740)
  components/utils.js
  data/payment.yml
  templates/member/form/index.jsx
Due: npm run lint:js -- --fix

[CORE-4412] Update form (#740) (#741)
  components/utils.js
  data/payment.yml
  templates/member/form/index.jsx
Due: npm run lint:js -- --fix

[CORE-4413] Text upd
  data/payment.yml
Due: none

update: CORE membership date update
  data/membership.yml
Due: none

test
  data/membership.yml
Due: none
