Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

fix setting stg env
  env.config.js
Due: npm run lint:js -- --fix

CORE: add stg env
  .github/workflows/aks_stage_deploy.yml
  env.config.js
Due: npm run lint:js -- --fix

CORE: add input field indicator
  components/modal/registration/form.jsx
  components/modal/registration/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: add ror name fix
  components/modal/registration/institution-select.jsx
Due: npm run lint:js -- --fix

Core 5649 register verification (#1455)
  .github/workflows/aks_stage_deploy.yml
  components/modal/hooks/use-input.js
  components/modal/hooks/use-organisation-domains.js
  components/modal/registration/form.jsx
  components/modal/registration/helpers/validateInstitutionEmail.js
  components/modal/registration/institution-select.jsx
  components/modal/registration/styles.module.scss
  env.config.js
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Reduce memory requests and limits in deployment.yaml
  kube/prod/deployment.yaml
Due: none

Add HTTPRoute and Service configuration for azure-func-backend with URLRewrite
  kube/prod/httproute.yaml
Due: none

Update URLRewrite hostname and externalName to include download path for azure-func-backend
  kube/prod/httproute.yaml
Due: none

Refactor URLRewrite hostname and externalName to remove download path for azure-func-backend
  kube/prod/httproute.yaml
Due: none

CORE: add recaptcha
  components/turnstile/index.jsx
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  env.config.js
  store/registration.js
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: add to correct place
  components/modal/registration/conditions.jsx
  components/modal/registration/styles.module.scss
  components/turnstile/index.jsx
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  store/registration.js
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

fix icons missing
  package.json
Due: npm run lint:json -- --write

Commit generated design icons and stop regenerating sprite in build
  .gitignore
  public/design/icons.svg
  public/design/icons/account.svg
  public/design/icons/active-arrow.svg
  public/design/icons/alert-circle-outline.svg
  public/design/icons/bin.svg
  public/design/icons/check.svg
  public/design/icons/chevron-left.svg
  public/design/icons/chevron-right.svg
  public/design/icons/close.svg
  public/design/icons/collaborators.svg
  public/design/icons/copy-document.svg
  public/design/icons/core-symbol.svg
  public/design/icons/das.svg
  public/design/icons/database.svg
  public/design/icons/deduplication.svg
  public/design/icons/domain.svg
  public/design/icons/drop-arrow.svg
  public/design/icons/enrichment.svg
  public/design/icons/file-check.svg
  public/design/icons/file-search.svg
  public/design/icons/fresh-finds.svg
  public/design/icons/github.svg
  public/design/icons/information-outline.svg
  public/design/icons/jisc-logo.svg
  public/design/icons/linkedin.svg
  public/design/icons/magnify.svg
  public/design/icons/menu.svg
  public/design/icons/metadata-validator.svg
  public/design/icons/office-building.svg
  public/design/icons/open-in-new.svg
  public/design/icons/orcid.svg
  public/design/icons/ou-logo.svg
  public/design/icons/pencil.svg
  public/design/icons/school.svg
  public/design/icons/sdg.svg
  public/design/icons/sw.svg
  public/design/icons/twitter.svg
  public/design/icons/window-close.svg
  public/design/icons/writing.svg
Due: none

Copy design.config.js before npm install so icon publicPath resolves correctly
  Dockerfile
Due: none

Core 5658 recaptcha (#1457)
  components/modal/registration/conditions.jsx
  components/modal/registration/styles.module.scss
  components/turnstile/index.jsx
  env.config.js
  store/registration.js
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: add domain search
  components/modal/hooks/use-university-domains.js
  components/modal/registration/form.jsx
  components/modal/registration/helpers/validateInstitutionEmail.js
  data/uni.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Core 5649 add extra domain check (#1458)
  components/modal/hooks/use-university-domains.js
  components/modal/registration/form.jsx
  components/modal/registration/helpers/validateInstitutionEmail.js
  data/uni.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write

CORE: add new logo
  data/endorsements.yml
  public/images/logos/tu_delft.png
Due: none

Core 5661 new logo (#1459)
  data/endorsements.yml
  public/images/logos/tu_delft.png
Due: none

.npmrc
  .gitignore
  .npmrc.dist
Due: none

.npmrc (#1460)
  .gitignore
  .npmrc.dist
Due: none

Get swagger
  data/swagger-v3.json
  package.json
  scripts/check-swagger-json.js
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Swagger to html
  package.json
  public/api-docs-v3.html
  scripts/build-swagger-html.js
Due: npm run lint:js -- --fix, npm run lint:json -- --write

CORE: remove OU
  data/community/home.yml
  data/contacts.yml
  data/resources.yml
  package-lock.json
  package.json
  public/design/icons.svg
  public/design/icons/coreLogo.svg
  public/images/governance.svg
  public/resources/coreLogo.png
Due: npm run lint:json -- --write

CORE: add test
  Dockerfile
Due: none

CORE: add test ოლდ
  Dockerfile
Due: none

CORE: remove button
  data/community/home.yml
Due: none

copy npmrc separated
  Dockerfile
Due: none

Swagger to html
  templates/documentation/api-documentation/index.jsx
  templates/documentation/api-documentation/styles.module.scss
  templates/documentation/docsComponents/documentation-membership/documentation-membership.jsx
  templates/documentation/docsComponents/documentation-membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Email update
  data/contacts.yml
  data/faq.yml
  data/registration.yml
Due: none

Email update (#1462)
  data/contacts.yml
  data/faq.yml
  data/registration.yml
Due: none

Remove caching options from Docker build step
  .github/workflows/aks_stage_deploy.yml
Due: none

Remove caching from Docker build in AKS workflow
  .github/workflows/aks_deploy.yml
Due: none

update emails to match core.science
  data/contacts.yml
  data/faq.yml
  data/registration.yml
Due: none

Reorder COPY commands in Dockerfile
  Dockerfile
Due: none

docker file fix
  Dockerfile
Due: none

docker file fix (#1464)
  Dockerfile
Due: none

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
