Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

Update Dockerfile
  Dockerfile
Due: none

CORE: fix navigation link
  components/membership-table/membershipTable.jsx
Due: npm run lint:js -- --fix

CORE: fix navigation link (#1338)
  components/membership-table/membershipTable.jsx
Due: npm run lint:js -- --fix

CORE: fix navigation link (#1338) (#1339)
  components/membership-table/membershipTable.jsx
Due: npm run lint:js -- --fix

CORE: add form option update
  components/checkbox/animated.jsx
  components/checkbox/styles.module.scss
  components/modal/registration/conditions.jsx
  data/registration.yml
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: add form option update (#1340)
  components/checkbox/animated.jsx
  components/checkbox/styles.module.scss
  components/modal/registration/conditions.jsx
  data/registration.yml
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: add form option update (#1340) (#1341)
  components/checkbox/animated.jsx
  components/checkbox/styles.module.scss
  components/modal/registration/conditions.jsx
  data/registration.yml
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: section update
  components/modal/registration/form.jsx
  components/modal/registration/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: section update (#1342)
  components/modal/registration/form.jsx
  components/modal/registration/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: section update (#1342) (#1343)
  components/modal/registration/form.jsx
  components/modal/registration/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: add timeline
  pages/about/about.module.scss
  pages/about/index.jsx
  public/images/timeline.png
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: update image
  pages/about/about.module.scss
  pages/about/index.jsx
  public/images/timeline.png
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: add timeline (#1344)
  pages/about/about.module.scss
  pages/about/index.jsx
  public/images/timeline.png
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: add timeline (#1344) (#1345)
  pages/about/about.module.scss
  pages/about/index.jsx
  public/images/timeline.png
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

add google analytics env variables
  .github/workflows/deploy.yml
Due: none

Set NODE_ENV
  .github/workflows/deploy.yml
  Dockerfile
Due: none

Port update
  .github/workflows/deploy.yml
Due: none

CORE: update design
  package-lock.json
Due: npm run lint:json -- --write

CORE: update design (#1346)
  package-lock.json
Due: npm run lint:json -- --write

node_env build
  Dockerfile
Due: none

CORE: update design (#1346) (#1347)
  package-lock.json
Due: npm run lint:json -- --write

change image name
  .github/workflows/deploy.yml
Due: none

CORE: update text type
  pages/about/about.module.scss
Due: prettier --ignore-path .gitignore --check --write

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
