Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Core 5661 new logo (#1459)
  data/endorsements.yml
  public/images/logos/tu_delft.png
Due: none

.npmrc (#1460)
  .gitignore
  .npmrc.dist
Due: none

Docks
  templates/documentation/api-documentation/index.jsx
  templates/documentation/docsComponents/documentation-membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Style
  .lintstagedrc
  public/api-docs-v3.html
Due: none

Style
  .lintstagedrc
Due: none

Code clean
  .lintstagedrc
Due: none

V4 docs update
  data/swagger-v3.json
  data/swagger-v4.json
  public/api-docs-v3.html
  public/api-docs-v4.html
  scripts/build-swagger-html.js
  scripts/check-swagger-json.js
  templates/documentation/api-documentation/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

V4 docs update
  public/api-docs-v4.html
  scripts/build-swagger-html.js
Due: npm run lint:js -- --fix

V4 docs update
  public/api-docs-v4.html
  scripts/build-swagger-html.js
  templates/documentation/api-documentation/index.jsx
Due: npm run lint:js -- --fix

Swagger blocks
  package.json
  scripts/build-swagger-html-blocks.js
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Swagger blocks
  public/api-docs-v4-affiliations.html
  public/api-docs-v4-authorships.html
  public/api-docs-v4-institutions.html
  scripts/build-swagger-html-blocks.js
Due: npm run lint:js -- --fix

Swagger blocks
  public/api-docs-v4-affiliations.html
  public/api-docs-v4-authorships.html
  public/api-docs-v4-institutions.html
  public/api-docs-v4.html
  public/api-swagger/get-v4-affiliations-affiliationid-authorships.html
  public/api-swagger/get-v4-affiliations-affiliationid.html
  public/api-swagger/get-v4-authorships-authorshipid-affiliations.html
  public/api-swagger/get-v4-authorships-identifier.html
  public/api-swagger/get-v4-institutions-institutionid-affiliations.html
  public/api-swagger/get-v4-institutions-institutionid-dataproviders.html
  public/api-swagger/get-v4-institutions-institutionid.html
  public/api-swagger/get-v4-search-affiliations.html
  public/api-swagger/get-v4-search-authorships.html
  public/api-swagger/get-v4-search-institutions.html
  public/api-swagger/post-v4-search-affiliations.html
  public/api-swagger/post-v4-search-authorships.html
  public/api-swagger/post-v4-search-institutions.html
  scripts/build-swagger-html-blocks.js
Due: npm run lint:js -- --fix

Swagger blocks
  public/api-swagger/api-docs-v4-affiliations.html
  public/api-swagger/api-docs-v4-authorships.html
  public/api-swagger/api-docs-v4-institutions.html
  public/api-swagger/get-v4-affiliations-affiliationid-authorships.html
  public/api-swagger/get-v4-affiliations-affiliationid.html
  public/api-swagger/get-v4-authorships-authorshipid-affiliations.html
  public/api-swagger/get-v4-authorships-identifier.html
  public/api-swagger/get-v4-institutions-institutionid-affiliations.html
  public/api-swagger/get-v4-institutions-institutionid-dataproviders.html
  public/api-swagger/get-v4-institutions-institutionid.html
  public/api-swagger/get-v4-search-affiliations.html
  public/api-swagger/get-v4-search-authorships.html
  public/api-swagger/get-v4-search-institutions.html
  public/api-swagger/post-v4-search-affiliations.html
  public/api-swagger/post-v4-search-authorships.html
  public/api-swagger/post-v4-search-institutions.html
  scripts/build-swagger-html-blocks.js
Due: npm run lint:js -- --fix

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
