Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

Change Dataset license to ODC-By
  data/documentation/dataset.md
Due: none

Update the data
  data/history.yml
Due: none

Finish styling and fix datetime
  pages/history/assets/link.svg
  pages/history/history.module.scss
  pages/history/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Rename history fields in the CMS according to the new schema
  netlify-cms.config.yml
Due: none

Rename fields in the code according to the new schema
  pages/history/index.jsx
Due: npm run lint:js -- --fix

History page renames (#394)
  netlify-cms.config.yml
  pages/history/index.jsx
Due: npm run lint:js -- --fix

Add AccessMyResearch to partners
  data/endorsements.yml
  public/images/logos/access-my-research.png
Due: none

Add AccessMyResearch to partners (#395)
  data/endorsements.yml
  public/images/logos/access-my-research.png
Due: none

Redesign components, backgrounds and more
  pages/history/history.module.scss
  pages/history/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Add support for legacy URLs
  legacy.config.yml
  next.config.js
Due: npm run lint:js -- --fix

Flatten documentation URLs with redirects
  data/documentation/discovery.md
  data/services/discovery.yml
  legacy.config.yml
  pages/documentation/discovery-plugin.jsx
Due: npm run lint:js -- --fix

Fix requests to content dirs with nested dirs
  content/index.js
Due: npm run lint:js -- --fix

Fix preview path for Markdown pages
  netlify-cms.config.yml
Due: none

Migrate documentation to CMS (#393)
  data/documentation/api.md
  data/documentation/connector.md
  data/documentation/dataset.md
  data/documentation/discovery-plugin.md
  data/documentation/discovery.md
  data/documentation/fastsync.md
  data/documentation/recommender.md
  data/documentation/repository-dashboard.md
  netlify-cms.config.yml
  pages/documentation/[slug].jsx
  pages/documentation/connector.jsx
  pages/documentation/dataset.jsx
  pages/documentation/discovery-plugin.jsx
  pages/documentation/discovery.jsx
  pages/documentation/fastsync.jsx
  pages/documentation/recommender.jsx
  pages/documentation/repository-dashboard.jsx
Due: npm run lint:js -- --fix

Add MarkdownPage template, DRY markdown pages
  components/pages/index.js
  components/pages/markdown.jsx
  next.config.js
  pages/[slug].jsx
  pages/documentation/[slug].jsx
  templates/index.js
  templates/markdown.jsx
Due: npm run lint:js -- --fix

Enable editing history page from the CMS
  netlify-cms.config.yml
Due: none

Test
  netlify-cms.config.yml
Due: none

Add date formatting
  netlify-cms.config.yml
Due: none

Test optional image object
  netlify-cms.config.yml
Due: none

Fix fields
  netlify-cms.config.yml
Due: none

Enable editing CORE history from the CMS (#384)
  netlify-cms.config.yml
Due: none

Add event tracking to Outreach materials
  components/outreach-materials/index.jsx
  pages/about/ambassadors.jsx
Due: npm run lint:js -- --fix

Add event tracking to Outreach materials (#397)
  components/outreach-materials/index.jsx
  pages/about/ambassadors.jsx
Due: npm run lint:js -- --fix

Revert "Redesign components, backgrounds and more"
  pages/history/history.module.scss
  pages/history/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Break down the logo and fix overflow in sections
  pages/history/assets/anniversary-logo-big.svg
  pages/history/assets/hat.svg
  pages/history/history.module.scss
  pages/history/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Export spacing variables as custom CSS properties
  components/content/content.scss
Due: prettier --ignore-path .gitignore --check --write

Add HistoryMilestone component
  components/history-milestone/index.jsx
  components/history-milestone/styles.module.css
  components/index.js
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Add LinkCard component
  components/index.js
  components/link-card/index.jsx
  components/link-card/open-in-new.svg
  components/link-card/styles.module.css
  pages/_app.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Pass GITHUB_TOKEN to Next.js env
  next.config.js
Due: npm run lint:js -- --fix

Utilise HistoryMilestone on the page 🚧
  pages/history/assets/link.svg
  pages/history/history.module.scss
  pages/history/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Use main source of content
  pages/history/index.jsx
Due: npm run lint:js -- --fix

Remove team photos
  public/images/team/alexander-huba.png
  public/images/team/anna-zelinska.jpeg
  public/images/team/bethany-walker.jpg
  public/images/team/bikash-gyawali.jpg
  public/images/team/catherine-kuliavets.jpg
  public/images/team/david-pride.jpg
  public/images/team/drahomira-herrmannova.jpg
  public/images/team/lucas-anastasiou.jpg
  public/images/team/maria-tarasiuk.jpg
  public/images/team/matteo-cancellieri.jpg
  public/images/team/nancy-pontika.jpg
  public/images/team/petr-knoth.jpg
  public/images/team/samuel-pearce.jpg
  public/images/team/suchetha-nambanoor-kunnath.jpg
  public/images/team/valeriy-budko.jpg
  public/images/team/viktor-yakubiv.jpg
  public/images/team/zdenek-zdrahal.jpg
Due: none

Align Hero with other complex components (modules)
  components/hero/index.jsx
  pages/index.jsx
Due: npm run lint:js -- --fix
