Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

add member count
  data/membership.yml
  pages/membership/index.jsx
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

add member count (#987)
  data/membership.yml
  pages/membership/index.jsx
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

add member count (#987) (#988)
  data/membership.yml
  pages/membership/index.jsx
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

fix spacing
  templates/membership/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

fix spacing (#989)
  templates/membership/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

fix spacing (#989) (#990)
  templates/membership/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

add additional fields to form
  components/modal/hooks/use-input.js
  components/modal/registration/form.jsx
  components/modal/registration/index.jsx
  components/modal/registration/institution-select.jsx
  components/modal/registration/profile-select.jsx
  components/modal/registration/styles.module.scss
  components/modal/registration/success.jsx
  data/registration.yml
  store/registration.js
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

temp textarea
  components/modal/registration/form.jsx
Due: npm run lint:js -- --fix

render view by type
  components/modal/registration/success.jsx
Due: npm run lint:js -- --fix

CORE-4644 research page
  data/research-outputs.yml
  pages/about/about.module.scss
  pages/about/research-outputs.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4644 research page (#991)
  data/research-outputs.yml
  pages/about/about.module.scss
  pages/about/research-outputs.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4644 research page (#991) (#992)
  data/research-outputs.yml
  pages/about/about.module.scss
  pages/about/research-outputs.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4513 add description textaerea
  components/modal/registration/form.jsx
  components/modal/registration/index.jsx
  components/modal/registration/styles.module.scss
  components/modal/registration/success.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update dataset date
  data/services/dataset.yml
Due: none

CORE-4644 redirect to ai section
  components/toggle-panel/togglePanel.jsx
  data/home.yml
  pages/about/research-outputs.jsx
Due: npm run lint:js -- --fix

CORE-4644 redirect to ai section (#994)
  components/toggle-panel/togglePanel.jsx
  data/home.yml
  pages/about/research-outputs.jsx
Due: npm run lint:js -- --fix

CORE-4644 redirect to ai section (#994) (#995)
  components/toggle-panel/togglePanel.jsx
  data/home.yml
  pages/about/research-outputs.jsx
Due: npm run lint:js -- --fix

update small issues
  components/modal/registration/conditions.jsx
  components/modal/registration/form.jsx
  components/modal/registration/styles.module.scss
  components/modal/registration/success.jsx
  data/registration.yml
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update discovery page
  data/services/discovery.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  pages/services/discovery.jsx
  public/images/services/coverage.svg
  public/images/services/discoveryImage.svg
  public/images/services/discoveryLock.svg
  public/images/services/doi.svg
  public/images/services/grip.svg
  public/images/services/laptop.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update discovery page (#996)
  data/services/discovery.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  pages/services/discovery.jsx
  public/images/services/coverage.svg
  public/images/services/discoveryImage.svg
  public/images/services/discoveryLock.svg
  public/images/services/doi.svg
  public/images/services/grip.svg
  public/images/services/laptop.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update discovery page (#996) (#997)
  data/services/discovery.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  pages/services/discovery.jsx
  public/images/services/coverage.svg
  public/images/services/discoveryImage.svg
  public/images/services/discoveryLock.svg
  public/images/services/doi.svg
  public/images/services/grip.svg
  public/images/services/laptop.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update core flyer
  data/faq.yml
  data/membership.yml
  data/resources.yml
  public/resources/CORE-Flyer-2023.pdf
Due: none

update core flyer (#998)
  data/faq.yml
  data/membership.yml
  data/resources.yml
  public/resources/CORE-Flyer-2023.pdf
Due: none

update core flyer (#998) (#999)
  data/faq.yml
  data/membership.yml
  data/resources.yml
  public/resources/CORE-Flyer-2023.pdf
Due: none

update responsivnes
  components/toggle-panel/styles.module.scss
  design-v2/_variables.scss
  design-v2/components/membership-table/styles.module.scss
  pages/about/about.module.scss
  pages/about/research-outputs.jsx
  pages/governance/community.module.scss
  templates/governance/advisory/advisory.module.scss
  templates/governance/supporters/supporters.module.scss
  templates/sponsorships/index.jsx
  templates/sponsorships/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update responsivnes (#1000)
  components/toggle-panel/styles.module.scss
  design-v2/_variables.scss
  design-v2/components/membership-table/styles.module.scss
  pages/about/about.module.scss
  pages/about/research-outputs.jsx
  pages/governance/community.module.scss
  templates/governance/advisory/advisory.module.scss
  templates/governance/supporters/supporters.module.scss
  templates/sponsorships/index.jsx
  templates/sponsorships/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update responsivnes (#1000) (#1001)
  components/toggle-panel/styles.module.scss
  design-v2/_variables.scss
  design-v2/components/membership-table/styles.module.scss
  pages/about/about.module.scss
  pages/about/research-outputs.jsx
  pages/governance/community.module.scss
  templates/governance/advisory/advisory.module.scss
  templates/governance/supporters/supporters.module.scss
  templates/sponsorships/index.jsx
  templates/sponsorships/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update sponsorship page
  data/sponsorship.yml
Due: none

update sponsorship page (#1002)
  data/sponsorship.yml
Due: none

update sponsorship page (#1002) (#1003)
  data/sponsorship.yml
Due: none

update docs scroll
  data/membership.yml
  package-lock.json
  package.json
  templates/membership-documentation/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

update docs scroll (#1004)
  data/membership.yml
  package-lock.json
  package.json
  templates/membership-documentation/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

update docs scroll (#1004) (#1005)
  data/membership.yml
  package-lock.json
  package.json
  templates/membership-documentation/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

text update
  data/faq.yml
Due: none

text update (#1006)
  data/faq.yml
Due: none

text update (#1006) (#1007)
  data/faq.yml
Due: none

undefined issue
  pages/governance/supporters.jsx
  pages/membership/index.jsx
Due: npm run lint:js -- --fix

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
