Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

CORE-4889: add status column (#1153) (#1154)
  templates/governance/supporters/index.jsx
  templates/governance/supporters/supporters.module.scss
  templates/membership/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4888: add supporters to netlify
  env.config.js
  netlify-cms.config.yml
  pages/governance/supporters.jsx
  templates/governance/supporters/index.jsx
Due: npm run lint:js -- --fix

CORE-4888: add supporters to netlify
  env.config.js
Due: npm run lint:js -- --fix

Core 4888 netlify supporters (#1155)
  netlify-cms.config.yml
  pages/governance/supporters.jsx
  templates/governance/supporters/index.jsx
Due: npm run lint:js -- --fix

Core 4888 netlify supporters (#1155) (#1156)
  netlify-cms.config.yml
  pages/governance/supporters.jsx
  templates/governance/supporters/index.jsx
Due: npm run lint:js -- --fix

CORE-4888: fix file path
  netlify-cms.config.yml
  pages/governance/advisory.jsx
  pages/governance/supporters.jsx
Due: npm run lint:js -- --fix

CORE-4888: space issue
  pages/governance/supporters.jsx
Due: npm run lint:js -- --fix

CORE-4888: fix data flow
  templates/governance/supporters/index.jsx
Due: npm run lint:js -- --fix

CORE-4888: fix file path (#1158)
  netlify-cms.config.yml
  pages/governance/advisory.jsx
  pages/governance/supporters.jsx
  templates/governance/supporters/index.jsx
Due: npm run lint:js -- --fix

CORE-4888: fix file path (#1158) (#1159)
  netlify-cms.config.yml
  pages/governance/advisory.jsx
  pages/governance/supporters.jsx
  templates/governance/supporters/index.jsx
Due: npm run lint:js -- --fix

CORE-4888: fix nesting
  netlify-cms.config.yml
Due: none

CORE-4888: fix nesting (#1160)
  netlify-cms.config.yml
Due: none

CORE-4888: fix nesting (#1160) (#1161)
  netlify-cms.config.yml
Due: none

CORE-4888: type issue
  netlify-cms.config.yml
Due: none

CORE-4888: type issue (#1162)
  netlify-cms.config.yml
Due: none

CORE-4888: type issue (#1162) (#1163)
  netlify-cms.config.yml
Due: none

CORE-4888: add header
  netlify-cms.config.yml
  templates/governance/advisory/index.jsx
Due: npm run lint:js -- --fix

CORE-4888: add header (#1164)
  netlify-cms.config.yml
  templates/governance/advisory/index.jsx
Due: npm run lint:js -- --fix

CORE-4888: add header (#1164) (#1165)
  netlify-cms.config.yml
  templates/governance/advisory/index.jsx
Due: npm run lint:js -- --fix

CORE-4893: logo switch
  data/endorsements.yml
Due: none

CORE-4893: logo switch (#1166)
  data/endorsements.yml
Due: none

CORE-4893: logo switch (#1166) (#1167)
  data/endorsements.yml
Due: none

CORE-4891: add services pages
  data/advisory.yml
  data/community/supporters.yml
  data/services/api.yml
  data/services/dataset.yml
  data/services/discovery.yml
  data/services/fastsync.yml
  data/services/recommender.yml
  data/services/repository-dashboard.yml
  design-v2/components/pages/service.jsx
  netlify-cms.config.yml
  pages/services/api.jsx
  pages/services/dataset.jsx
  pages/services/discovery.jsx
  pages/services/fastsync.jsx
  pages/services/recommender.jsx
  pages/services/repository-dashboard.jsx
Due: npm run lint:js -- --fix

CORE-4891: fix page issue
  netlify-cms.config.yml
Due: none

fix features
  netlify-cms.config.yml
Due: none

CORE-4891: fix consultancy page
  netlify-cms.config.yml
  pages/services/consultancy.jsx
  public/images/people/bown.jpeg
Due: npm run lint:js -- --fix

CORE-4891: add services pages (#1168)
  data/advisory.yml
  data/community/supporters.yml
  data/services/api.yml
  data/services/dataset.yml
  data/services/discovery.yml
  data/services/fastsync.yml
  data/services/recommender.yml
  data/services/repository-dashboard.yml
  design-v2/components/pages/service.jsx
  netlify-cms.config.yml
  pages/services/api.jsx
  pages/services/consultancy.jsx
  pages/services/dataset.jsx
  pages/services/discovery.jsx
  pages/services/fastsync.jsx
  pages/services/recommender.jsx
  pages/services/repository-dashboard.jsx
  public/images/people/bown.jpeg
Due: npm run lint:js -- --fix

CORE-4891: add services pages (#1168) (#1169)
  data/advisory.yml
  data/community/supporters.yml
  data/services/api.yml
  data/services/dataset.yml
  data/services/discovery.yml
  data/services/fastsync.yml
  data/services/recommender.yml
  data/services/repository-dashboard.yml
  design-v2/components/pages/service.jsx
  netlify-cms.config.yml
  pages/services/api.jsx
  pages/services/consultancy.jsx
  pages/services/dataset.jsx
  pages/services/discovery.jsx
  pages/services/fastsync.jsx
  pages/services/recommender.jsx
  pages/services/repository-dashboard.jsx
  public/images/people/bown.jpeg
Due: npm run lint:js -- --fix

CORE-4913: update presentation
  env.config.js
  public/resources/core-member-benefits-presentation.pdf
Due: npm run lint:js -- --fix

CORE-4913: api-dev url
  env.config.js
Due: npm run lint:js -- --fix

Core 4913 update presentation (#1170)
  public/resources/core-member-benefits-presentation.pdf
Due: none

Core 4913 update presentation (#1170) (#1171)
  public/resources/core-member-benefits-presentation.pdf
Due: none

CORE-4914: services pages media issue
  netlify-cms.config.yml
Due: none

CORE-4914: services pages media issue (#1172)
  netlify-cms.config.yml
Due: none

CORE-4914: services pages media issue (#1172) (#1173)
  netlify-cms.config.yml
Due: none

Fix yml
  data/services/dataset.yml
Due: none

Fix yml
  data/services/api.yml
Due: none

Fix yml
  pages/services/dataset.jsx
Due: npm run lint:js -- --fix
