Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE: update data provider
  netlify-cms.config.yml
  templates/documentation/dataset/index.jsx
Due: npm run lint:js -- --fix

CORE: update data provider (#1251)
  netlify-cms.config.yml
  templates/documentation/dataset/index.jsx
Due: npm run lint:js -- --fix

CORE: update data provider (#1251) (#1252)
  netlify-cms.config.yml
  templates/documentation/dataset/index.jsx
Due: npm run lint:js -- --fix

update design system
  package-lock.json
Due: npm run lint:json -- --write

update design system (#1253)
  package-lock.json
Due: npm run lint:json -- --write

update design system (#1253) (#1254)
  package-lock.json
Due: npm run lint:json -- --write

Update endorsements.yml
  data/endorsements.yml
Due: none

Hide grammarly logo
  data/endorsements.yml
  data/home.yml
  pages/index.jsx
  pages/index.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Hide grammarly logo (#1256)
  data/endorsements.yml
  data/home.yml
  pages/index.jsx
  pages/index.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Hide grammarly logo (#1256) (#1257)
  data/endorsements.yml
  data/home.yml
  pages/index.jsx
  pages/index.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: update img access
  data/endorsements.yml
  data/home.yml
  pages/services/fastsync.jsx
  public/images/logos/techDico.png
Due: npm run lint:js -- --fix

CORE: icon add
  public/images/logos/techdico.svg
Due: none

CORE: icon add (#1258)
  public/images/logos/techdico.svg
Due: none

CORE: icon add (#1258) (#1259)
  public/images/logos/techdico.svg
Due: none

CORE-5076: creat sdg page
  data/sdg.yml
  pages/labs/sdg.jsx
  public/images/services/goals.svg
  public/images/services/openUniversity.svg
  templates/sdg/index.jsx
  templates/sdg/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-5076: update upload url
  templates/sdg/index.jsx
Due: npm run lint:js -- --fix

CORE-5076: add sdg pdf checker
  components/pdf-upload/defaultUpload.jsx
  components/pdf-upload/formatUpload.jsx
  components/pdf-upload/index.jsx
  components/pdf-upload/sdgUploadSuccess.jsx
  components/pdf-upload/sizeUploadIssue.jsx
  components/pdf-upload/styles.module.scss
  components/pdf-upload/uploadFail.jsx
  data/retention.yml
  env.config.js
  public/images/icons/allSdg.svg
  public/images/icons/belowWater.svg
  public/images/icons/climate.svg
  public/images/icons/communities.svg
  public/images/icons/economic.svg
  public/images/icons/education.svg
  public/images/icons/energy.svg
  public/images/icons/genderEquality.svg
  public/images/icons/goal.svg
  public/images/icons/health.svg
  public/images/icons/hunger.svg
  public/images/icons/inequalitie.svg
  public/images/icons/infrastructure.svg
  public/images/icons/land.svg
  public/images/icons/peace.svg
  public/images/icons/poverty.svg
  public/images/icons/production.svg
  public/images/icons/water.svg
  templates/rights-retention/index.jsx
  templates/sdg/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

file upload issue
  components/pdf-upload/index.jsx
Due: npm run lint:js -- --fix

CORE-5076: add videp
  components/pdf-upload/sdgUploadSuccess.jsx
  components/pdf-upload/styles.module.scss
  templates/sdg/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Core 5076 sdg demo webpage (#1260)
  components/pdf-upload/defaultUpload.jsx
  components/pdf-upload/formatUpload.jsx
  components/pdf-upload/index.jsx
  components/pdf-upload/sdgUploadSuccess.jsx
  components/pdf-upload/sizeUploadIssue.jsx
  components/pdf-upload/styles.module.scss
  components/pdf-upload/uploadFail.jsx
  data/retention.yml
  data/sdg.yml
  env.config.js
  pages/labs/sdg.jsx
  public/images/icons/allSdg.svg
  public/images/icons/belowWater.svg
  public/images/icons/climate.svg
  public/images/icons/communities.svg
  public/images/icons/economic.svg
  public/images/icons/education.svg
  public/images/icons/energy.svg
  public/images/icons/genderEquality.svg
  public/images/icons/goal.svg
  public/images/icons/health.svg
  public/images/icons/hunger.svg
  public/images/icons/inequalitie.svg
  public/images/icons/infrastructure.svg
  public/images/icons/land.svg
  public/images/icons/peace.svg
  public/images/icons/poverty.svg
  public/images/icons/production.svg
  public/images/icons/water.svg
  public/images/services/goals.svg
  public/images/services/openUniversity.svg
  templates/rights-retention/index.jsx
  templates/sdg/index.jsx
  templates/sdg/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Core 5076 sdg demo webpage (#1260) (#1261)
  components/pdf-upload/defaultUpload.jsx
  components/pdf-upload/formatUpload.jsx
  components/pdf-upload/index.jsx
  components/pdf-upload/sdgUploadSuccess.jsx
  components/pdf-upload/sizeUploadIssue.jsx
  components/pdf-upload/styles.module.scss
  components/pdf-upload/uploadFail.jsx
  data/retention.yml
  data/sdg.yml
  env.config.js
  pages/labs/sdg.jsx
  public/images/icons/allSdg.svg
  public/images/icons/belowWater.svg
  public/images/icons/climate.svg
  public/images/icons/communities.svg
  public/images/icons/economic.svg
  public/images/icons/education.svg
  public/images/icons/energy.svg
  public/images/icons/genderEquality.svg
  public/images/icons/goal.svg
  public/images/icons/health.svg
  public/images/icons/hunger.svg
  public/images/icons/inequalitie.svg
  public/images/icons/infrastructure.svg
  public/images/icons/land.svg
  public/images/icons/peace.svg
  public/images/icons/poverty.svg
  public/images/icons/production.svg
  public/images/icons/water.svg
  public/images/services/goals.svg
  public/images/services/openUniversity.svg
  templates/rights-retention/index.jsx
  templates/sdg/index.jsx
  templates/sdg/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-5076: add text update
  data/sdg.yml
  templates/sdg/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE-5076: add text update (#1262)
  data/sdg.yml
  templates/sdg/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE-5076: add text update (#1262) (#1263)
  data/sdg.yml
  templates/sdg/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE-5082: update logos
  data/endorsements.yml
  public/images/logos/UKCORR_logo.png
  public/images/logos/microsoft_logo.png
  public/images/people/burtonDavis.png
Due: none

CORE-5082: update logos (#1264)
  data/endorsements.yml
  public/images/logos/UKCORR_logo.png
  public/images/logos/microsoft_logo.png
  public/images/people/burtonDavis.png
Due: none

CORE-5082: update logos (#1264) (#1265)
  data/endorsements.yml
  public/images/logos/UKCORR_logo.png
  public/images/logos/microsoft_logo.png
  public/images/people/burtonDavis.png
Due: none

CORE-5082: fix icon view
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Core 5082 add log (#1266)
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Core 5082 add log (#1266) (#1267)
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: fix file accept format
  components/pdf-upload/defaultUpload.jsx
  components/pdf-upload/formatUpload.jsx
  components/pdf-upload/sdgUploadSuccess.jsx
  components/pdf-upload/sizeUploadIssue.jsx
  components/pdf-upload/uploadFail.jsx
  components/pdf-upload/uploadSuccess.jsx
Due: npm run lint:js -- --fix

CORE: fix file accept format (#1268)
  components/pdf-upload/defaultUpload.jsx
  components/pdf-upload/formatUpload.jsx
  components/pdf-upload/sdgUploadSuccess.jsx
  components/pdf-upload/sizeUploadIssue.jsx
  components/pdf-upload/uploadFail.jsx
  components/pdf-upload/uploadSuccess.jsx
Due: npm run lint:js -- --fix

CORE: fix file accept format (#1268) (#1269)
  components/pdf-upload/defaultUpload.jsx
  components/pdf-upload/formatUpload.jsx
  components/pdf-upload/sdgUploadSuccess.jsx
  components/pdf-upload/sizeUploadIssue.jsx
  components/pdf-upload/uploadFail.jsx
  components/pdf-upload/uploadSuccess.jsx
Due: npm run lint:js -- --fix

CORE-5090: logo update
  data/endorsements.yml
  data/home.yml
Due: none

CORE: fix update pdf
  components/pdf-upload/defaultUpload.jsx
  components/pdf-upload/formatUpload.jsx
  components/pdf-upload/index.jsx
  data/sdg.yml
Due: npm run lint:js -- --fix

CORE: fix update pdf (#1270)
  components/pdf-upload/defaultUpload.jsx
  components/pdf-upload/formatUpload.jsx
  components/pdf-upload/index.jsx
  data/sdg.yml
Due: npm run lint:js -- --fix

CORE: fix update pdf (#1270) (#1271)
  components/pdf-upload/defaultUpload.jsx
  components/pdf-upload/formatUpload.jsx
  components/pdf-upload/index.jsx
  data/sdg.yml
Due: npm run lint:js -- --fix

CORE: format update
  components/pdf-upload/index.jsx
Due: npm run lint:js -- --fix

CORE: format update (#1272)
  components/pdf-upload/index.jsx
Due: npm run lint:js -- --fix

CORE: format update (#1272) (#1273)
  components/pdf-upload/index.jsx
Due: npm run lint:js -- --fix

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
