Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Revert "[feature] Update package lock (#872) (#873)" (#875)
  package-lock.json
Due: npm run lint:json -- --write

Feature/docss upd (#874)
  README.md
  package-lock.json
Due: npm run lint:json -- --write

Feature/docss upd (#874) (#876)
  README.md
  package-lock.json
Due: npm run lint:json -- --write

[CORE-4419] First template
  data/payment.yml
  pages/membership-request-status/success.jsx
  store/membership.js
  templates/member/starting/verify-registered.jsx
  templates/member/styles.module.scss
  templates/member/success.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

[CORE-4419] Add option typeRepository
  api/services.js
  data/payment.yml
  pages/membership-request-status/success.jsx
  store/membership.js
  templates/member/starting/organisations_fee.jsx
  templates/member/starting/verify_anonymous.jsx
  templates/member/success.jsx
Due: npm run lint:js -- --fix

[CORE-4419] Fix link
  data/membership.yml
Due: none

[CORE-4419] Updatte logic
  core.routes.yml
  data/payment.yml
  store/membership.js
  templates/member/starting/verify_anonymous.jsx
  templates/member/styles.module.scss
  templates/member/success.jsx
  templates/membership/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

[CORE-4419] Update logic
  api/services.js
  pages/membership-request-status/success.jsx
  store/membership.js
  templates/member/success.jsx
Due: npm run lint:js -- --fix

[CORE-4419] Update logic
  api/services.js
  store/membership.js
Due: npm run lint:js -- --fix

[CORE-4419] Implement second request
  pages/member/[slug].jsx
  pages/membership-request-status/success.jsx
  store/membership.js
  templates/member/starting/organisations_fee.jsx
  templates/member/starting/verify-registered.jsx
  templates/member/starting/verify_anonymous.jsx
  templates/member/success.jsx
Due: npm run lint:js -- --fix

[CORE-4419] Add btn on hold
  store/membership.js
  templates/member/starting/verify-registered.jsx
  templates/member/starting/verify_anonymous.jsx
  templates/member/styles.module.scss
  templates/member/success.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

[CORE-4419] Style update
  templates/member/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE-4506 updata page
  components/utils.js
  data/data.yml
  design-v2/highlight-section/highlight-section.module.scss
  pages/data/index.jsx
  pages/data/styles.module.scss
  public/images/coreApi.svg
  public/images/coreDataset.svg
  public/images/coreFastSync.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4506 updata page (#878)
  components/utils.js
  data/data.yml
  design-v2/highlight-section/highlight-section.module.scss
  pages/data/index.jsx
  pages/data/styles.module.scss
  public/images/coreApi.svg
  public/images/coreDataset.svg
  public/images/coreFastSync.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4506 updata page (#878) (#879)
  components/utils.js
  data/data.yml
  design-v2/highlight-section/highlight-section.module.scss
  pages/data/index.jsx
  pages/data/styles.module.scss
  public/images/coreApi.svg
  public/images/coreDataset.svg
  public/images/coreFastSync.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

core-4419 Implement new user flow for the Starting membership (#877)
  api/services.js
  core.routes.yml
  data/membership.yml
  data/payment.yml
  pages/member/[slug].jsx
  pages/membership-request-status/success.jsx
  store/membership.js
  templates/member/starting/organisations_fee.jsx
  templates/member/starting/verify-registered.jsx
  templates/member/starting/verify_anonymous.jsx
  templates/member/styles.module.scss
  templates/member/success.jsx
  templates/membership/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

core-4419 Implement new user flow for the Starting membership (#877) (#880)
  api/services.js
  core.routes.yml
  data/membership.yml
  data/payment.yml
  pages/member/[slug].jsx
  pages/membership-request-status/success.jsx
  store/membership.js
  templates/member/starting/organisations_fee.jsx
  templates/member/starting/verify-registered.jsx
  templates/member/starting/verify_anonymous.jsx
  templates/member/styles.module.scss
  templates/member/success.jsx
  templates/membership/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update: CORE-4510 benefits page
  data/benefits.yml
  design-v2/benefits/index.jsx
  design-v2/benefits/styles.module.scss
  public/images/benefits/indexed-by-core.svg
  public/images/benefits/join-arrow.svg
  public/images/benefits/join-circle.svg
  public/images/benefits/join-core.svg
  public/images/benefits/open-access-join.svg
  public/images/services/membership.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update count
  data/benefits.yml
  webpack/statistics.json
Due: npm run lint:json -- --write

update: CORE-4510 benefits page (#881)
  data/benefits.yml
  design-v2/benefits/index.jsx
  design-v2/benefits/styles.module.scss
  public/images/benefits/indexed-by-core.svg
  public/images/benefits/join-arrow.svg
  public/images/benefits/join-circle.svg
  public/images/benefits/join-core.svg
  public/images/benefits/open-access-join.svg
  public/images/services/membership.svg
  webpack/statistics.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

update: CORE-4510 benefits page (#881) (#882)
  data/benefits.yml
  design-v2/benefits/index.jsx
  design-v2/benefits/styles.module.scss
  public/images/benefits/indexed-by-core.svg
  public/images/benefits/join-arrow.svg
  public/images/benefits/join-circle.svg
  public/images/benefits/join-core.svg
  public/images/benefits/open-access-join.svg
  public/images/services/membership.svg
  webpack/statistics.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

update text and toggler
  data/community/supporters.yml
  data/services/api.yml
  data/services/dataset.yml
  data/services/fastsync.yml
  data/services/recommender.yml
  data/services/repository-dashboard.yml
  netlify-cms.config.yml
  templates/membership/details-table.jsx
  templates/membership/hooks/useTable.jsx
Due: npm run lint:js -- --fix

update text and toggler (#883)
  data/community/supporters.yml
  data/services/api.yml
  data/services/dataset.yml
  data/services/fastsync.yml
  data/services/recommender.yml
  data/services/repository-dashboard.yml
  netlify-cms.config.yml
  templates/membership/details-table.jsx
  templates/membership/hooks/useTable.jsx
Due: npm run lint:js -- --fix

update text and toggler (#883) (#884)
  data/community/supporters.yml
  data/services/api.yml
  data/services/dataset.yml
  data/services/fastsync.yml
  data/services/recommender.yml
  data/services/repository-dashboard.yml
  netlify-cms.config.yml
  templates/membership/details-table.jsx
  templates/membership/hooks/useTable.jsx
Due: npm run lint:js -- --fix

add images to resources
  public/resources/core_starting_member_line.svg
  public/resources/core_starting_member_square.svg
  public/resources/core_supporting_member_line.svg
  public/resources/core_supporting_member_square.svg
  public/resources/core_sustaining_member_line.svg
  public/resources/core_sustaining_member_square.svg
  public/resources/indexed_by_core.svg
Due: none

add images to resources (#885)
  public/resources/core_starting_member_line.svg
  public/resources/core_starting_member_square.svg
  public/resources/core_supporting_member_line.svg
  public/resources/core_supporting_member_square.svg
  public/resources/core_sustaining_member_line.svg
  public/resources/core_sustaining_member_square.svg
  public/resources/indexed_by_core.svg
Due: none

add images to resources (#885) (#886)
  public/resources/core_starting_member_line.svg
  public/resources/core_starting_member_square.svg
  public/resources/core_supporting_member_line.svg
  public/resources/core_supporting_member_square.svg
  public/resources/core_sustaining_member_line.svg
  public/resources/core_sustaining_member_square.svg
  public/resources/indexed_by_core.svg
Due: none

images to resources
  public/images/resources/core_starting_member_line.svg
  public/images/resources/core_starting_member_square.svg
  public/images/resources/core_supporting_member_line.svg
  public/images/resources/core_supporting_member_square.svg
  public/images/resources/core_sustaining_member_line.svg
  public/images/resources/core_sustaining_member_square.svg
  public/images/resources/indexed_by_core.svg
Due: none

images to resources (#887)
  public/images/resources/core_starting_member_line.svg
  public/images/resources/core_starting_member_square.svg
  public/images/resources/core_supporting_member_line.svg
  public/images/resources/core_supporting_member_square.svg
  public/images/resources/core_sustaining_member_line.svg
  public/images/resources/core_sustaining_member_square.svg
  public/images/resources/indexed_by_core.svg
Due: none

images to resources (#887) (#888)
  public/images/resources/core_starting_member_line.svg
  public/images/resources/core_starting_member_square.svg
  public/images/resources/core_supporting_member_line.svg
  public/images/resources/core_supporting_member_square.svg
  public/images/resources/core_sustaining_member_line.svg
  public/images/resources/core_sustaining_member_square.svg
  public/images/resources/indexed_by_core.svg
Due: none

CORE-4511 badge nav
  data/membership.yml
Due: none

CORE-4511 badge nav (#889)
  data/membership.yml
Due: none

CORE-4511 badge nav (#889) (#890)
  data/membership.yml
Due: none

update version
  package-lock.json
  package.json
Due: npm run lint:json -- --write

update design version
  package-lock.json
Due: npm run lint:json -- --write

update design version (#892)
  package-lock.json
Due: npm run lint:json -- --write

update design version (#892) (#893)
  package-lock.json
Due: npm run lint:json -- --write

[feature] Fix load logo
  templates/community/supporters/index.jsx
Due: npm run lint:js -- --fix

[feature] Fix load logo (#894)
  templates/community/supporters/index.jsx
Due: npm run lint:js -- --fix

[feature] Fix load logo (#894) (#895)
  templates/community/supporters/index.jsx
Due: npm run lint:js -- --fix

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
