Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

CORE-bsd linking update (#1054) (#1055)
  data/research-outputs.yml
  pages/about/research-outputs.jsx
Due: npm run lint:js -- --fix

CORE: btn view
  design-v2/benefits/index.jsx
Due: npm run lint:js -- --fix

CORE: btn view (#1056)
  design-v2/benefits/index.jsx
Due: npm run lint:js -- --fix

CORE: btn view (#1056) (#1057)
  design-v2/benefits/index.jsx
Due: npm run lint:js -- --fix

CORE-4775: updates
  core.routes.yml
  data/openAccess.yml
  main/index.jsx
  main/styles.module.scss
  pages/about/about.module.scss
  pages/about/index.jsx
  public/images/services/guide.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4775: updates (#1058)
  core.routes.yml
  data/openAccess.yml
  main/index.jsx
  main/styles.module.scss
  pages/about/about.module.scss
  pages/about/index.jsx
  public/images/services/guide.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4775: updates (#1058) (#1059)
  core.routes.yml
  data/openAccess.yml
  main/index.jsx
  main/styles.module.scss
  pages/about/about.module.scss
  pages/about/index.jsx
  public/images/services/guide.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4775: styles
  main/styles.module.scss
  pages/about/about.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE-4775: styles (#1060)
  main/styles.module.scss
  pages/about/about.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE-4775: styles (#1060) (#1061)
  main/styles.module.scss
  pages/about/about.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE-docs: update structure
  data/benefits.yml
  data/membership.yml
  data/openAccess.yml
  pages/documentation/data-providers-guide.jsx
  pages/documentation/membership-documentation.jsx
  pages/documentations/index.jsx
  pages/documentations/styles.module.scss
  templates/documentation/data-providers-guide/index.jsx
  templates/documentation/data-providers-guide/styles.module.scss
  templates/documentation/membership-documentation/index.jsx
  templates/documentation/membership-documentation/styles.module.scss
  templates/documentations/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-docs: update structure (#1062)
  data/benefits.yml
  data/membership.yml
  data/openAccess.yml
  pages/documentation/data-providers-guide.jsx
  pages/documentation/membership-documentation.jsx
  pages/documentations/index.jsx
  pages/documentations/styles.module.scss
  templates/documentation/data-providers-guide/index.jsx
  templates/documentation/data-providers-guide/styles.module.scss
  templates/documentation/membership-documentation/index.jsx
  templates/documentation/membership-documentation/styles.module.scss
  templates/documentations/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-docs: update structure (#1062) (#1063)
  data/benefits.yml
  data/membership.yml
  data/openAccess.yml
  pages/documentation/data-providers-guide.jsx
  pages/documentation/membership-documentation.jsx
  pages/documentations/index.jsx
  pages/documentations/styles.module.scss
  templates/documentation/data-providers-guide/index.jsx
  templates/documentation/data-providers-guide/styles.module.scss
  templates/documentation/membership-documentation/index.jsx
  templates/documentation/membership-documentation/styles.module.scss
  templates/documentations/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-docs: update redirect
  data/benefits.yml
  data/membership.yml
  data/openAccess.yml
Due: none

CORE-docs: update redirect (#1064)
  data/benefits.yml
  data/membership.yml
  data/openAccess.yml
Due: none

CORE-docs: update redirect (#1064) (#1065)
  data/benefits.yml
  data/membership.yml
  data/openAccess.yml
Due: none

CORE-4784: create dropdown
  components/docs-select/index.jsx
  components/docs-select/styles.module.scss
  public/images/dropArrow.svg
  templates/documentation/data-providers-guide/index.jsx
  templates/documentation/data-providers-guide/styles.module.scss
  templates/documentation/membership-documentation/index.jsx
  templates/documentation/membership-documentation/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4518: link update
  data/benefits.yml
Due: none

Core 4518 join us flow (#1066)
  data/benefits.yml
  design-v2/benefits/GratitudeModal.jsx
  design-v2/benefits/benefitsForm.jsx
  design-v2/benefits/benefitsSecondStep.jsx
  design-v2/benefits/index.jsx
  design-v2/benefits/joinForm.jsx
  design-v2/benefits/styles.module.scss
  report.20230517.140705.4715.0.001.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Core 4518 join us flow (#1066) (#1067)
  data/benefits.yml
  design-v2/benefits/GratitudeModal.jsx
  design-v2/benefits/benefitsForm.jsx
  design-v2/benefits/benefitsSecondStep.jsx
  design-v2/benefits/index.jsx
  design-v2/benefits/joinForm.jsx
  design-v2/benefits/styles.module.scss
  report.20230517.140705.4715.0.001.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Update pack lock
  package-lock.json
Due: npm run lint:json -- --write

Update pull-request check
  .github/workflows/pull-request-check.yml
Due: none

Update pack lock (#1068)
  package-lock.json
Due: npm run lint:json -- --write

Eslint
  components/hero/index.jsx
  design-v2/components/membership-table/index.jsx
  templates/membership/index.jsx
Due: npm run lint:js -- --fix

Pack lock update (#1070)
  components/hero/index.jsx
  design-v2/components/membership-table/index.jsx
  templates/membership/index.jsx
Due: npm run lint:js -- --fix

Update pack lock
  package.json
Due: npm run lint:json -- --write

Pack lock update v2 (#1073)
  package-lock.json
  package.json
Due: npm run lint:json -- --write

Fix deploy (#1074)
  components/hero/index.jsx
  design-v2/components/membership-table/index.jsx
  package-lock.json
  package.json
  templates/membership/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

CORE-4784: docs update
  components/docs-select/styles.module.scss
  components/layout/layout.jsx
  package-lock.json
  templates/documentation/data-providers-guide/index.jsx
  templates/documentation/data-providers-guide/styles.module.scss
  templates/documentation/membership-documentation/index.jsx
  templates/documentation/membership-documentation/styles.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

merge master
  components/hero/index.jsx
  data/benefits.yml
  design-v2/benefits/GratitudeModal.jsx
  design-v2/benefits/benefitsForm.jsx
  design-v2/benefits/benefitsSecondStep.jsx
  design-v2/benefits/index.jsx
  design-v2/benefits/joinForm.jsx
  design-v2/benefits/styles.module.scss
  design-v2/components/membership-table/index.jsx
  package.json
  templates/membership/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Core 4784 UI docs page (#1075)
  components/docs-select/index.jsx
  components/docs-select/styles.module.scss
  components/layout/layout.jsx
  package-lock.json
  public/images/dropArrow.svg
  report.20230517.140705.4715.0.001.json
  templates/documentation/data-providers-guide/index.jsx
  templates/documentation/data-providers-guide/styles.module.scss
  templates/documentation/membership-documentation/index.jsx
  templates/documentation/membership-documentation/styles.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Core 4784 UI docs page (#1075) (#1076)
  components/docs-select/index.jsx
  components/docs-select/styles.module.scss
  components/layout/layout.jsx
  package-lock.json
  public/images/dropArrow.svg
  report.20230517.140705.4715.0.001.json
  templates/documentation/data-providers-guide/index.jsx
  templates/documentation/data-providers-guide/styles.module.scss
  templates/documentation/membership-documentation/index.jsx
  templates/documentation/membership-documentation/styles.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE-4792: add benefited section
  data/membership.yml
  public/images/membership/chicago.svg
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4792: add benefited section (#1077)
  data/membership.yml
  public/images/membership/chicago.svg
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4792: add benefited section (#1077) (#1078)
  data/membership.yml
  public/images/membership/chicago.svg
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4518: update modal render
  data/benefits.yml
  design-v2/benefits/benefitsForm.jsx
  design-v2/benefits/benefitsSecondStep.jsx
  design-v2/benefits/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4518: remove report file
  .gitignore
  report.20230517.140705.4715.0.001.json
Due: npm run lint:json -- --write

Core 4518 join us flow (#1079)
  .gitignore
  data/benefits.yml
  design-v2/benefits/benefitsForm.jsx
  design-v2/benefits/benefitsSecondStep.jsx
  design-v2/benefits/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write
