Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

Add quote,fix text on dataset and api page, fix container problems(temporary)
  components/content/content.module.scss
  components/pages/service.module.scss
  data/endorsements.yml
  data/registration.yml
  data/services/api.yml
  data/services/dataset.yml
  pages/services/index.jsx
  public/images/people/ali-mazraeh.jpeg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update/adri quote (#578)
  components/content/content.module.scss
  components/pages/service.module.scss
  data/endorsements.yml
  data/registration.yml
  data/services/api.yml
  data/services/dataset.yml
  pages/services/index.jsx
  public/images/people/ali-mazraeh.jpeg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update/adri quote (#578) (#579)
  components/content/content.module.scss
  components/pages/service.module.scss
  data/endorsements.yml
  data/registration.yml
  data/services/api.yml
  data/services/dataset.yml
  pages/services/index.jsx
  public/images/people/ali-mazraeh.jpeg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

init membership page
  core.routes.yml
  data/membership.yml
  design-v2/components/index.js
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  package-lock.json
  pages/about/index.jsx
  pages/membership/index.jsx
  pages/membership/styles.module.scss
  public/images/membership/international-cooperation.svg
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Init support section
  data/membership.yml
  design-v2/components/membership-table/index.jsx
  pages/membership/index.jsx
  pages/membership/styles.module.scss
  public/images/membership/supporting.svg
  public/images/membership/sustaining.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Add error validator
  pages/oai_resolver/[...slug].jsx
  pages/oai_resolver/oai_resolver_form.jsx
Due: npm run lint:js -- --fix

Add error validator (#580)
  pages/oai_resolver/[...slug].jsx
  pages/oai_resolver/oai_resolver_form.jsx
Due: npm run lint:js -- --fix

update config
  README.md
Due: none

update config (#582)
  README.md
Due: none

Init Form
  components/modal/registration/form.jsx
  components/utils.js
  core.routes.yml
  data/membership.yml
  data/payment.yml
  data/services/discovery.yml
  design-v2/benefits/index.jsx
  design-v2/components/list-box/index.jsx
  design-v2/components/list-box/styles.module.scss
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  design-v2/components/search-form/index.jsx
  design.config.js
  env.config.js
  hooks/use-select.js
  package-lock.json
  pages/benefits.jsx
  pages/membership/[slug].jsx
  pages/membership/index.jsx
  pages/payment/index.jsx
  store/data-providers.js
  store/membership.js
  store/root.js
  templates/membership/assets/line.svg
  templates/membership/details-table.jsx
  templates/membership/hooks/useTable.jsx
  templates/membership/index.jsx
  templates/membership/prices.jsx
  templates/membership/styles.module.scss
  templates/payment/form/field.jsx
  templates/payment/form/hooks/use-select.js
  templates/payment/form/select.jsx
  templates/payment/index.jsx
  templates/payment/styles.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

packagelock upd
  package-lock.json
Due: npm run lint:json -- --write

Fix/vercel test (#583)
  package-lock.json
Due: npm run lint:json -- --write

Add error validator (#580) (#581)
  README.md
  package-lock.json
  pages/oai_resolver/[...slug].jsx
  pages/oai_resolver/oai_resolver_form.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Create payment section
  core.routes.yml
  data/membership.yml
  data/payment.yml
  design-v2/components/index.js
  design-v2/components/list-box/index.jsx
  design-v2/components/list-box/styles.module.scss
  design-v2/components/text-box/index.jsx
  design-v2/components/text-box/styles.module.scss
  design.config.js
  package-lock.json
  package.json
  pages/payment/success.jsx
  public/images/membership/email.svg
  store/membership.js
  templates/membership/details-table.jsx
  templates/membership/prices.jsx
  templates/membership/styles.module.scss
  templates/payment/form/field.jsx
  templates/payment/form/hooks/index.js
  templates/payment/form/hooks/use-select.js
  templates/payment/form/index.jsx
  templates/payment/form/select.jsx
  templates/payment/form/styles.module.scss
  templates/payment/index.jsx
  templates/payment/styles.module.scss
  templates/payment/success.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

update pack-lock
  package-lock.json
Due: npm run lint:json -- --write

Update membership template
  components/layout/layout.jsx
  components/layout/layout.scss
  data/membership.yml
  data/payment.yml
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  package-lock.json
  package.json
  templates/membership/index.jsx
  templates/membership/styles.module.scss
  templates/payment/form/hooks/use-select.js
  templates/payment/form/index.jsx
  templates/payment/form/select.jsx
  templates/payment/form/styles.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Update funders section
  data/home.yml
Due: none

Update funders section (#585)
  data/home.yml
Due: none

Update home page text (#586)
  data/home.yml
Due: none

FIX master branch (#587)
  data/home.yml
Due: none

Update/home page funders (#588)
  data/home.yml
Due: none

Update/home page funders (#588) (#589)
  data/home.yml
Due: none

fix
  hooks/use-input.js
Due: npm run lint:js -- --fix

Update styles and endpoint (add error component)
  api/services.js
  core.routes.yml
  data/membership.yml
  data/payment.yml
  design-v2/components/error/index.jsx
  design-v2/components/error/styles.module.scss
  design-v2/components/index.js
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  env.config.js
  pages/index.module.scss
  pages/membership/[slug].jsx
  pages/payment/error.jsx
  pages/payment/index.jsx
  pages/payment/success.jsx
  public/images/membership/error.svg
  store/membership.js
  templates/membership/prices.jsx
  templates/membership/styles.module.scss
  templates/payment/form/index.jsx
  templates/payment/form/select.jsx
  templates/payment/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update error page text
  data/payment.yml
  design-v2/components/error/index.jsx
  design-v2/components/error/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Add OAI slide
  data/home.yml
  design-v2/components/hero/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Update/home page slides (#595)
  data/home.yml
  design-v2/components/hero/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Update/home page slides (#595) (#596)
  data/home.yml
  design-v2/components/hero/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

update placeholder
  pages/oai_resolver/oai_resolver_form.jsx
Due: npm run lint:js -- --fix

Fix on enter
  hooks/use-input.js
Due: npm run lint:js -- --fix

FIX/Input_update (#591)
  hooks/use-input.js
  pages/oai_resolver/oai_resolver_form.jsx
Due: npm run lint:js -- --fix

FIX/Input_update (#591) (#597)
  hooks/use-input.js
  pages/oai_resolver/oai_resolver_form.jsx
Due: npm run lint:js -- --fix

Added new collection to netlify CMS for the community
  netlify-cms.config.yml
Due: none

Improve logic of creating single quote
  netlify-cms.config.yml
Due: none

Update logic of creating single quote (#410)
  netlify-cms.config.yml
Due: none

Revert "oai resolve page (#466)" (#480)
  public/images/oai_resolve/explore.png
Due: none
