Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

Create community page (#655) (#656)
  data/community/home.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  package-lock.json
  pages/community/community.module.scss
  pages/community/index.jsx
  public/images/community/community.svg
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Remove link to membership from home page
  data/home.yml
Due: none

Add new faq question to aggregations
  data/faq.yml
Due: none

Add new faq question to aggregations (#657)
  data/faq.yml
Due: none

Add new faq question to aggregations (#657) (#658)
  data/faq.yml
Due: none

Init new fast sync page
  data/services/fastsync.yml
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  pages/services/fastsync.jsx
  public/images/services/hosting-man.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Init new recommender page
  data/services/api.yml
  data/services/recommender.yml
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  pages/services/recommender.jsx
  public/images/screenshots/recommender2.png
  public/images/services/profiles.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update text and styles
  components/utils.js
  data/home.yml
  data/membership.yml
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  pages/about/index.jsx
  pages/membership/[slug].jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update membership.yml
  data/membership.yml
Due: none

Fix problem with uncorrect link usage
  components/page/page.scss
  pages/about/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Fix problem with uncorrect link usage (#662)
  components/page/page.scss
  pages/about/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Fix problem with uncorrect link usage (#662) (#663)
  components/page/page.scss
  pages/about/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Create base board of supporters page. Need connection to API.
  core.routes.yml
  data/community/home.yml
  data/community/supporters.yml
  design-v2/components/hero/index.jsx
  design-v2/components/layout/styles.module.scss
  package-lock.json
  package.json
  pages/community/community.module.scss
  pages/community/index.jsx
  pages/community/supporters.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Update flyer
  data/membership.yml
  pages/membership/[slug].jsx
  public/resources/core-membership-flyer.pdf
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Disable prices page
  pages/membership/[slug].jsx
Due: npm run lint:js -- --fix

Init new recommender page (#659)
  data/services/api.yml
  data/services/recommender.yml
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  pages/services/recommender.jsx
  public/images/screenshots/recommender2.png
  public/images/services/profiles.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Init new recommender page (#659) (#664)
  data/services/api.yml
  data/services/recommender.yml
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  pages/services/recommender.jsx
  public/images/screenshots/recommender2.png
  public/images/services/profiles.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update slug
  data/community/home.yml
Due: none

Update research url
  data/community/home.yml
Due: none

Core 4337/board of supporters page (#665)
  core.routes.yml
  data/community/home.yml
  data/community/supporters.yml
  design-v2/components/hero/index.jsx
  design-v2/components/layout/styles.module.scss
  package-lock.json
  package.json
  pages/community/community.module.scss
  pages/community/index.jsx
  pages/community/supporters.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Core 4337/board of supporters page (#665) (#666)
  core.routes.yml
  data/community/home.yml
  data/community/supporters.yml
  design-v2/components/hero/index.jsx
  design-v2/components/layout/styles.module.scss
  package-lock.json
  package.json
  pages/community/community.module.scss
  pages/community/index.jsx
  pages/community/supporters.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Update button text and remove unused field
  data/membership.yml
Due: none

Update design version
  package-lock.json
Due: npm run lint:json -- --write

Update design version (#668)
  package-lock.json
Due: npm run lint:json -- --write

Update design version (#668) (#669)
  package-lock.json
Due: npm run lint:json -- --write

Update text and design version
  data/membership.yml
  package-lock.json
Due: npm run lint:json -- --write

Update/membership text (#671)
  data/membership.yml
  package-lock.json
Due: npm run lint:json -- --write

Update/membership text (#671) (#672)
  data/membership.yml
  package-lock.json
Due: npm run lint:json -- --write

Connect API
  design.config.js
  pages/community/community.module.scss
  pages/community/hooks/useTable.jsx
  pages/community/supporters.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update useTable hook
  pages/community/hooks/useTable.jsx
Due: npm run lint:js -- --fix

Update template logic
  pages/community/community.module.scss
  pages/community/supporters.jsx
  templates/community/supporters/hooks/useTable.jsx
  templates/community/supporters/index.jsx
  templates/community/supporters/supporters.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Fix search-bar bug
  templates/community/supporters/hooks/useTable.jsx
Due: npm run lint:js -- --fix

update flyer
  public/resources/core-membership-flyer.pdf
Due: none

Connect real data to supporters table (#673)
  design.config.js
  pages/community/community.module.scss
  pages/community/supporters.jsx
  public/resources/core-membership-flyer.pdf
  templates/community/supporters/hooks/useTable.jsx
  templates/community/supporters/index.jsx
  templates/community/supporters/supporters.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Connect real data to supporters table (#673) (#674)
  design.config.js
  pages/community/community.module.scss
  pages/community/supporters.jsx
  public/resources/core-membership-flyer.pdf
  templates/community/supporters/hooks/useTable.jsx
  templates/community/supporters/index.jsx
  templates/community/supporters/supporters.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update heading and form text
  data/benefits.yml
Due: none

Update heading and form text (#675)
  data/benefits.yml
Due: none

Update heading and form text (#675) (#676)
  data/benefits.yml
Due: none
