Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE: add missing nav item
  data/membership.yml
Due: none

CORE: add missing nav item small
  data/membership.yml
Due: none

Core sidbar missing item (#1175)
  data/membership.yml
Due: none

Core sidbar missing item (#1175) (#1176)
  data/membership.yml
Due: none

CORE-4914: add docs nav items to netlify
  data/dataProviders.yml
  data/membership.yml
  netlify-cms.config.yml
  templates/documentation/data-providers-guide/index.jsx
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix

Core sidbar missing item (#1177)
  data/dataProviders.yml
  data/membership.yml
  netlify-cms.config.yml
  templates/documentation/data-providers-guide/index.jsx
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix

Core sidbar missing item (#1177) (#1178)
  data/dataProviders.yml
  data/membership.yml
  netlify-cms.config.yml
  templates/documentation/data-providers-guide/index.jsx
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix

CORE: fix name issue
  netlify-cms.config.yml
Due: none

CORE: fix name issue (#1179)
  netlify-cms.config.yml
Due: none

CORE: fix name issue (#1179) (#1180)
  netlify-cms.config.yml
Due: none

CORE-4934: add new sections
  data/services.yml
Due: none

CORE-4934: add new sections (#1181)
  data/services.yml
Due: none

CORE-4934: add new sections (#1181) (#1182)
  data/services.yml
Due: none

CORE-4939: add link to about
  data/membership.yml
  package-lock.json
  public/images/redirectLink.svg
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

CORE-4939: add link to about (#1183)
  data/membership.yml
  package-lock.json
  public/images/redirectLink.svg
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

CORE-4939: add link to about (#1183) (#1184)
  data/membership.yml
  package-lock.json
  public/images/redirectLink.svg
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

CORE: test
  package-lock.json
Due: npm run lint:json -- --write

CORE: test (#1185)
  package-lock.json
Due: npm run lint:json -- --write

CORE: test (#1185) (#1186)
  package-lock.json
Due: npm run lint:json -- --write

netlify
  netlify-cms.config.yml
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix

netlify (#1187)
  netlify-cms.config.yml
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix

netlify (#1187) (#1188)
  netlify-cms.config.yml
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix

CORE: test package update
  package-lock.json
Due: npm run lint:json -- --write

CORE: test package update (#1189)
  package-lock.json
Due: npm run lint:json -- --write

CORE: test package update (#1189) (#1190)
  package-lock.json
Due: npm run lint:json -- --write

CORE: remove dev dep
  package-lock.json
Due: npm run lint:json -- --write

CORE: remove dev dep (#1191)
  package-lock.json
Due: npm run lint:json -- --write

CORE: remove dev dep (#1191) (#1192)
  package-lock.json
Due: npm run lint:json -- --write

CORE-4914: add service pages
  data/membership.yml
  data/services.yml
  data/sponsorship.yml
  netlify-cms.config.yml
  pages/membership/[slug].jsx
  pages/membership/index.jsx
  pages/services/index.jsx
  pages/sponsorship/index.jsx
  public/images/membership/belfast.png
  public/images/membership/bristol.svg
  public/images/membership/chicago.svg
  public/images/membership/city.svg
  public/images/membership/contact.svg
  public/images/membership/george.svg
  public/images/membership/howToSponsor.svg
  public/images/membership/kent.png
  public/images/membership/lancaster.svg
  public/images/membership/sponsorship.svg
  public/images/membership/supporting.svg
  public/images/membership/sustaining.svg
  public/images/membership/videoPreview.svg
  public/images/ora.svg
  public/images/pdfView.svg
  templates/membership/index.jsx
  templates/membership/prices.jsx
  templates/sponsorships/index.jsx
Due: npm run lint:js -- --fix

CORE-4914: add service pages (#1193)
  data/membership.yml
  data/services.yml
  data/sponsorship.yml
  netlify-cms.config.yml
  pages/membership/[slug].jsx
  pages/membership/index.jsx
  pages/services/index.jsx
  pages/sponsorship/index.jsx
  public/images/membership/belfast.png
  public/images/membership/bristol.svg
  public/images/membership/chicago.svg
  public/images/membership/city.svg
  public/images/membership/contact.svg
  public/images/membership/george.svg
  public/images/membership/howToSponsor.svg
  public/images/membership/kent.png
  public/images/membership/lancaster.svg
  public/images/membership/sponsorship.svg
  public/images/membership/supporting.svg
  public/images/membership/sustaining.svg
  public/images/membership/videoPreview.svg
  public/images/ora.svg
  public/images/pdfView.svg
  templates/membership/index.jsx
  templates/membership/prices.jsx
  templates/sponsorships/index.jsx
Due: npm run lint:js -- --fix

CORE-4914: add service pages (#1193) (#1194)
  data/membership.yml
  data/services.yml
  data/sponsorship.yml
  netlify-cms.config.yml
  pages/membership/[slug].jsx
  pages/membership/index.jsx
  pages/services/index.jsx
  pages/sponsorship/index.jsx
  public/images/membership/belfast.png
  public/images/membership/bristol.svg
  public/images/membership/chicago.svg
  public/images/membership/city.svg
  public/images/membership/contact.svg
  public/images/membership/george.svg
  public/images/membership/howToSponsor.svg
  public/images/membership/kent.png
  public/images/membership/lancaster.svg
  public/images/membership/sponsorship.svg
  public/images/membership/supporting.svg
  public/images/membership/sustaining.svg
  public/images/membership/videoPreview.svg
  public/images/ora.svg
  public/images/pdfView.svg
  templates/membership/index.jsx
  templates/membership/prices.jsx
  templates/sponsorships/index.jsx
Due: npm run lint:js -- --fix

CORE-4966: updated fees
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  pages/membership/[slug].jsx
  templates/membership/prices.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4966: add undefined check
  design-v2/components/membership-table/index.jsx
  pages/membership/[slug].jsx
  templates/membership/prices.jsx
Due: npm run lint:js -- --fix

CORE-4966: remove unused check
  pages/membership/[slug].jsx
  templates/membership/prices.jsx
Due: npm run lint:js -- --fix

CORE-4966: updated fees (#1195)
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  pages/membership/[slug].jsx
  templates/membership/prices.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4966: updated fees (#1195) (#1196)
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  pages/membership/[slug].jsx
  templates/membership/prices.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4966: add indicator color
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  templates/membership/prices.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4966: add indicator color (#1197)
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  templates/membership/prices.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4966: add indicator color (#1197) (#1198)
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  templates/membership/prices.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4966: scroable table
  design-v2/components/membership-table/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
