Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

Update core.yml
  data/core.yml
Due: none

Remove the Browse link from the footer (#358)
  data/core.yml
Due: none

Correct typo in 'Microsoft' on the Dataset service
  data/services/dataset.yml
Due: none

Update FAQ about notifying CORE of take downs
  data/faq.yml
Due: none

Update FAQ about notifying CORE of take downs (#359)
  data/faq.yml
Due: none

Add utm_* marks to the COVID-19 link
  data/home.yml
Due: none

Update fastsync.md
  data/documentation/fastsync.md
Due: none

Update FastSync file size and hash (#360)
  data/documentation/fastsync.md
Due: none

Add citation contest section
  data/research-outputs.yml
Due: none

Add papers
  data/research-outputs.yml
Due: none

Fix header
  data/research-outputs.yml
Due: none

Add descriptions, fix title
  data/research-outputs.yml
Due: none

Fix typo
  data/research-outputs.yml
Due: none

Add "Supporting research evaluation" list of papers (#361)
  data/research-outputs.yml
Due: none

Add new dataset 2020, update licenses
  data/documentation/dataset.md
Due: none

Add new dataset 2020, update licenses (#362)
  data/documentation/dataset.md
Due: none

Move Alexander Huba to past members
  data/team.yml
Due: none

Update the mission statement
  data/about.yml
  pages/about/index.jsx
Due: npm run lint:js -- --fix

Update the mission statement (#363)
  data/about.yml
  pages/about/index.jsx
Due: npm run lint:js -- --fix

Replace contacts outro with a section
  data/contacts.yml
  pages/about/index.jsx
Due: npm run lint:js -- --fix

Replace contacts outro with a section (#365)
  data/contacts.yml
  pages/about/index.jsx
Due: npm run lint:js -- --fix

Update CORE Ambassadors subtitle
  data/ambassadors.yml
Due: none

Update @oacore/design
  package-lock.json
  package.json
Due: npm run lint:json -- --write

Add content repository
  .gitmodules
Due: none

Update tracking branch
  .gitmodules
Due: none

Update About page writing
  data/about.yml
  data/services.yml
Due: none

Fix texts
  data/about.yml
  data/services.yml
Due: none

Install @oacore/content as a package
  package-lock.json
  package.json
Due: npm run lint:json -- --write

Update About page writing (#369)
  data/about.yml
  data/services.yml
Due: none

Fix package-lock
  package-lock.json
Due: npm run lint:json -- --write

Remove @oacore/content
  package-lock.json
  package.json
Due: npm run lint:json -- --write

Dangerous upgrade
  package-lock.json
Due: npm run lint:json -- --write

Add postinstall script wiring the @oacore/content
  package-lock.json
  package.json
Due: npm run lint:json -- --write

Remove gitmodules
  .gitmodules
Due: none

Update terms of use for the Dataset
  data/services/dataset.yml
Due: none

Restructure the text
  data/services/dataset.yml
Due: none

Update terms of use for the Dataset (#370)
  data/services/dataset.yml
Due: none

Add content retrieving interface for GitHub
  content/index.js
  next.config.js
  package-lock.json
  package.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Connect Team section to oacore/content repository
  data/about.yml
  data/team.yml
  pages/about/index.jsx
Due: npm run lint:js -- --fix
