Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

Improve data providers search
  components/repositories-browser/index.jsx
Due: npm run lint:js -- --fix

Fix lint-staged with NPM
  .lintstagedrc
Due: none

add 3 promo texts
  data/resources.yml
Due: none

add 3 pdfs
  public/resources/core-adaptable-promo-text-gujarati.pdf
  public/resources/core-adaptable-promo-text-russian.pdf
  public/resources/core-adaptable-promo-text-ukrainian.pdf
Due: none

edit 3 promo tests
  data/resources.yml
Due: none

Fix Ukrainian file name
  data/resources.yml
Due: none

Add 3 adaptable promo text translations (#208)
  data/resources.yml
  public/resources/core-adaptable-promo-text-gujarati.pdf
  public/resources/core-adaptable-promo-text-russian.pdf
  public/resources/core-adaptable-promo-text-ukrainian.pdf
Due: none

Add adaptable promo text in Serbian
  data/resources.yml
  public/resources/core-adaptable-promo-text-serbian-cyrillic.pdf
  public/resources/core-adaptable-promo-text-serbian-latin.pdf
Due: none

Add notice about premium Dashboard
  data/ref-audit.md
Due: none

Add a notice about Dashboard premium (#211)
  data/ref-audit.md
Due: none

Replace Viktor Yakubiv's photo
  public/images/team/viktor-yakubiv.jpg
Due: none

Replace Viktor Yakubiv's photo (#212)
  public/images/team/viktor-yakubiv.jpg
Due: none

Add Rawia Awadallah as an ambassador
  data/ambassadors.yml
  public/images/people/rawia-awadallah.jpg
Due: none

Add Arabic and Greek promo texts
  data/resources.yml
  public/resources/core-adaptable-promo-text-arabic.pdf
  public/resources/core-adaptable-promo-text-greek.pdf
Due: none

Add Patrick McCrudden's photo, correct the surname
  data/ambassadors.yml
  public/images/people/patrick-mccrudden.jpg
Due: none

Add Switcher for the resource versions
  components/outreach-materials/index.jsx
  data/resources.yml
Due: npm run lint:js -- --fix

Improve OutreachMaterial component
  components/outreach-materials/index.jsx
  components/outreach-materials/outreach-materials.scss
  data/resources.yml
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Move business card down to the list
  data/resources.yml
Due: none

Display promo text on the About page
  pages/about/index.jsx
Due: npm run lint:js -- --fix

Update FastSync size to match the latest dataset
  data/documentation/fastsync.md
Due: none

Update Matteo's and David's roles
  data/team.yml
Due: none

Add promo text in Bangla
  data/resources.yml
  public/resources/core-adaptable-promo-text-bangla.pdf
Due: none

Make the resource counter automatic
  components/outreach-materials/index.jsx
  data/resources.yml
Due: npm run lint:js -- --fix

Add 4 more institutions
  data/endorsements.yml
  public/images/logos/chichester.png
  public/images/logos/ihs-vienna.png
  public/images/logos/stirling.png
  public/images/logos/tsu.png
Due: none

Append endorsements logos list automatically
  components/logos-carousel/index.jsx
  data/endorsements.yml
Due: npm run lint:js -- --fix

Add Alexander Efimov's picture
  public/images/people/alexander-efimov.jpg
Due: none

Add Alexander Efimov's profile
  data/ambassadors.yml
Due: none

Add FAQ about providing articles by language
  data/faq.yml
Due: none

Fix typo (missing space)
  data/faq.yml
Due: none

Include Search.Suggestions onto the homepage
  pages/index.jsx
Due: npm run lint:js -- --fix

Add Search.Suggestions
  components/index.js
  components/search/index.jsx
  components/search/search.scss
  components/search/suggestions.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Add COVID-19 notice
  data/home.yml
  pages/index.jsx
Due: npm run lint:js -- --fix

Adjust COVID-19 notice
  data/home.yml
Due: none

Simplify COVID-19 notice
  data/home.yml
Due: none
