Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

CORE: safari upload issue
  components/pdf-upload/index.jsx
  data/retention.yml
Due: npm run lint:js -- --fix

CORE: safari upload issue (#1274)
  components/pdf-upload/index.jsx
  data/retention.yml
Due: npm run lint:js -- --fix

CORE: safari upload issue (#1274) (#1275)
  components/pdf-upload/index.jsx
  data/retention.yml
Due: npm run lint:js -- --fix

CORE-5082: update fast sync img retrive
  netlify-cms.config.yml
  pages/services/fastsync.jsx
  public/images/logos/ontochemIt.png
  public/images/logos/turnitin.svg
  public/images/services/includedFastSync.svg
Due: npm run lint:js -- --fix

CORE-5082: update fast sync img retrive (#1276)
  netlify-cms.config.yml
  pages/services/fastsync.jsx
  public/images/logos/ontochemIt.png
  public/images/logos/turnitin.svg
  public/images/services/includedFastSync.svg
Due: npm run lint:js -- --fix

CORE-5082: update fast sync img retrive (#1276) (#1277)
  netlify-cms.config.yml
  pages/services/fastsync.jsx
  public/images/logos/ontochemIt.png
  public/images/logos/turnitin.svg
  public/images/services/includedFastSync.svg
Due: npm run lint:js -- --fix

CORE-5082: fix recomender img path
  netlify-cms.config.yml
  pages/services/recommender.jsx
  public/images/people/smith.jpg
  public/images/screenshots/recommender2.png
  public/images/services/delivery.svg
  public/images/services/profiles.svg
Due: npm run lint:js -- --fix

CORE-5082: fix recomender img path (#1278)
  netlify-cms.config.yml
  pages/services/recommender.jsx
  public/images/people/smith.jpg
  public/images/screenshots/recommender2.png
  public/images/services/delivery.svg
  public/images/services/profiles.svg
Due: npm run lint:js -- --fix

CORE-5082: fix recomender img path (#1278) (#1279)
  netlify-cms.config.yml
  pages/services/recommender.jsx
  public/images/people/smith.jpg
  public/images/screenshots/recommender2.png
  public/images/services/delivery.svg
  public/images/services/profiles.svg
Due: npm run lint:js -- --fix

CORE-5082: img path for discovery
  netlify-cms.config.yml
  pages/services/discovery.jsx
  public/images/services/coverage.svg
  public/images/services/discoveryImage.svg
  public/images/services/discoveryLock.svg
  public/images/services/doi.svg
  public/images/services/grip.svg
  public/images/services/laptop.svg
Due: npm run lint:js -- --fix

remove img
  public/images/screenshots/discovery.svg
Due: none

Core 5082 correct img path for netlify (#1280)
  netlify-cms.config.yml
  pages/services/discovery.jsx
  public/images/screenshots/discovery.svg
  public/images/services/coverage.svg
  public/images/services/discoveryImage.svg
  public/images/services/discoveryLock.svg
  public/images/services/doi.svg
  public/images/services/grip.svg
  public/images/services/laptop.svg
Due: npm run lint:js -- --fix

Core 5082 correct img path for netlify (#1280) (#1281)
  netlify-cms.config.yml
  pages/services/discovery.jsx
  public/images/screenshots/discovery.svg
  public/images/services/coverage.svg
  public/images/services/discoveryImage.svg
  public/images/services/discoveryLock.svg
  public/images/services/doi.svg
  public/images/services/grip.svg
  public/images/services/laptop.svg
Due: npm run lint:js -- --fix

CORE-5082: dashboard img src
  netlify-cms.config.yml
  pages/services/repository-dashboard.jsx
  public/images/screenshots/charts-placeholder.png
  public/images/services/dashboard-charts.svg
Due: npm run lint:js -- --fix

CORE-5082: update board of supporters src
  netlify-cms.config.yml
  pages/governance/supporters.jsx
  public/images/supporters/directions.svg
  public/images/supporters/feedback.svg
  public/images/supporters/meetings.svg
  public/images/supporters/supporters.svg
  public/images/supporters/voting.svg
Due: npm run lint:js -- --fix

CORE-5082: api img src
  netlify-cms.config.yml
  pages/services/api.jsx
  public/images/logos/audemic.svg
  public/images/logos/cypris.svg
  public/images/logos/flowcite.svg
  public/images/logos/interac.svg
  public/images/logos/iris.png
Due: npm run lint:js -- --fix

CORE-5082: consultancy img src
  pages/services/consultancy.jsx
Due: npm run lint:js -- --fix

Core 5082 update urls (#1282)
  netlify-cms.config.yml
  pages/governance/supporters.jsx
  pages/services/api.jsx
  pages/services/consultancy.jsx
  pages/services/repository-dashboard.jsx
  public/images/logos/audemic.svg
  public/images/logos/cypris.svg
  public/images/logos/flowcite.svg
  public/images/logos/interac.svg
  public/images/logos/iris.png
  public/images/screenshots/charts-placeholder.png
  public/images/services/dashboard-charts.svg
  public/images/supporters/directions.svg
  public/images/supporters/feedback.svg
  public/images/supporters/meetings.svg
  public/images/supporters/supporters.svg
  public/images/supporters/voting.svg
Due: npm run lint:js -- --fix

Core 5082 update urls (#1282) (#1283)
  netlify-cms.config.yml
  pages/governance/supporters.jsx
  pages/services/api.jsx
  pages/services/consultancy.jsx
  pages/services/repository-dashboard.jsx
  public/images/logos/audemic.svg
  public/images/logos/cypris.svg
  public/images/logos/flowcite.svg
  public/images/logos/interac.svg
  public/images/logos/iris.png
  public/images/screenshots/charts-placeholder.png
  public/images/services/dashboard-charts.svg
  public/images/supporters/directions.svg
  public/images/supporters/feedback.svg
  public/images/supporters/meetings.svg
  public/images/supporters/supporters.svg
  public/images/supporters/voting.svg
Due: npm run lint:js -- --fix

CORE-5082: board of supporters
  pages/governance/supporters.jsx
Due: npm run lint:js -- --fix

CORE-5082: board of supporters (#1284)
  pages/governance/supporters.jsx
Due: npm run lint:js -- --fix

CORE-5082: board of supporters (#1284) (#1285)
  pages/governance/supporters.jsx
Due: npm run lint:js -- --fix

CORE: cookie
  package-lock.json
Due: npm run lint:json -- --write

CORE: cookie (#1286)
  package-lock.json
Due: npm run lint:json -- --write

CORE: cookie (#1286) (#1287)
  package-lock.json
Due: npm run lint:json -- --write

CORE: update src
  netlify-cms.config.yml
  pages/governance/advisory.jsx
  pages/services/dataset.jsx
  public/images/advisory-board.svg
  public/images/chicago.svg
  public/images/core.svg
  public/images/dans.svg
  public/images/harvard.svg
  public/images/logos/caktus.svg
  public/images/logos/techdico.svg
  public/images/montreal.svg
  public/images/nationalInstitute.svg
  public/images/openUniversity.svg
  public/images/people/olson.png
  public/images/services/cloud.svg
  public/images/singaporesvg.svg
  public/images/stanford.svg
  public/images/tuwien.svg
  public/images/ukcorr.svg
  public/images/ukri.svg
Due: npm run lint:js -- --fix

CORE: update src (#1288)
  netlify-cms.config.yml
  pages/governance/advisory.jsx
  pages/services/dataset.jsx
  public/images/advisory-board.svg
  public/images/chicago.svg
  public/images/core.svg
  public/images/dans.svg
  public/images/harvard.svg
  public/images/logos/caktus.svg
  public/images/logos/techdico.svg
  public/images/montreal.svg
  public/images/nationalInstitute.svg
  public/images/openUniversity.svg
  public/images/people/olson.png
  public/images/services/cloud.svg
  public/images/singaporesvg.svg
  public/images/stanford.svg
  public/images/tuwien.svg
  public/images/ukcorr.svg
  public/images/ukri.svg
Due: npm run lint:js -- --fix

CORE: update src (#1288) (#1289)
  netlify-cms.config.yml
  pages/governance/advisory.jsx
  pages/services/dataset.jsx
  public/images/advisory-board.svg
  public/images/chicago.svg
  public/images/core.svg
  public/images/dans.svg
  public/images/harvard.svg
  public/images/logos/caktus.svg
  public/images/logos/techdico.svg
  public/images/montreal.svg
  public/images/nationalInstitute.svg
  public/images/openUniversity.svg
  public/images/people/olson.png
  public/images/services/cloud.svg
  public/images/singaporesvg.svg
  public/images/stanford.svg
  public/images/tuwien.svg
  public/images/ukcorr.svg
  public/images/ukri.svg
Due: npm run lint:js -- --fix

CORE-5090: update logo section
  data/endorsements.yml
  public/images/logos/meta.png
  public/images/logos/turnitin.svg
Due: none

Core 5090 logo update (#1290)
  data/endorsements.yml
  data/home.yml
  public/images/logos/meta.png
  public/images/logos/turnitin.svg
Due: none

Core 5090 logo update (#1290) (#1291)
  data/endorsements.yml
  data/home.yml
  public/images/logos/meta.png
  public/images/logos/turnitin.svg
Due: none

CORE-5091: remove log
  netlify-cms.config.yml
  package-lock.json
  pages/innovations/labs.jsx
  pages/innovations/labs.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE-5091: remove log (#1292)
  netlify-cms.config.yml
  package-lock.json
  pages/innovations/labs.jsx
  pages/innovations/labs.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE-5091: remove log (#1292) (#1293)
  netlify-cms.config.yml
  package-lock.json
  pages/innovations/labs.jsx
  pages/innovations/labs.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE-5091: labs page updates
  package-lock.json
  pages/innovations/labs.jsx
  pages/innovations/labs.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE-5091: labs page updates (#1294)
  package-lock.json
  pages/innovations/labs.jsx
  pages/innovations/labs.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE-5091: labs page updates (#1294) (#1295)
  package-lock.json
  pages/innovations/labs.jsx
  pages/innovations/labs.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

update footer
  package-lock.json
Due: npm run lint:json -- --write

update footer (#1296)
  package-lock.json
Due: npm run lint:json -- --write

update footer (#1296) (#1297)
  package-lock.json
Due: npm run lint:json -- --write
