Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

Doc update (#473)
  components/content/content.scss
Due: prettier --ignore-path .gitignore --check --write

Fix features styles
  data/home.yml
  design-v2/components/sections/testimonial.module.scss
Due: prettier --ignore-path .gitignore --check --write

Revert "Doc update (#473)"
  components/content/content.scss
Due: prettier --ignore-path .gitignore --check --write

Revert "Doc update (#473)" (#474)
  components/content/content.scss
Due: prettier --ignore-path .gitignore --check --write

Revert "Master update (#472)"
  components/bootstrap/_variables.scss
  components/content/content.scss
  data/faq.yml
  pages/oai_resolve.module.scss
  pages/oai_resolve_form.jsx
  pages/oai_resolver.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Revert "Master update (#472)" (#475)
  components/bootstrap/_variables.scss
  components/content/content.scss
  data/faq.yml
  pages/oai_resolve.module.scss
  pages/oai_resolve_form.jsx
  pages/oai_resolver.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Revert "Doc upd (#471)"
  components/content/content.scss
Due: prettier --ignore-path .gitignore --check --write

Revert "Oai resolver update (#468) (#469)"
  components/bootstrap/_variables.scss
  components/content/content.scss
  data/faq.yml
  pages/oai_resolve.module.scss
  pages/oai_resolve_form.jsx
  pages/oai_resolver.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Revert "Oai resolver update (#468) (#469)" (#477)
  components/bootstrap/_variables.scss
  components/content/content.scss
  data/faq.yml
  pages/oai_resolve.module.scss
  pages/oai_resolve_form.jsx
  pages/oai_resolver.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Revert "oai resolve page (#466)"
  data/oai_resolve.yml
  pages/oai_resolve.module.scss
  pages/oai_resolve_form.jsx
  pages/oai_resolver.jsx
  public/images/oai_resolve/explore.png
  public/images/oai_resolve/logo.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Revert "oai resolve page (#466)" (#480)
  data/oai_resolve.yml
  pages/oai_resolve.module.scss
  pages/oai_resolve_form.jsx
  pages/oai_resolver.jsx
  public/images/oai_resolve/explore.png
  public/images/oai_resolve/logo.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Revert "OAI resolver page (#467)" (#479) (#482)
  components/content/content.scss
  components/design-v2/footer/footer.module.scss
  components/footer/footer.module.scss
  components/key-feature/key-feature.module.scss
  components/logos-carousel/logos-carousel.module.scss
  components/maps/image-map/image-map.module.scss
  components/maps/pins/pins.module.scss
  components/page/page.scss
  components/pages/service.module.scss
  components/repositories-map/repositories-map.module.scss
  components/service-groups/service-groups.module.scss
  components/switcher/switcher.module.scss
  components/testimonial/testimonial.module.scss
  core.routes.yml
  data/community/research.yml
  data/endorsements.yml
  data/services/api.yml
  data/services/discovery.yml
  netlify-cms.config.yml
  next.config.js
  package-lock.json
  pages/_app.jsx
  pages/about/about.module.scss
  pages/about/index.jsx
  pages/community/research/index.jsx
  pages/form.jsx
  pages/services/services.module.scss
  public/images/community/research/avatar.svg
  public/images/community/research/collaboration.svg
  public/images/community/research/dataset.svg
  public/images/community/research/header.svg
  public/images/community/research/share.svg
  public/images/people/Gareth_Malcolm.jpeg
  public/images/people/Ronin-Wu.jpg
  templates/community/research/index.jsx
  templates/community/research/research.module.scss
  templates/data-providers/utils/generate-form-message.jsx
  templates/index.js
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Restore next.config.js
  next.config.js
Due: npm run lint:js -- --fix

Update links
  data/home.yml
Due: none

OAI resolver page
  components/bootstrap/_variables.scss
  components/content/content.scss
  data/faq.yml
  data/oai_resolve.yml
  pages/oai_resolve.module.scss
  pages/oai_resolve_form.jsx
  pages/oai_resolver.jsx
  public/images/oai_resolve/explore.png
  public/images/oai_resolve/logo.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Fix white strip in select
  design-v2/components/search-form/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Fix white strip in select (#487)
  design-v2/components/search-form/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Fix white strip in select (#487) (#488)
  design-v2/components/search-form/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Fix arrows for phone
  components/bootstrap/_variables.scss
  components/content/content.scss
  pages/oai_resolve.module.scss
Due: prettier --ignore-path .gitignore --check --write

OAI resolver page. Wide version (#485)
  components/bootstrap/_variables.scss
  components/content/content.scss
  data/faq.yml
  data/oai_resolve.yml
  pages/oai_resolve.module.scss
  pages/oai_resolve_form.jsx
  pages/oai_resolver.jsx
  public/images/oai_resolve/explore.png
  public/images/oai_resolve/logo.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

OAI resolver page. Wide version (#485) (#489)
  components/bootstrap/_variables.scss
  components/content/content.scss
  data/faq.yml
  data/oai_resolve.yml
  pages/oai_resolve.module.scss
  pages/oai_resolve_form.jsx
  pages/oai_resolver.jsx
  public/images/oai_resolve/explore.png
  public/images/oai_resolve/logo.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update services images
  data/home.yml
  pages/index.module.scss
  public/images/services/search-engine.png
  public/images/services/search-engine.svg
  public/images/services/server-status.png
  public/images/services/server-status.svg
  public/images/services/time-management.png
  public/images/services/time-management.svg
Due: prettier --ignore-path .gitignore --check --write

Update services images (#490)
  data/home.yml
  pages/index.module.scss
  public/images/services/search-engine.png
  public/images/services/search-engine.svg
  public/images/services/server-status.png
  public/images/services/server-status.svg
  public/images/services/time-management.png
  public/images/services/time-management.svg
Due: prettier --ignore-path .gitignore --check --write

Update services images (#490) (#491)
  data/home.yml
  pages/index.module.scss
  public/images/services/search-engine.png
  public/images/services/search-engine.svg
  public/images/services/server-status.png
  public/images/services/server-status.svg
  public/images/services/time-management.png
  public/images/services/time-management.svg
Due: prettier --ignore-path .gitignore --check --write

Core 4134/New cookie banner (#465)
  components/cookies/check.svg
  components/cookies/cookies-provider.js
  components/cookies/cookies.module.scss
  components/cookies/hooks.js
  components/cookies/index.js
  components/cookies/index.jsx
  components/cookies/popup.jsx
  components/cookies/settings.svg
  components/index.js
  data/cookies.yml
  helpers/index.js
  hooks/analytics.js
  main/index.jsx
  next.config.js
  pages/_app.jsx
  pages/cookies.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Core 4134/New cookie banner (#465) (#492)
  components/cookies/check.svg
  components/cookies/cookies-provider.js
  components/cookies/cookies.module.scss
  components/cookies/hooks.js
  components/cookies/index.js
  components/cookies/index.jsx
  components/cookies/popup.jsx
  components/cookies/settings.svg
  components/index.js
  data/cookies.yml
  helpers/index.js
  hooks/analytics.js
  main/index.jsx
  next.config.js
  pages/_app.jsx
  pages/cookies.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update analytisc and design
  hooks/analytics.js
  main/index.jsx
  package-lock.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Update analytisc and design (#494)
  hooks/analytics.js
  main/index.jsx
  package-lock.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Update analytisc and design (#494) (#495)
  hooks/analytics.js
  main/index.jsx
  package-lock.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Update design version
  package-lock.json
Due: npm run lint:json -- --write

Update design version (#496)
  package-lock.json
Due: npm run lint:json -- --write

Update design version (#496) (#497)
  package-lock.json
Due: npm run lint:json -- --write

Update pages: about/endorsments,data,benefits
  components/bootstrap/mixins/_sections.scss
  components/content/content.jsx
  components/content/content.module.scss
  components/highlight-section/highlight-section.module.scss
  components/highlight-section/index.jsx
  components/index.js
  components/index.scss
  components/sections/endorsements.jsx
  components/sections/endorsements.module.scss
  data/benefits.yml
  design-v2/_variables.scss
  design-v2/benefits/form.jsx
  design-v2/benefits/index.jsx
  design-v2/benefits/styles.module.scss
  design-v2/components/index.js
  design-v2/components/layout/index.js
  design-v2/components/layout/layout.jsx
  design-v2/components/layout/section.jsx
  design-v2/components/layout/styles.module.scss
  design-v2/components/sections/join.module.scss
  design-v2/components/sections/key-feature.module.scss
  design-v2/components/sections/services.module.scss
  design-v2/components/sections/testimonial.module.scss
  design-v2/highlight-section/highlight-section.module.scss
  design-v2/highlight-section/index.jsx
  package-lock.json
  package.json
  pages/about/endorsements.jsx
  pages/benefits.jsx
  pages/benefits.module.scss
  pages/data/index.jsx
  pages/index.jsx
  pages/index.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write
