Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Pass GITHUB_TOKEN to Next.js env
  next.config.js
Due: npm run lint:js -- --fix

Add LinkCard component (#396)
  components/index.js
  components/link-card/index.jsx
  components/link-card/open-in-new.svg
  components/link-card/styles.module.css
  pages/_app.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Add the History page (#384)
  components/anniversary-logo/hat.svg
  components/anniversary-logo/index.jsx
  components/anniversary-logo/styles.module.scss
  components/history-milestone/index.jsx
  components/history-milestone/styles.module.css
  components/history-timeline/arrow.svg
  components/history-timeline/index.jsx
  components/history-timeline/styles.module.css
  components/index.js
  data/history.yml
  pages/history.jsx
  templates/history/assets/side-curve-left.svg
  templates/history/assets/side-curve-right.svg
  templates/history/history.module.scss
  templates/history/index.jsx
  templates/index.js
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Remove team photos
  public/images/team/alexander-huba.png
  public/images/team/anna-zelinska.jpeg
  public/images/team/bethany-walker.jpg
  public/images/team/bikash-gyawali.jpg
  public/images/team/catherine-kuliavets.jpg
  public/images/team/david-pride.jpg
  public/images/team/drahomira-herrmannova.jpg
  public/images/team/lucas-anastasiou.jpg
  public/images/team/maria-tarasiuk.jpg
  public/images/team/matteo-cancellieri.jpg
  public/images/team/nancy-pontika.jpg
  public/images/team/petr-knoth.jpg
  public/images/team/samuel-pearce.jpg
  public/images/team/suchetha-nambanoor-kunnath.jpg
  public/images/team/valeriy-budko.jpg
  public/images/team/viktor-yakubiv.jpg
  public/images/team/zdenek-zdrahal.jpg
Due: none

Align Hero with other complex components (modules)
  components/hero/index.jsx
  pages/index.jsx
Due: npm run lint:js -- --fix

Export spacing variables as custom CSS properties
  components/content/content.scss
Due: prettier --ignore-path .gitignore --check --write

Fix image URLs resolution at the History page
  pages/history.jsx
Due: npm run lint:js -- --fix

Add custom ref support to the History page
  pages/history.jsx
Due: npm run lint:js -- --fix

Add custom ref support to the History page (#398)
  pages/history.jsx
Due: npm run lint:js -- --fix

Update the introduction of the History page (#399)
  data/history.yml
Due: none

Remove SearchForm from the History page (#399)
  templates/history/index.jsx
Due: npm run lint:js -- --fix

Add a notice about the APIv3 in beta
  data/services/api.yml
Due: none

Add the research outputs section
  data/home.yml
  pages/index.jsx
  pages/index.module.scss
  public/images/logo/bsdtag.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Fix 'offerring' at the API service page
  data/services/api.yml
Due: none

Update the History page introduction
  data/history.yml
Due: none

Prioritise `Buffer` over `atob` in Node
  content/index.js
Due: npm run lint:js -- --fix

Upgrade ReactMarkdown to version 6.0.0
  components/markdown.jsx
  package-lock.json
  package.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Update components
  components/markdown.jsx
Due: npm run lint:js -- --fix

add left/right elems, add link to logo
  components/hero/hero.module.scss
  components/hero/index.jsx
  templates/history/history.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Add a notice about the APIv3 in beta (#400)
  data/services/api.yml
Due: none

Remove deprecated now.sh configuration
  now.json
Due: npm run lint:json -- --write

Add page '/benefits'
  .gitignore
  components/design-v2/footer/footer.module.scss
  components/design-v2/footer/index.jsx
  components/index.js
  components/layout/layout.jsx
  data/benefits.yml
  pages/benefits.jsx
  pages/benefits.module.scss
  public/images/benefits/content-machine-readable.svg
  public/images/benefits/content-visibility.svg
  public/images/benefits/join-core-form.svg
  public/images/benefits/open-access-network.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Add 10 years logo on homepage (#403)
  components/hero/hero.module.scss
  components/hero/index.jsx
  now.json
  templates/history/history.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Add footer design v2
  components/bootstrap_v2/_button-group.scss
  components/bootstrap_v2/_core.scss
  components/bootstrap_v2/_lists.scss
  components/bootstrap_v2/_mixins.scss
  components/bootstrap_v2/_nav.scss
  components/bootstrap_v2/_navbar.scss
  components/bootstrap_v2/_variables.scss
  components/bootstrap_v2/bootstrap.scss
  components/bootstrap_v2/mixins/_sections.scss
  components/design-v2/footer/footer.module.scss
  components/design-v2/footer/index.jsx
  components/index.scss
  data/core.yml
  main/index.jsx
  public/images/benefits/writing_about_core.svg
  public/images/logos/ou.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Section statistics
  components/bootstrap_v2/_variables.scss
  components/design-v2/footer/components/bootstrap/core
  components/design-v2/footer/footer.module.scss
  components/design-v2/footer/index.jsx
  data/core.yml
  main/index.jsx
  pages/benefits.jsx
  pages/benefits.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Fix naming components
  components/bootstrap_design-v2/_button-group.scss
  components/bootstrap_design-v2/_core.scss
  components/bootstrap_design-v2/_lists.scss
  components/bootstrap_design-v2/_mixins.scss
  components/bootstrap_design-v2/_nav.scss
  components/bootstrap_design-v2/_navbar.scss
  components/bootstrap_design-v2/_variables.scss
  components/bootstrap_design-v2/bootstrap.scss
  components/bootstrap_design-v2/mixins/_sections.scss
  components/design-v2/footer/components/bootstrap/core
  components/design-v2/footer/footer.module.scss
  components/index.scss
  pages/benefits.jsx
  pages/benefits.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Add banner content
  data/benefits.yml
  pages/benefits.jsx
  pages/benefits.module.scss
  public/images/benefits/background-velcro.svg
  public/images/benefits/icons/discoverability.svg
  public/images/benefits/icons/network.svg
  public/images/benefits/icons/readable.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Hide new footer
  components/index.js
  components/index.scss
  components/layout/layout.jsx
  main/index.jsx
  now.json
  pages/benefits.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Add banner separator
  pages/benefits.module.scss
Due: prettier --ignore-path .gitignore --check --write

Update internal alias
  next.config.js
Due: npm run lint:js -- --fix

Update image
  public/images/benefits/open-access-network.svg
Due: none

Add message success add
  api/data-providers.js
  api/errors.js
  api/index.js
  data/benefits.yml
  hooks/index.js
  hooks/use-input.js
  pages/benefits.jsx
  pages/benefits.module.scss
  pages/form.jsx
  templates/data-providers/utils/generate-form-message.jsx
  templates/data-providers/utils/index.js
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Code clear
  pages/form.jsx
  templates/data-providers/utils/index.js
Due: npm run lint:js -- --fix

Fix button style
  pages/benefits.jsx
  pages/benefits.module.scss
  pages/form.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
