Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

Core 5107 data access page (#1309)
  components/pdf-upload/defaultUpload.jsx
  components/pdf-upload/formatUpload.jsx
  components/pdf-upload/index.jsx
  components/pdf-upload/sdgUploadSuccess.jsx
  components/pdf-upload/sizeUploadIssue.jsx
  components/pdf-upload/uploadFail.jsx
  components/pdf-upload/uploadSuccess.jsx
  data/retention.yml
  data/sdg.yml
  hooks/retriveContent.js
  netlify-cms.config.yml
  pages/data-availability/index.jsx
  pages/governance/advisory.jsx
  pages/innovations/labs.jsx
  pages/labs/sdg.jsx
  pages/membership/index.jsx
  pages/services/consultancy.jsx
  pages/services/fastsync.jsx
  pages/services/index.jsx
  pages/services/recommender.jsx
  pages/services/repository-dashboard.jsx
  public/images/fail.svg
  public/images/services/goals.svg
  public/images/services/openUniversity.svg
  public/images/success.svg
  templates/data-availability/index.jsx
  templates/data-availability/styles.module.scss
  templates/sdg/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Core 5107 data access page (#1309) (#1310)
  components/pdf-upload/defaultUpload.jsx
  components/pdf-upload/formatUpload.jsx
  components/pdf-upload/index.jsx
  components/pdf-upload/sdgUploadSuccess.jsx
  components/pdf-upload/sizeUploadIssue.jsx
  components/pdf-upload/uploadFail.jsx
  components/pdf-upload/uploadSuccess.jsx
  data/retention.yml
  data/sdg.yml
  hooks/retriveContent.js
  netlify-cms.config.yml
  pages/data-availability/index.jsx
  pages/governance/advisory.jsx
  pages/innovations/labs.jsx
  pages/labs/sdg.jsx
  pages/membership/index.jsx
  pages/services/consultancy.jsx
  pages/services/fastsync.jsx
  pages/services/index.jsx
  pages/services/recommender.jsx
  pages/services/repository-dashboard.jsx
  public/images/fail.svg
  public/images/services/goals.svg
  public/images/services/openUniversity.svg
  public/images/success.svg
  templates/data-availability/index.jsx
  templates/data-availability/styles.module.scss
  templates/sdg/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: remove required value
  netlify-cms.config.yml
Due: none

CORE: remove required value (#1311)
  netlify-cms.config.yml
Due: none

CORE: remove required value (#1311) (#1312)
  netlify-cms.config.yml
Due: none

CORE: list style
  templates/data-availability/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE: list style (#1313)
  templates/data-availability/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE: list style (#1313) (#1314)
  templates/data-availability/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Create deploy.yml
  .github/workflows/deploy.yml
Due: none

Delete .github/workflows/pull-request-check.yml
  .github/workflows/pull-request-check.yml
Due: none

Delete .github/workflows/azure_about_about-page.yml
  .github/workflows/azure_about_about-page.yml
Due: none

Delete .github/workflows/rebase-content.yml
  .github/workflows/rebase-content.yml
Due: none

Create Dockerfile
  Dockerfile
Due: none

Fix member list
  components/membership-table/membershipTable.jsx
  pages/membership/index.jsx
Due: npm run lint:js -- --fix

Fix member list (#1315)
  components/membership-table/membershipTable.jsx
  pages/membership/index.jsx
Due: npm run lint:js -- --fix

Fix member list (#1315) (#1316)
  components/membership-table/membershipTable.jsx
  pages/membership/index.jsx
Due: npm run lint:js -- --fix

CORE-5159: add data section
  data/data.yml
  design-v2/highlight-section/highlight-section.module.scss
  pages/data/index.jsx
  pages/data/styles.module.scss
  public/images/illustrations/access.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-5159: add data section (#1317)
  data/data.yml
  design-v2/highlight-section/highlight-section.module.scss
  pages/data/index.jsx
  pages/data/styles.module.scss
  public/images/illustrations/access.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-5159: add data section (#1317) (#1318)
  data/data.yml
  design-v2/highlight-section/highlight-section.module.scss
  pages/data/index.jsx
  pages/data/styles.module.scss
  public/images/illustrations/access.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-5159: add text style
  pages/data/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE-5159: add text style (#1319)
  pages/data/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE-5159: add text style (#1319) (#1320)
  pages/data/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE: move pages to netlify
  netlify-cms.config.yml
  pages/about/research-outputs.jsx
  pages/governance/index.jsx
Due: npm run lint:js -- --fix

CORE: move pages to netlify (#1321)
  netlify-cms.config.yml
  pages/about/research-outputs.jsx
  pages/governance/index.jsx
Due: npm run lint:js -- --fix

CORE: move pages to netlify (#1321) (#1322)
  netlify-cms.config.yml
  pages/about/research-outputs.jsx
  pages/governance/index.jsx
Due: npm run lint:js -- --fix

CORE: fix das upload issue
  components/pdf-upload/index.jsx
Due: npm run lint:js -- --fix

CORE: fix upload issue
  components/pdf-upload/defaultUpload.jsx
  components/pdf-upload/index.jsx
Due: npm run lint:js -- --fix

Core fix uploader issue (#1323)
  components/pdf-upload/defaultUpload.jsx
  components/pdf-upload/index.jsx
Due: npm run lint:js -- --fix

Core fix uploader issue (#1323) (#1324)
  components/pdf-upload/defaultUpload.jsx
  components/pdf-upload/index.jsx
Due: npm run lint:js -- --fix

CORE: update blog page
  components/blog.jsx
Due: npm run lint:js -- --fix

CORE: update research outputs modals
  components/citation-tabs/manager.jsx
  components/citations-modal.jsx
Due: npm run lint:js -- --fix

Core update code sections (#1325)
  components/blog.jsx
  components/citation-tabs/manager.jsx
  components/citations-modal.jsx
Due: npm run lint:js -- --fix

Core update code sections (#1325) (#1326)
  components/blog.jsx
  components/citation-tabs/manager.jsx
  components/citations-modal.jsx
Due: npm run lint:js -- --fix

synced with the master branch
  .github/workflows/azure_about_production-page.yml
  next.config.js
Due: npm run lint:js -- --fix

changed branch
  .github/workflows/azure_about_production-page.yml
Due: none

hot-fix: azure GA cookie issue
  hooks/analytics.js
Due: npm run lint:js -- --fix

hot-fix: azure GA cookie issue(v2)
  hooks/analytics.js
Due: npm run lint:js -- --fix

hot-fix: azure GA cookie issue(v3)
  hooks/analytics.js
Due: npm run lint:js -- --fix

hot-fix: azure GA cookie issue(v4)
  hooks/analytics.js
Due: npm run lint:js -- --fix

fix: added GA to the actions
  .github/workflows/azure_about_production-page.yml
Due: none
