Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

Render cookies form only client-side
  components/cookies/form.jsx
Due: npm run lint:js -- --fix

Move all logic from app to main
  .eslintrc.yml
  hooks/analytics.js
  hooks/cookies.js
  hooks/index.js
  main/index.jsx
  next.config.js
  pages/_app.jsx
  pages/cookies.jsx
Due: npm run lint:js -- --fix

Replace universal-cookie with react-cookie
  components/cookies/form.jsx
  components/cookies/popup.jsx
  hooks/analytics.js
  hooks/cookies.js
  hooks/index.js
  main/index.jsx
  package-lock.json
  package.json
  pages/_app.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Render popup always
  main/index.jsx
Due: npm run lint:js -- --fix

Encapsulate all react-cookie logic to one module
  components/cookies/cookies-provider.js
  components/cookies/hooks.js
  hooks/analytics.js
  hooks/index.js
  main/index.jsx
  pages/_app.jsx
  pages/cookies.jsx
Due: npm run lint:js -- --fix

Fix popup and hooks number changes during render
  components/cookies/form.jsx
  components/cookies/hooks.js
  main/index.jsx
  pages/cookies.jsx
Due: npm run lint:js -- --fix

Remove event logger
  components/header/index.jsx
Due: npm run lint:js -- --fix

Update David's description
  data/team.yml
Due: none

Add GA_CODE to bundle
  next.config.js
Due: npm run lint:js -- --fix

Report first page view in GA init
  hooks/analytics.js
Due: npm run lint:js -- --fix

Revert wrong urls
  pages/about/about.module.scss
Due: prettier --ignore-path .gitignore --check --write

Move leaflet css to map component
  components/repositories-map/index.jsx
  pages/_app.jsx
Due: npm run lint:js -- --fix

Integrate universal header
  .gitignore
  components/header/header.module.scss
  components/header/index.jsx
  components/index.js
  components/index.scss
  components/layout/layout.jsx
  components/layout/layout.scss
  components/link.jsx
  components/nav-dropdown/index.jsx
  components/nav-dropdown/nav-dropdown.scss
  components/page/page.scss
  components/search-navbar/index.jsx
  components/search-navbar/search-navbar.scss
  data/core.yml
  design.config.js
  main/index.jsx
  package-lock.json
  package.json
  pages/_app.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Update David's description (#317)
  data/team.yml
Due: none

Update FAQ about deposit dates
  data/faq.yml
Due: none

Update FAQ about deposit dates (#327)
  data/faq.yml
Due: none

Add Research Outputs section to the About page
  data/about.yml
  pages/about/about.module.scss
  pages/about/index.jsx
  public/images/icons/community.svg
  public/images/icons/research.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update texts
  data/about.yml
Due: none

Add Research Outputs section to the About page (#326)
  data/about.yml
  pages/about/about.module.scss
  pages/about/index.jsx
  public/images/icons/community.svg
  public/images/icons/research.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Add John Paul to ambassadors
  data/ambassadors.yml
  public/images/people/john-paull.jpg
Due: none

Remove region Australia
  data/ambassadors.yml
Due: none

Fix extension
  data/ambassadors.yml
Due: none

Add John Paul to ambassadors (#338)
  data/ambassadors.yml
  public/images/people/john-paull.jpg
Due: none

Update FAQ about OAI base URL
  data/faq.yml
Due: none

Bump design
  package-lock.json
  package.json
Due: npm run lint:json -- --write

Update REF FAQs
  data/faq.yml
Due: none

Update REF FAQs (#340)
  data/faq.yml
Due: none

Change search bar label
  main/index.jsx
Due: npm run lint:js -- --fix

Move Jozef to the past team members
  data/team.yml
  public/images/team/jozef-harag.jpg
Due: none

Sort past team members by surname
  data/team.yml
Due: none
