Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Update main page styles
  pages/index.jsx
Due: npm run lint:js -- --fix

Fix styles
  components/sections/endorsements.module.scss
  design-v2/benefits/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Core 4172/adapt page width to new layout (#498)
  components/bootstrap/mixins/_sections.scss
  components/content/content.jsx
  components/content/content.module.scss
  components/highlight-section/highlight-section.module.scss
  components/highlight-section/index.jsx
  components/index.js
  components/index.scss
  components/sections/endorsements.jsx
  components/sections/endorsements.module.scss
  data/benefits.yml
  design-v2/_variables.scss
  design-v2/benefits/form.jsx
  design-v2/benefits/index.jsx
  design-v2/benefits/styles.module.scss
  design-v2/components/index.js
  design-v2/components/layout/index.js
  design-v2/components/layout/layout.jsx
  design-v2/components/layout/section.jsx
  design-v2/components/layout/styles.module.scss
  design-v2/components/sections/join.module.scss
  design-v2/components/sections/key-feature.module.scss
  design-v2/components/sections/services.module.scss
  design-v2/components/sections/testimonial.module.scss
  design-v2/highlight-section/highlight-section.module.scss
  design-v2/highlight-section/index.jsx
  package-lock.json
  package.json
  pages/about/endorsements.jsx
  pages/benefits.jsx
  pages/benefits.module.scss
  pages/data/index.jsx
  pages/index.jsx
  pages/index.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Core 4172/adapt page width to new layout (#498) (#499)
  components/bootstrap/mixins/_sections.scss
  components/content/content.jsx
  components/content/content.module.scss
  components/highlight-section/highlight-section.module.scss
  components/highlight-section/index.jsx
  components/index.js
  components/index.scss
  components/sections/endorsements.jsx
  components/sections/endorsements.module.scss
  data/benefits.yml
  design-v2/_variables.scss
  design-v2/benefits/form.jsx
  design-v2/benefits/index.jsx
  design-v2/benefits/styles.module.scss
  design-v2/components/index.js
  design-v2/components/layout/index.js
  design-v2/components/layout/layout.jsx
  design-v2/components/layout/section.jsx
  design-v2/components/layout/styles.module.scss
  design-v2/components/sections/join.module.scss
  design-v2/components/sections/key-feature.module.scss
  design-v2/components/sections/services.module.scss
  design-v2/components/sections/testimonial.module.scss
  design-v2/highlight-section/highlight-section.module.scss
  design-v2/highlight-section/index.jsx
  package-lock.json
  package.json
  pages/about/endorsements.jsx
  pages/benefits.jsx
  pages/benefits.module.scss
  pages/data/index.jsx
  pages/index.jsx
  pages/index.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Hide features-section title
  data/home.yml
  package-lock.json
  pages/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Hide features-section title (#500)
  data/home.yml
  package-lock.json
  pages/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Hide features-section title (#500) (#501)
  data/home.yml
  package-lock.json
  pages/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Change static text
  data/services.yml
Due: none

Add files via upload
  public/images/logos/logo_TechDico.png
Due: none

Add files via upload
  public/images/people/TechDico_Philippe Regall.jpeg
Due: none

Update endorsements.yml
  data/endorsements.yml
Due: none

Fix tab
  data/endorsements.yml
Due: none

Add CEO, TechDico (#503)
  data/endorsements.yml
Due: none

Add CEO, TechDico (#504)
  data/endorsements.yml
  public/images/logos/logo_TechDico.png
  public/images/people/TechDico_Philippe Regall.jpeg
Due: none

Add citation techdico
  data/endorsements.yml
Due: none

Photo upd
  data/endorsements.yml
  public/images/people/TechDico_Philippe Regall.jpeg
  public/images/people/TechDico_PhilippeRegall.jpg
Due: none

Tech dico upd (#505)
  data/endorsements.yml
  public/images/people/TechDico_Philippe Regall.jpeg
  public/images/people/TechDico_PhilippeRegall.jpg
Due: none

Tech dico upd (#505) (#506)
  data/endorsements.yml
  public/images/people/TechDico_Philippe Regall.jpeg
  public/images/people/TechDico_PhilippeRegall.jpg
Due: none

Update services page
  content/index.js
  data/services.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  design-v2/components/index.js
  design-v2/components/video/index.jsx
  design-v2/components/video/styles.module.scss
  package-lock.json
  pages/index.jsx
  pages/services/index.jsx
  pages/services/services.module.scss
  public/images/services/line.svg
  public/images/services/video_placeholder.svg
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

update text
  .gitignore
  data/oai_resolve.yml
  pages/oai_resolve.module.scss
  pages/oai_resolver.jsx
  public/images/oai_resolve/logo.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update styles
  components/service-groups/index.jsx
  data/services.yml
  design-v2/components/layout/section.jsx
  design-v2/components/layout/styles.module.scss
  pages/services/index.jsx
  pages/services/services.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update margins and paddings
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  pages/services/index.jsx
  pages/services/services.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Core 4184/implement services page (#507)
  components/service-groups/index.jsx
  content/index.js
  data/services.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  design-v2/components/index.js
  design-v2/components/layout/section.jsx
  design-v2/components/layout/styles.module.scss
  design-v2/components/video/index.jsx
  design-v2/components/video/styles.module.scss
  package-lock.json
  pages/index.jsx
  pages/services/index.jsx
  pages/services/services.module.scss
  public/images/services/line.svg
  public/images/services/video_placeholder.svg
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Core 4184/implement services page (#507) (#509)
  components/service-groups/index.jsx
  content/index.js
  data/services.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  design-v2/components/index.js
  design-v2/components/layout/section.jsx
  design-v2/components/layout/styles.module.scss
  design-v2/components/video/index.jsx
  design-v2/components/video/styles.module.scss
  package-lock.json
  pages/index.jsx
  pages/services/index.jsx
  pages/services/services.module.scss
  public/images/services/line.svg
  public/images/services/video_placeholder.svg
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Fix form input
  pages/oai_resolve.module.scss
  pages/oai_resolve_form.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

FAQ update OAI
  data/faq.yml
  pages/oai_resolve_form.jsx
Due: npm run lint:js -- --fix

FAQ update OAI
  pages/oai_resolve_form.jsx
Due: npm run lint:js -- --fix

FAQ update OAI
  data/oai_resolve.yml
Due: none

FAQ update OAI
  data/faq.yml
Due: none

Fix column padding
  pages/oai_resolve.module.scss
  pages/oai_resolver.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4174 Update OAI resolver (#508)
  .gitignore
  data/faq.yml
  data/oai_resolve.yml
  pages/oai_resolve.module.scss
  pages/oai_resolve_form.jsx
  pages/oai_resolver.jsx
  public/images/oai_resolve/logo.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4174 Update OAI resolver (#508) (#510)
  .gitignore
  data/faq.yml
  data/oai_resolve.yml
  pages/oai_resolve.module.scss
  pages/oai_resolve_form.jsx
  pages/oai_resolver.jsx
  public/images/oai_resolve/logo.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Fix problem with hero mobile version
  design-v2/components/hero/styles.module.scss
  pages/services/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Fix problem with hero mobile version (#511)
  design-v2/components/hero/styles.module.scss
  pages/services/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Fix problem with hero mobile version (#511) (#512)
  design-v2/components/hero/styles.module.scss
  pages/services/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update mission section styles
  pages/about/about.module.scss
  pages/about/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update mission section styles (#513)
  pages/about/about.module.scss
  pages/about/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update mission section styles (#513) (#514)
  pages/about/about.module.scss
  pages/about/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Fix text issue
  pages/services/index.jsx
Due: npm run lint:js -- --fix

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
