Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

feat: CORE-4511 badges in faq and about us page
  data/benefits.yml
  data/faq.yml
  data/resources.yml
  design-v2/benefits/index.jsx
  pages/about/about.module.scss
  pages/about/index.jsx
  pages/faq.jsx
  pages/index.module.scss
  public/images/resources/badges.png
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

[bugfix] SStrict catch loader
  webpack/data-loader.js
Due: npm run lint:js -- --fix

[bugfix] Strict catch loader
  webpack/data-loader.js
Due: npm run lint:js -- --fix

[bugfix] SStrict catch loader (#897)
  webpack/data-loader.js
Due: npm run lint:js -- --fix

[bugfix] SStrict catch loader (#897) (#898)
  webpack/data-loader.js
Due: npm run lint:js -- --fix

test
  webpack/data-loader.js
Due: npm run lint:js -- --fix

test (#899)
  webpack/data-loader.js
Due: npm run lint:js -- --fix

test (#899) (#900)
  webpack/data-loader.js
Due: npm run lint:js -- --fix

Add or update the Azure App Service build and deployment workflow config
  .github/workflows/azure_testdeploy_coretestapp2.yml
Due: none

add env to actions
  .github/workflows/azure_testdeploy_coretestapp2.yml
Due: none

test run only on local
  .github/workflows/azure_testdeploy_coretestapp2.yml
Due: none

downgrade to 14 to see
  .github/workflows/azure_testdeploy_coretestapp2.yml
Due: none

try to make the build process quick
  .deployment
  .github/workflows/azure_testdeploy_coretestapp2.yml
  deploy.sh
Due: none

understand what i can do with this kudu script
  deploy.sh
Due: none

probably needs a build
  .github/workflows/azure_testdeploy_coretestapp2.yml
Due: none

fix yaml
  .github/workflows/azure_testdeploy_coretestapp2.yml
Due: none

Fix fail build
  components/outreach-materials/index.jsx
  pages/about/ambassadors.jsx
Due: npm run lint:js -- --fix

CORE-4524 advisory board
  core.routes.yml
  data/advisory.yml
  data/community/home.yml
  data/home.yml
  data/membership.yml
  data/registration.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  netlify-cms.config.yml
  package-lock.json
  package.json
  pages/about/about.module.scss
  pages/about/index.jsx
  pages/community/community.module.scss
  pages/governance/advisory.jsx
  pages/governance/community.module.scss
  pages/governance/index.jsx
  pages/governance/research/index.jsx
  pages/governance/supporters.jsx
  public/images/advisory-board.svg
  public/images/chicago.svg
  public/images/community/community.svg
  public/images/core.svg
  public/images/dans.svg
  public/images/governance.svg
  public/images/harvard.svg
  public/images/montreal.svg
  public/images/nationalInstitute.svg
  public/images/singaporesvg.svg
  public/images/tuwien.svg
  public/images/ukcorr.svg
  public/images/ukri.svg
  templates/governance/advisory/advisory.module.scss
  templates/governance/advisory/index.jsx
  templates/governance/research/index.jsx
  templates/governance/research/research.module.scss
  templates/governance/supporters/hooks/useTable.jsx
  templates/governance/supporters/index.jsx
  templates/governance/supporters/supporters.module.scss
  templates/index.js
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE-4524 advisory board (#901)
  core.routes.yml
  data/advisory.yml
  data/community/home.yml
  data/home.yml
  data/membership.yml
  data/registration.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  netlify-cms.config.yml
  package-lock.json
  package.json
  pages/about/about.module.scss
  pages/about/index.jsx
  pages/community/community.module.scss
  pages/governance/advisory.jsx
  pages/governance/community.module.scss
  pages/governance/index.jsx
  pages/governance/research/index.jsx
  pages/governance/supporters.jsx
  public/images/advisory-board.svg
  public/images/chicago.svg
  public/images/community/community.svg
  public/images/core.svg
  public/images/dans.svg
  public/images/governance.svg
  public/images/harvard.svg
  public/images/montreal.svg
  public/images/nationalInstitute.svg
  public/images/singaporesvg.svg
  public/images/tuwien.svg
  public/images/ukcorr.svg
  public/images/ukri.svg
  templates/governance/advisory/advisory.module.scss
  templates/governance/advisory/index.jsx
  templates/governance/research/index.jsx
  templates/governance/research/research.module.scss
  templates/governance/supporters/hooks/useTable.jsx
  templates/governance/supporters/index.jsx
  templates/governance/supporters/supporters.module.scss
  templates/index.js
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE-4524 advisory board (#901) (#902)
  core.routes.yml
  data/advisory.yml
  data/community/home.yml
  data/home.yml
  data/membership.yml
  data/registration.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  netlify-cms.config.yml
  package-lock.json
  package.json
  pages/about/about.module.scss
  pages/about/index.jsx
  pages/community/community.module.scss
  pages/governance/advisory.jsx
  pages/governance/community.module.scss
  pages/governance/index.jsx
  pages/governance/research/index.jsx
  pages/governance/supporters.jsx
  public/images/advisory-board.svg
  public/images/chicago.svg
  public/images/community/community.svg
  public/images/core.svg
  public/images/dans.svg
  public/images/governance.svg
  public/images/harvard.svg
  public/images/montreal.svg
  public/images/nationalInstitute.svg
  public/images/singaporesvg.svg
  public/images/tuwien.svg
  public/images/ukcorr.svg
  public/images/ukri.svg
  templates/governance/advisory/advisory.module.scss
  templates/governance/advisory/index.jsx
  templates/governance/research/index.jsx
  templates/governance/research/research.module.scss
  templates/governance/supporters/hooks/useTable.jsx
  templates/governance/supporters/index.jsx
  templates/governance/supporters/supporters.module.scss
  templates/index.js
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

update header
  package-lock.json
  package.json
Due: npm run lint:json -- --write

update header (#903)
  package-lock.json
  package.json
Due: npm run lint:json -- --write

update header (#903) (#904)
  package-lock.json
  package.json
Due: npm run lint:json -- --write

update table order
  public/images/core.svg
  public/images/ukcorr.svg
  public/images/ukri.svg
  templates/governance/advisory/advisory.module.scss
  templates/governance/advisory/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update table order (#905)
  public/images/core.svg
  public/images/ukcorr.svg
  public/images/ukri.svg
  templates/governance/advisory/advisory.module.scss
  templates/governance/advisory/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update table order (#905) (#906)
  public/images/core.svg
  public/images/ukcorr.svg
  public/images/ukri.svg
  templates/governance/advisory/advisory.module.scss
  templates/governance/advisory/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Advisory Board update
  data/advisory.yml
  public/images/stanford.svg
Due: none

Advisory Board update (#907)
  data/advisory.yml
  public/images/stanford.svg
Due: none

Advisory Board update (#907) (#908)
  data/advisory.yml
  public/images/stanford.svg
Due: none

Add or update the Azure App Service build and deployment workflow config
  .github/workflows/azure_testdeploy_core-about.yml
Due: none

update on actions for coredev sub
  .github/workflows/azure_testdeploy_core-about.yml
  .github/workflows/azure_testdeploy_coretestapp2.yml
Due: none

downgrade node version
  .github/workflows/azure_testdeploy_core-about.yml
Due: none

change deploy and make npm install on the server?
  .github/workflows/azure_testdeploy_core-about.yml
  deploy.sh
Due: none

add run build
  deploy.sh
Due: none

no message
  deploy.sh
Due: none

version can be 16
  .github/workflows/azure_testdeploy_core-about.yml
Due: none

add print msgs
  deploy.sh
Due: none

adds more logs on deploy.sh
  deploy.sh
Due: none

removes prod build
  deploy.sh
Due: none

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
