Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE-3920-Created new collection in netlify
  netlify-cms.config.yml
Due: none

Fixed citation widget
  netlify-cms.config.yml
Due: none

Update config netlify
  netlify-cms.config.yml
Due: none

Update config netlify (#405)
  netlify-cms.config.yml
Due: none

Improved logic of added new quote
  netlify-cms.config.yml
Due: none

Added new collection to netlify CMS for the community
  netlify-cms.config.yml
Due: none

Add posibility to delete single quote
  netlify-cms.config.yml
Due: none

Added new collection to netlify CMS for the community (#406)
  netlify-cms.config.yml
Due: none

Set #links
  data/benefits.yml
  pages/benefits.jsx
  pages/benefits.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

gitignore
  .gitignore
Due: none

Implement statistic API
  data/benefits.yml
  pages/benefits.jsx
  pages/benefits.module.scss
  webpack/statistics.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE-3859_Benefits_page (#404)
  api/data-providers.js
  api/errors.js
  api/index.js
  components/bootstrap_design-v2/_button-group.scss
  components/bootstrap_design-v2/_core.scss
  components/bootstrap_design-v2/_lists.scss
  components/bootstrap_design-v2/_mixins.scss
  components/bootstrap_design-v2/_nav.scss
  components/bootstrap_design-v2/_navbar.scss
  components/bootstrap_design-v2/_variables.scss
  components/bootstrap_design-v2/bootstrap.scss
  components/bootstrap_design-v2/mixins/_sections.scss
  components/design-v2/footer/footer.module.scss
  components/design-v2/footer/index.jsx
  data/benefits.yml
  data/core.yml
  hooks/index.js
  hooks/use-input.js
  next.config.js
  pages/benefits.jsx
  pages/benefits.module.scss
  pages/form.jsx
  public/images/benefits/background-velcro.svg
  public/images/benefits/content-machine-readable.svg
  public/images/benefits/content-visibility.svg
  public/images/benefits/icons/discoverability.svg
  public/images/benefits/icons/network.svg
  public/images/benefits/icons/readable.svg
  public/images/benefits/join-core-form.svg
  public/images/benefits/open-access-network.svg
  public/images/benefits/writing_about_core.svg
  public/images/logos/ou.svg
  templates/data-providers/utils/generate-form-message.jsx
  webpack/statistics.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

change link in homepage
  core.routes.yml
  data/home.yml
Due: none

change link in homepage (#407)
  core.routes.yml
  data/home.yml
Due: none

Update benefits.jsx
  pages/benefits.jsx
Due: npm run lint:js -- --fix

Add link to benefit page #2
  pages/about/index.jsx
Due: npm run lint:js -- --fix

Update benefits.jsx (#408)
  pages/about/index.jsx
  pages/benefits.jsx
Due: npm run lint:js -- --fix

Create community page with static data
  components/page/page.scss
  package-lock.json
  package.json
  pages/_app.jsx
  pages/community/research/index.jsx
  public/images/community/research/avatar.svg
  public/images/community/research/collaboration.svg
  public/images/community/research/dataset.svg
  public/images/community/research/header.svg
  public/images/community/research/share.svg
  templates/community/research/index.jsx
  templates/community/research/research.module.scss
  templates/index.js
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Improve logic of creating single quote
  netlify-cms.config.yml
Due: none

Update logic of creating single quote
  netlify-cms.config.yml
Due: none

Update logic of creating single quote (#410)
  netlify-cms.config.yml
Due: none

gitignore update
  .gitignore
Due: none

Update .gitignore
  .gitignore
Due: none

Update .gitignore (#411)
  .gitignore
Due: none

Update .gitignore (#412)
  .gitignore
Due: none

Merge content to master (#413)
  .gitignore
  netlify-cms.config.yml
Due: none

Update dataset information
  .DS_Store
  data/services/dataset.yml
Due: none

Update dataset information
  data/services/dataset.yml
Due: none

Update dataset information (#415)
  data/services/dataset.yml
Due: none

Add dynamic data and improve styles
  data/community/research.yml
  pages/community/research/index.jsx
  templates/community/research/index.jsx
  templates/community/research/research.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Change package.json(design library to latest)
  package.json
Due: npm run lint:json -- --write

Change github photos url
  pages/about/index.jsx
Due: npm run lint:js -- --fix

Change github photos url (#417)
  pages/about/index.jsx
Due: npm run lint:js -- --fix

Update dataster information and change github assets base url (#418)
  data/services/dataset.yml
  pages/about/index.jsx
Due: npm run lint:js -- --fix

Add new babel plugin to support new syntax
  babel.config.js
  components/switcher/index.jsx
  next.config.js
  package-lock.json
  package.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Add new babel plugin to support new syntax
  api/index.js
  components/logo/index.jsx
  components/outreach-materials/index.jsx
  pages/form.jsx
  pages/history.jsx
Due: npm run lint:js -- --fix

Change design package to latest version
  package-lock.json
  package.json
Due: npm run lint:json -- --write

packege-lock
  package-lock.json
Due: npm run lint:json -- --write

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
