Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Remove “Abhilab Gupta” from the CORE ambassadors website (#432)
  data/ambassadors.yml
Due: none

add Cypris logo
  public/images/logos/Cypris.png
Due: none

Fix bug with country field
  components/modal/registration/country-select.jsx
  components/modal/registration/form.jsx
  components/modal/registration/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Improve error styles
  components/modal/registration/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Add files via upload
  public/images/logos/ Cypris.png
Due: none

Update endorsements.yml
  data/endorsements.yml
Due: none

Add files via upload
  public/images/logos/Cypris.png
Due: none

Delete Cypris.png
  public/images/logos/ Cypris.png
Due: none

add cypris logo (#435)
  data/endorsements.yml
  public/images/logos/Cypris.png
Due: none

Revert "Create registration store and modals (#433)"
  public/images/logos/Cypris.png
Due: none

Registration api and dataset
  components/modal/registration/styles.module.scss
  package-lock.json
Due: npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Fix error with select ref
  components/modal/registration/country-select.jsx
  env.config.js
  next.config.js
Due: npm run lint:js -- --fix

Delete env.config file
  api/services.js
  env.config.js
  next.config.js
Due: npm run lint:js -- --fix

Remove mobx
  components/modal/registration/conditions.jsx
  components/modal/registration/error.jsx
  components/modal/registration/exit.jsx
  components/modal/registration/form.jsx
  components/modal/registration/helpers/findText.js
  components/modal/registration/index.jsx
  components/modal/registration/profile-select.jsx
  components/modal/registration/success.jsx
  components/pages/service.jsx
  package-lock.json
  package.json
  pages/_app.jsx
  store/index.jsx
  store/registration.js
  store/root.js
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Delete babel plugins
  babel.config.js
  next.config.js
  package-lock.json
  package.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Change heading color in join-us block
  components/sections/join.jsx
  components/sections/join.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Change heading color in join-us block (#441)
  components/sections/join.jsx
  components/sections/join.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Change heading color in join-us block (#441) (#442)
  components/sections/join.jsx
  components/sections/join.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update README.md
  README.md
Due: none

Docs update (#443)
  README.md
Due: none

Set cypris
  data/endorsements.yml
Due: none

Set cypris (#444)
  data/endorsements.yml
Due: none

Add files via upload
  public/images/logos/Iris.ai_logo_black.png
Due: none

update document-placeholder
  public/images/document-placeholder.svg
Due: none

Update document-placeholder (#445)
  public/images/document-placeholder.svg
Due: none

Change document-placeholder image (#446)
  public/images/document-placeholder.svg
  public/images/logos/Iris.ai_logo_black.png
Due: none

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
