Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

CORE: api docs new structure
  netlify-cms.config.yml
Due: none

CORE: api docs new structure (#1452)
  netlify-cms.config.yml
Due: none

content cross-repo trigger conf
  .github/workflows/aks_deploy.yml
  .github/workflows/aks_stage_deploy.yml
Due: none

made more informative info about trigger
  .github/workflows/aks_stage_deploy.yml
Due: none

Comment out ref in Checkout step
  .github/workflows/aks_stage_deploy.yml
Due: none

Comment out Checkout ref in aks_deploy.yml
  .github/workflows/aks_deploy.yml
Due: none

Update checkout ref for conditional workflow dispatch
  .github/workflows/aks_stage_deploy.yml
Due: none

Remove 'ref' option from Checkout step
  .github/workflows/aks_deploy.yml
Due: none

Core stg api docs (#1453)
  .github/workflows/aks_deploy.yml
  .github/workflows/aks_stage_deploy.yml
  components/layout/layout.jsx
  data/membership.yml
  kube/prod/deployment.yaml
  netlify-cms.config.yml
  package.json
  pages/documentation/api-documentation.jsx
  pages/gep/index.jsx
  templates/documentation/api-documentation/index.jsx
  templates/documentation/api-documentation/styles.module.scss
  templates/documentation/docsComponents/documentation-membership-nav/documentation-membership-nav.jsx
  templates/documentation/docsComponents/documentation-membership-nav/index.js
  templates/documentation/docsComponents/documentation-membership-nav/styles.module.scss
  templates/documentation/docsComponents/documentation-membership/documentation-markdown.jsx
  templates/documentation/docsComponents/documentation-membership/documentation-membership.jsx
  templates/documentation/docsComponents/documentation-membership/index.js
  templates/documentation/docsComponents/documentation-membership/styles.module.scss
  templates/documentation/membership-documentation/index.jsx
  templates/gep/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Update checkout step to use dynamic ref
  .github/workflows/aks_stage_deploy.yml
Due: none

Update image tag retrieval method in workflow
  .github/workflows/aks_stage_deploy.yml
Due: none

Update build arguments and caching in AKS deploy workflow
  .github/workflows/aks_stage_deploy.yml
Due: none

Enhance AKS deployment workflows with cache busting and improved build arguments
  .github/workflows/aks_deploy.yml
  .github/workflows/aks_stage_deploy.yml
  Dockerfile
Due: none

Refactor Dockerfile to combine npm install and npm ci commands
  Dockerfile
Due: none

Add image tag to Docker build command in AKS deployment workflow
  .github/workflows/aks_stage_deploy.yml
Due: none

Fix Dockerfile to include .npmrc in the copy command
  Dockerfile
Due: none

Refactor Dockerfile to reorganize environment variable declarations
  Dockerfile
Due: none

Refactor Dockerfile to streamline environment variable definitions and improve build process
  .github/workflows/aks_stage_deploy.yml
  Dockerfile
Due: none

CORE: test data
  pages/documentation/api-documentation.jsx
Due: npm run lint:js -- --fix

Update image tag format in AKS deployment workflow to include run ID
  .github/workflows/aks_stage_deploy.yml
Due: none

Add echo statement to output image tag in AKS deployment workflow
  .github/workflows/aks_stage_deploy.yml
Due: none

Refactor Dockerfile and update AKS deployment script for improved image tagging and caching
  .github/workflows/aks_stage_deploy.yml
  Dockerfile
Due: none

CORE: update doc structure
  netlify-cms.config.yml
  pages/documentation/api-documentation.jsx
  templates/documentation/api-documentation/index.jsx
Due: npm run lint:js -- --fix

CORE: doc structure test
  netlify-cms.config.yml
Due: none

CORE: doc structure fix
  netlify-cms.config.yml
Due: none

CORE: doc structure fix v2
  netlify-cms.config.yml
Due: none

CORE: doc structure fix v3
  netlify-cms.config.yml
Due: none

CORE: doc structure fix v4
  netlify-cms.config.yml
Due: none

CORE: add todos
  templates/documentation/api-documentation/index.jsx
  templates/documentation/data-providers-guide/index.jsx
  templates/documentation/docsComponents/documentation-membership-nav/documentation-membership-nav.jsx
  templates/documentation/docsComponents/documentation-membership/documentation-membership.jsx
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix

CORE: test new structure
  netlify-cms.config.yml
  templates/documentation/api-documentation/index.jsx
  templates/documentation/docsComponents/flatten-doc-items.js
Due: npm run lint:js -- --fix

CORE: test new section naming
  netlify-cms.config.yml
  templates/documentation/docsComponents/flatten-doc-items.js
Due: npm run lint:js -- --fix

Fix docs-graph CMS schema to match nested docs.yml structure.
  netlify-cms.config.yml
Due: none

CORE: trigger
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix

Core trigger main (#1454)
  netlify-cms.config.yml
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix

CORE: hide null navs
  templates/documentation/docsComponents/documentation-membership-nav/documentation-membership-nav.jsx
Due: npm run lint:js -- --fix

CORE: validate email based on domain
  components/modal/hooks/use-input.js
  components/modal/hooks/use-organisation-domains.js
  components/modal/registration/form.jsx
  components/modal/registration/helpers/validateInstitutionEmail.js
  components/modal/registration/institution-select.jsx
Due: npm run lint:js -- --fix

CORE: validate improved
  components/modal/hooks/use-organisation-domains.js
  components/modal/registration/form.jsx
  components/modal/registration/helpers/validateInstitutionEmail.js
Due: npm run lint:js -- --fix

CORE: validate links if we dont have domain
  components/modal/registration/helpers/validateInstitutionEmail.js
Due: npm run lint:js -- --fix

CORE: validate message view
  components/modal/registration/form.jsx
  components/modal/registration/helpers/validateInstitutionEmail.js
  components/modal/registration/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

set proper api for stg env
  .github/workflows/aks_stage_deploy.yml
  env.config.js
Due: npm run lint:js -- --fix
