Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

CORE: use reusable component
  components/docs-select/index.jsx
  components/docs-select/styles.module.scss
  package-lock.json
  templates/documentation/data-providers-guide/index.jsx
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE: use reusable component (#1392)
  components/docs-select/index.jsx
  components/docs-select/styles.module.scss
  package-lock.json
  templates/documentation/data-providers-guide/index.jsx
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE: use reusable component (#1392) (#1393)
  components/docs-select/index.jsx
  components/docs-select/styles.module.scss
  package-lock.json
  templates/documentation/data-providers-guide/index.jsx
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE: update footer version
  package-lock.json
Due: npm run lint:json -- --write

CORE: update footer version (#1395)
  package-lock.json
Due: npm run lint:json -- --write

CORE: update footer version (#1395) (#1396)
  package-lock.json
Due: npm run lint:json -- --write

CORE: update header version
  package-lock.json
Due: npm run lint:json -- --write

CORE: update header version (#1397)
  package-lock.json
Due: npm run lint:json -- --write

CORE: update header version (#1397) (#1398)
  package-lock.json
Due: npm run lint:json -- --write

CORE: fix carousel resp
  pages/index.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE: fix review resp
  pages/index.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE: update header resp
  package-lock.json
Due: npm run lint:json -- --write

Core fix about carousel responsive (#1399)
  package-lock.json
  pages/index.module.scss
Due: npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Core fix about carousel responsive (#1399) (#1400)
  package-lock.json
  pages/index.module.scss
Due: npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE: add scroll
  templates/documentation/dataset/index.jsx
Due: npm run lint:js -- --fix

CORE: add scroll (#1401)
  templates/documentation/dataset/index.jsx
Due: npm run lint:js -- --fix

CORE: add scroll (#1401) (#1402)
  templates/documentation/dataset/index.jsx
Due: npm run lint:js -- --fix

Add scheduled deployment to Azure container app
  .github/workflows/deploy.yml
Due: none

add deploy yml
  .github/workflows/deploy.yml
Due: none

Rename workflow for staging deployment
  .github/workflows/deploy.yml
Due: none

revert change
  .github/workflows/deploy.yml
Due: none

Rename deploy workflow for staging environment
  .github/workflows/stage-deploy.yml
Due: none

Optimize Dockerfile for dependency management
  Dockerfile
Due: none

revert dockerfile
  Dockerfile
Due: none

Rename workflow to prod deploy azure
  .github/workflows/prod-deploy.yml
Due: none

CORE: reverse newsletter order
  templates/governance/supporters/index.jsx
  templates/membership/index.jsx
Due: npm run lint:js -- --fix

CORE: reverse newsletter order (#1404)
  templates/governance/supporters/index.jsx
  templates/membership/index.jsx
Due: npm run lint:js -- --fix

CORE: reverse newsletter order (#1404) (#1405)
  templates/governance/supporters/index.jsx
  templates/membership/index.jsx
Due: npm run lint:js -- --fix

Add environment specification for Azure deployment
  .github/workflows/prod-deploy.yml
Due: none

Add GitHub Actions workflow for Azure deployment
  .github/workflows/prod-deploy.yml
Due: none

CORE: add hash
  templates/documentation/dataset/index.jsx
Due: npm run lint:js -- --fix

CORE: add hash (#1406)
  templates/documentation/dataset/index.jsx
Due: npm run lint:js -- --fix

add navigation links (#1407)
  .github/workflows/prod-deploy.yml
  templates/documentation/dataset/index.jsx
Due: npm run lint:js -- --fix

CORE: add linking
  templates/term/index.jsx
Due: npm run lint:js -- --fix

CORE: add linking (#1408)
  templates/term/index.jsx
Due: npm run lint:js -- --fix

CORE: add linking (#1408) (#1409)
  templates/term/index.jsx
Due: npm run lint:js -- --fix

Add repo to USRN
  templates/governance/supporters/index.jsx
Due: npm run lint:js -- --fix

Add repo to USRN
  package-lock.json
  package.json
  templates/governance/supporters/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write
