Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

hotfix to avoid oom
  next.config.js
Due: npm run lint:js -- --fix

CORE-4730: linking issue
  data/home.yml
  pages/index.jsx
  pages/index.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4730: linking issue (#1030)
  data/home.yml
  pages/index.jsx
  pages/index.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4730: linking issue (#1030) (#1031)
  data/home.yml
  pages/index.jsx
  pages/index.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4730: spacing
  pages/index.jsx
  pages/index.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4730: spacing (#1032)
  pages/index.jsx
  pages/index.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4730: spacing (#1032) (#1033)
  pages/index.jsx
  pages/index.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

subscription update
  data/membership.yml
Due: none

subscription update (#1034)
  data/membership.yml
Due: none

subscription update (#1034) (#1035)
  data/membership.yml
Due: none

CORE-4739: add data providers docs
  data/dataProviders.yml
  data/membership.yml
  package-lock.json
  package.json
  pages/documentations/index.jsx
  pages/documentations/styles.module.scss
  pages/membership-documentation/index.jsx
  templates/documentations/dataProviderDocs.jsx
  templates/documentations/index.jsx
  templates/documentations/styles.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE-4738: small impovments
  data/dataProviders.yml
  data/membership.yml
  package-lock.json
  package.json
  pages/documentations/styles.module.scss
Due: npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE-4739: add data providers docs (#1036)
  data/dataProviders.yml
  data/membership.yml
  package-lock.json
  package.json
  pages/documentations/index.jsx
  pages/documentations/styles.module.scss
  pages/membership-documentation/index.jsx
  templates/documentations/dataProviderDocs.jsx
  templates/documentations/index.jsx
  templates/documentations/styles.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE-4739: add data providers docs (#1036) (#1037)
  data/dataProviders.yml
  data/membership.yml
  package-lock.json
  package.json
  pages/documentations/index.jsx
  pages/documentations/styles.module.scss
  pages/membership-documentation/index.jsx
  templates/documentations/dataProviderDocs.jsx
  templates/documentations/index.jsx
  templates/documentations/styles.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE-4739: redirect
  data/benefits.yml
  data/membership.yml
  design-v2/benefits/index.jsx
  design-v2/benefits/styles.module.scss
  templates/documentations/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4739: redirect (#1038)
  data/benefits.yml
  data/membership.yml
  design-v2/benefits/index.jsx
  design-v2/benefits/styles.module.scss
  templates/documentations/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4739: redirect (#1038) (#1039)
  data/benefits.yml
  data/membership.yml
  design-v2/benefits/index.jsx
  design-v2/benefits/styles.module.scss
  templates/documentations/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4739 add docs to netlify
  netlify-cms.config.yml
Due: none

CORE-4739 add docs to netlify (#1040)
  netlify-cms.config.yml
Due: none

CORE-4739 add docs to netlify (#1040) (#1041)
  netlify-cms.config.yml
Due: none

docs show issue
  package-lock.json
  package.json
  templates/documentations/dataProviderDocs.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

docs show issue (#1042)
  package-lock.json
  package.json
  templates/documentations/dataProviderDocs.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

docs show issue (#1042) (#1043)
  package-lock.json
  package.json
  templates/documentations/dataProviderDocs.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

CORE-4764: update pages
  data/data.yml
  data/home.yml
  design-v2/components/sections/key-feature.jsx
  design-v2/components/sections/key-feature.module.scss
  design-v2/highlight-section/highlight-section.module.scss
  pages/index.jsx
  pages/index.module.scss
  public/images/heros/database.svg
  public/images/heros/oai.svg
  public/images/illustrations/chart.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4764: update pages (#1046)
  data/data.yml
  data/home.yml
  design-v2/components/sections/key-feature.jsx
  design-v2/components/sections/key-feature.module.scss
  design-v2/highlight-section/highlight-section.module.scss
  pages/index.jsx
  pages/index.module.scss
  public/images/heros/database.svg
  public/images/heros/oai.svg
  public/images/illustrations/chart.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4764: update pages (#1046) (#1047)
  data/data.yml
  data/home.yml
  design-v2/components/sections/key-feature.jsx
  design-v2/components/sections/key-feature.module.scss
  design-v2/highlight-section/highlight-section.module.scss
  pages/index.jsx
  pages/index.module.scss
  public/images/heros/database.svg
  public/images/heros/oai.svg
  public/images/illustrations/chart.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: small updates
  data/data.yml
  data/home.yml
Due: none

CORE: small updates (#1048)
  data/data.yml
  data/home.yml
Due: none

CORE: small updates (#1048) (#1049)
  data/data.yml
  data/home.yml
Due: none

CORE-4674: put faqs on netlify
  netlify-cms.config.yml
Due: none

CORE-4674: put faqs on netlify (#1050)
  netlify-cms.config.yml
Due: none

CORE-4674: put faqs on netlify (#1050) (#1051)
  netlify-cms.config.yml
Due: none

CORE-4674: faq to netlify
  design-v2/benefits/index.jsx
  pages/benefits.jsx
  pages/faq.jsx
Due: npm run lint:js -- --fix

CORE-4674: faq to netlify (#1052)
  design-v2/benefits/index.jsx
  pages/benefits.jsx
  pages/faq.jsx
Due: npm run lint:js -- --fix

CORE-4674: faq to netlify (#1052) (#1053)
  design-v2/benefits/index.jsx
  pages/benefits.jsx
  pages/faq.jsx
Due: npm run lint:js -- --fix

CORE-bsd linking update
  data/research-outputs.yml
  pages/about/research-outputs.jsx
Due: npm run lint:js -- --fix

CORE-bsd linking update (#1054)
  data/research-outputs.yml
  pages/about/research-outputs.jsx
Due: npm run lint:js -- --fix
