Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

Removes unused components
  templates/community/research/index.jsx
Due: npm run lint:js -- --fix

Update design version
  package-lock.json
  package.json
Due: npm run lint:json -- --write

Move packages to devDependecies
  package.json
Due: npm run lint:json -- --write

Update design package version
  package-lock.json
Due: npm run lint:json -- --write

Remove unused dependencies
  package-lock.json
  package.json
Due: npm run lint:json -- --write

Update design version (#458)
  package-lock.json
Due: npm run lint:json -- --write

Update design version (#458) (#459)
  package-lock.json
Due: npm run lint:json -- --write

Rename ambassadors section in about page to communities
  core.routes.yml
  netlify-cms.config.yml
Due: none

Rename ambassadors section in about page to communities (#460)
  core.routes.yml
  netlify-cms.config.yml
Due: none

add new repo
  pages/form.jsx
  templates/data-providers/utils/generate-form-message.jsx
Due: npm run lint:js -- --fix

add new repo
  templates/data-providers/utils/generate-form-message.jsx
Due: npm run lint:js -- --fix

Rename ambassadors section in about page to communities (#460) (#461)
  core.routes.yml
  netlify-cms.config.yml
Due: none

merge
  core.routes.yml
  data/endorsements.yml
  data/services/discovery.yml
  netlify-cms.config.yml
  package-lock.json
  public/images/people/Gareth_Malcolm.jpeg
  public/images/people/Ronin-Wu.jpg
Due: npm run lint:json -- --write

Promote api v3 from beta to production (#457)
  data/services/api.yml
Due: none

Add extra action button
  pages/about/about.module.scss
  pages/about/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Core-3920 implementing community page (#416)
  components/content/content.scss
  components/design-v2/footer/footer.module.scss
  components/footer/footer.module.scss
  components/key-feature/key-feature.module.scss
  components/logos-carousel/logos-carousel.module.scss
  components/maps/image-map/image-map.module.scss
  components/maps/pins/pins.module.scss
  components/page/page.scss
  components/pages/service.module.scss
  components/repositories-map/repositories-map.module.scss
  components/service-groups/service-groups.module.scss
  components/switcher/switcher.module.scss
  components/testimonial/testimonial.module.scss
  data/community/research.yml
  next.config.js
  package-lock.json
  pages/_app.jsx
  pages/about/about.module.scss
  pages/about/index.jsx
  pages/community/research/index.jsx
  pages/services/services.module.scss
  public/images/community/research/avatar.svg
  public/images/community/research/collaboration.svg
  public/images/community/research/dataset.svg
  public/images/community/research/header.svg
  public/images/community/research/share.svg
  templates/community/research/index.jsx
  templates/community/research/research.module.scss
  templates/index.js
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

set error msg for 500 error
  pages/form.jsx
Due: npm run lint:js -- --fix

Core 4086 adding repository response 500 (#462)
  data/endorsements.yml
  pages/form.jsx
  templates/data-providers/utils/generate-form-message.jsx
Due: npm run lint:js -- --fix

Implement community page and new links in about page (#463)
  components/content/content.scss
  components/design-v2/footer/footer.module.scss
  components/footer/footer.module.scss
  components/key-feature/key-feature.module.scss
  components/logos-carousel/logos-carousel.module.scss
  components/maps/image-map/image-map.module.scss
  components/maps/pins/pins.module.scss
  components/page/page.scss
  components/pages/service.module.scss
  components/repositories-map/repositories-map.module.scss
  components/service-groups/service-groups.module.scss
  components/switcher/switcher.module.scss
  components/testimonial/testimonial.module.scss
  data/community/research.yml
  data/endorsements.yml
  data/services/api.yml
  next.config.js
  package-lock.json
  pages/_app.jsx
  pages/about/about.module.scss
  pages/about/index.jsx
  pages/community/research/index.jsx
  pages/form.jsx
  pages/services/services.module.scss
  public/images/community/research/avatar.svg
  public/images/community/research/collaboration.svg
  public/images/community/research/dataset.svg
  public/images/community/research/header.svg
  public/images/community/research/share.svg
  templates/community/research/index.jsx
  templates/community/research/research.module.scss
  templates/data-providers/utils/generate-form-message.jsx
  templates/index.js
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Fix old styles
  components/design-v2/sections/services.jsx
  components/index.js
  components/key-feature/index.jsx
  components/key-feature/key-feature.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Init new cookie
  components/cookies/check.svg
  components/cookies/cookies-provider.js
  components/cookies/cookies.module.scss
  components/cookies/form.jsx
  components/cookies/hooks.js
  components/cookies/index.js
  components/cookies/popup.jsx
  components/cookies/settings.svg
  hooks/analytics.js
  main/index.jsx
  package-lock.json
  package.json
  pages/_app.jsx
  pages/cookies.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Create function to support cookies submit
  components/cookies/form.jsx
  helpers/index.js
  next.config.js
Due: npm run lint:js -- --fix

Fix cache page text, use latest design library version
  components/cookies/hooks.js
  components/cookies/index.js
  components/cookies/index.jsx
  components/index.js
  data/cookies.yml
  main/index.jsx
  package-lock.json
  package.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write

oai resolve page
  .DS_Store
  data/oai_resolve.yml
  pages/oai_resolve.module.scss
  pages/oai_resolve_form.jsx
  pages/oai_resolver.jsx
  public/.DS_Store
  public/images/.DS_Store
  public/images/oai_resolve/explore.png
  public/images/oai_resolve/logo.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

OAI resolver page
  .DS_Store
Due: none

Rm Ds_store
  public/.DS_Store
  public/images/.DS_Store
Due: none

oai resolve page (#466)
  data/oai_resolve.yml
  pages/oai_resolve.module.scss
  pages/oai_resolve_form.jsx
  pages/oai_resolver.jsx
  public/images/oai_resolve/explore.png
  public/images/oai_resolve/logo.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Error page implement
  data/faq.yml
  pages/oai_resolve_form.jsx
Due: npm run lint:js -- --fix

Update text
  components/design-v2/footer/footer.module.scss
  components/design-v2/footer/index.jsx
  components/design-v2/sections/_variables.scss
  components/design-v2/sections/footer/index.jsx
  components/design-v2/sections/footer/index.module.scss
  components/page/page.scss
  data/home.yml
  design-v2/components/index.js
  design-v2/components/layout/index.js
  design-v2/components/layout/section.jsx
  design-v2/components/layout/styles.module.scss
  design-v2/components/search-form/index.jsx
  design-v2/components/search-form/styles.module.scss
  design-v2/components/sections/_variables.scss
  design-v2/components/sections/index.js
  design-v2/components/sections/join.jsx
  design-v2/components/sections/join.module.scss
  design-v2/components/sections/key-feature.jsx
  design-v2/components/sections/key-feature.module.scss
  design-v2/components/sections/line.svg
  design-v2/components/sections/services.jsx
  design-v2/components/sections/services.module.scss
  design-v2/components/sections/testimonial.jsx
  design-v2/components/sections/testimonial.module.scss
  design-v2/components/testimonial/index.jsx
  design-v2/components/testimonial/testimonial-card.module.scss
  main/index.jsx
  next.config.js
  pages/index.jsx
  pages/index.module.scss
  public/images/heros/community.svg
  public/images/logos/ukri.png
  public/images/partners/coar.png
  public/images/partners/ukcorr.png
  public/images/partners/ukri.png
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Page width
  components/bootstrap/_variables.scss
  components/content/content.scss
  pages/oai_resolve.module.scss
  pages/oai_resolver.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Page error style
  pages/oai_resolve_form.jsx
Due: npm run lint:js -- --fix

Oai resolver update (#468)
  components/bootstrap/_variables.scss
  components/content/content.scss
  data/faq.yml
  pages/oai_resolve.module.scss
  pages/oai_resolve_form.jsx
  pages/oai_resolver.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Oai resolver update (#468) (#469)
  components/bootstrap/_variables.scss
  components/content/content.scss
  data/faq.yml
  pages/oai_resolve.module.scss
  pages/oai_resolve_form.jsx
  pages/oai_resolver.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update hero image,testimonial,design version
  data/home.yml
  design-v2/components/index.js
  design-v2/components/layout/index.js
  design-v2/components/sections/testimonial.jsx
  design-v2/components/testimonial/index.jsx
  design-v2/components/testimonial/testimonial-card.module.scss
  package-lock.json
  package.json
  pages/index.jsx
  pages/index.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Refresh all packages
  package-lock.json
Due: npm run lint:json -- --write

Doc upd
  components/content/content.scss
Due: prettier --ignore-path .gitignore --check --write

Doc upd (#471)
  components/content/content.scss
Due: prettier --ignore-path .gitignore --check --write

Master update (#472)
  components/bootstrap/_variables.scss
  components/content/content.scss
  data/faq.yml
  pages/oai_resolve.module.scss
  pages/oai_resolve_form.jsx
  pages/oai_resolver.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write
