Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Merge from master
  README.md
  components/sections/join.jsx
  components/sections/join.module.scss
  data/endorsements.yml
  public/images/logos/Iris.ai_logo_black.png
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Change document-placeholder
  public/images/document-placeholder.svg
Due: none

Update thumbnail placeholder (#447)
  public/images/document-placeholder.svg
Due: none

Add validation for empty fields author
  components/sections/endorsements.jsx
  data/endorsements.yml
  pages/index.jsx
Due: npm run lint:js -- --fix

Add validation for empty fields author in partners (#448)
  components/sections/endorsements.jsx
  data/endorsements.yml
  pages/index.jsx
  public/images/document-placeholder.svg
Due: npm run lint:js -- --fix

Update endorsements.yml
  data/endorsements.yml
Due: none

Update endorsements.yml (#449)
  data/endorsements.yml
Due: none

Update endorsements.yml (#450)
  data/endorsements.yml
Due: none

Update endorsements.yml (#451)
  data/endorsements.yml
Due: none

Update endorsements.yml
  public/images/people/Ronin Wu.png
  public/images/people/RoninWu.png
Due: none

Add files via upload
  public/images/people/Ronin-Wu.jpg
Due: none

Delete RoninWu.png
  public/images/people/RoninWu.png
Due: none

Delete Ronin Wu.png
  public/images/people/Ronin Wu.png
Due: none

Fix photo (#453)
  data/endorsements.yml
  public/images/people/Ronin-Wu.jpg
Due: none

Add files via upload
  public/images/logos/Gareth Malcolm.jpeg
Due: none

Add files via upload
  public/images/logos/Gareth_Malcolm.jpeg
Due: none

Create endorsements.yml
  data/endorsements.yml
Due: none

Add files via upload
  public/images/people/Gareth_Malcolm.jpeg
Due: none

Delete Gareth Malcolm.jpeg
  public/images/logos/Gareth Malcolm.jpeg
Due: none

Delete Gareth_Malcolm.jpeg
  public/images/logos/Gareth_Malcolm.jpeg
Due: none

Add Gareth Malcolm (#454)
  data/endorsements.yml
  public/images/people/Gareth_Malcolm.jpeg
Due: none

add a paragraph On the Discovery page
  data/services/discovery.yml
Due: none

add a paragraph On the Discovery page (#455)
  data/services/discovery.yml
Due: none

Update discovery.yml
  data/services/discovery.yml
Due: none

Update discovery.yml (#456)
  data/services/discovery.yml
Due: none

Removes contact us from page
  templates/community/research/index.jsx
Due: npm run lint:js -- --fix

Code quality checks
  templates/community/research/index.jsx
Due: npm run lint:js -- --fix

More code quality fixes
  templates/community/research/index.jsx
Due: npm run lint:js -- --fix

Update api.yml
  data/services/api.yml
Due: none

Removes symposium
  templates/community/research/index.jsx
Due: npm run lint:js -- --fix

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
