Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

test deploy with arm template
  .github/workflows/arm_template/about-arm-template.json
  .github/workflows/azure_deploy_arm.yml
Due: npm run lint:json -- --write

update fee
  data/membership.yml
Due: none

update fee (#941)
  data/membership.yml
Due: none

update fee (#941) (#942)
  data/membership.yml
Due: none

Core 4522 (#914)
  data/payment.yml
  pages/membership-request-status/success.jsx
  store/membership.js
  templates/member/form/hooks/use-select.js
  templates/member/form/index.jsx
  templates/member/form/select.jsx
  templates/member/form/styles.module.scss
  templates/member/starting/conditions/index.jsx
  templates/member/starting/conditions/styles.module.scss
  templates/member/starting/verify-registered.jsx
  templates/member/starting/verify_anonymous.jsx
  templates/member/styles.module.scss
  templates/member/success.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Core 4522 (#914) (#943)
  data/payment.yml
  pages/membership-request-status/success.jsx
  store/membership.js
  templates/member/form/hooks/use-select.js
  templates/member/form/index.jsx
  templates/member/form/select.jsx
  templates/member/form/styles.module.scss
  templates/member/starting/conditions/index.jsx
  templates/member/starting/conditions/styles.module.scss
  templates/member/starting/verify-registered.jsx
  templates/member/starting/verify_anonymous.jsx
  templates/member/styles.module.scss
  templates/member/success.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

added new template & changed configurations in yml
  .github/workflows/arm_template/about-arm-template.json
  .github/workflows/azure_deploy_arm.yml
  .github/workflows/azure_testdeploy_core-about.yml
  deploy/template.bicep
Due: npm run lint:json -- --write

CORE-4522: Text upd
  data/payment.yml
  templates/member/index.jsx
  templates/member/starting/conditions/index.jsx
  templates/member/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4522: Text upd #2
  data/payment.yml
  templates/member/starting/verify_anonymous.jsx
Due: npm run lint:js -- --fix

Feeture/core 4522 text update #2 (#944)
  data/payment.yml
  templates/member/index.jsx
  templates/member/starting/conditions/index.jsx
  templates/member/starting/verify_anonymous.jsx
  templates/member/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Feeture/core 4522 text update #2 (#944) (#945)
  data/payment.yml
  templates/member/index.jsx
  templates/member/starting/conditions/index.jsx
  templates/member/starting/verify_anonymous.jsx
  templates/member/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

test with publish profile
  .github/workflows/azure_deploy_arm.yml
Due: none

Add files via upload
  public/images/logos/Anthropic_logo.svg
  public/images/logos/Audemicr_logo.svg
  public/images/logos/Caktus_logo.svg
Due: none

Add files via upload (#946)
  public/images/logos/Anthropic_logo.svg
  public/images/logos/Audemicr_logo.svg
  public/images/logos/Caktus_logo.svg
Due: none

Add 3 opinion
  data/endorsements.yml
Due: none

Feature/add three opnion (#947)
  data/endorsements.yml
Due: none

Feature/add three opnion (#947) (#948)
  data/endorsements.yml
Due: none

update text
  data/research-outputs.yml
Due: none

update text (#949)
  data/research-outputs.yml
Due: none

update text (#949) (#950)
  data/research-outputs.yml
Due: none

update footer
  package-lock.json
  package.json
  public/images/logos/open-university.png
Due: npm run lint:json -- --write

update footer (#951)
  package-lock.json
  package.json
  public/images/logos/open-university.png
Due: npm run lint:json -- --write

update footer (#951) (#952)
  package-lock.json
  package.json
  public/images/logos/open-university.png
Due: npm run lint:json -- --write

update logos
  data/endorsements.yml
Due: none

update logos (#953)
  data/endorsements.yml
Due: none

update logos (#953) (#954)
  data/endorsements.yml
Due: none

Add formap cached data
  components/repositories-map/index.jsx
  next.config.js
  pages/about/index.jsx
  webpack/data-loader/formap.js
Due: npm run lint:js -- --fix

Add formap cached data (#955)
  components/repositories-map/index.jsx
  next.config.js
  pages/about/index.jsx
  webpack/data-loader/formap.js
Due: npm run lint:js -- --fix

Add formap cached data (#955) (#956)
  components/repositories-map/index.jsx
  next.config.js
  pages/about/index.jsx
  webpack/data-loader/formap.js
Due: npm run lint:js -- --fix

update documentation
  data/membership.yml
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update documentation (#957)
  data/membership.yml
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update documentation (#957) (#958)
  data/membership.yml
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update membership docs
  data/membership.yml
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update membership docs (#959)
  data/membership.yml
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update membership docs (#959) (#960)
  data/membership.yml
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Netlify update
  netlify-cms.config.yml
Due: none

Netlify update (#961)
  netlify-cms.config.yml
Due: none

Netlify update (#962)
  netlify-cms.config.yml
Due: none
