Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

Update next.config.js
  next.config.js
Due: npm run lint:js -- --fix

CORE: update date property
  components/modal/registration/form.jsx
  store/registration.js
Due: npm run lint:js -- --fix

CORE: update date property (#1374)
  components/modal/registration/form.jsx
  store/registration.js
Due: npm run lint:js -- --fix

CORE: update date property (#1374) (#1375)
  components/modal/registration/form.jsx
  store/registration.js
Due: npm run lint:js -- --fix

added GA code
  .github/workflows/deploy.yml
  Dockerfile
Due: none

tests with GA CODE
  Dockerfile
Due: none

fix the GA cache issue
  .github/workflows/deploy.yml
Due: none

CORE: update api tab order
  components/modal/registration/profile-select.jsx
  data/registration.yml
Due: npm run lint:js -- --fix

CORE: update api tab order (#1376)
  components/modal/registration/profile-select.jsx
  data/registration.yml
Due: npm run lint:js -- --fix

CORE: update api tab order (#1376) (#1377)
  components/modal/registration/profile-select.jsx
  data/registration.yml
Due: npm run lint:js -- --fix

Update Dockerfile
  Dockerfile
Due: none

set node env and options before run build
  Dockerfile
Due: none

change building args
  .github/workflows/deploy.yml
Due: none

fixed building stage
  Dockerfile
Due: none

change acr name
  .github/workflows/deploy.yml
Due: none

CORE-5239: add rate alert
  components/modal/registration/form.jsx
  components/modal/registration/styles.module.scss
  data/registration.yml
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-5239: add rate alert (#1378)
  components/modal/registration/form.jsx
  components/modal/registration/styles.module.scss
  data/registration.yml
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-5239: add rate alert (#1378) (#1379)
  components/modal/registration/form.jsx
  components/modal/registration/styles.module.scss
  data/registration.yml
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: update logo
  public/images/logos/imperial.svg
Due: none

CORE: update logo (#1380)
  public/images/logos/imperial.svg
Due: none

CORE: update logo (#1380) (#1381)
  public/images/logos/imperial.svg
Due: none

CORE: add video guide
  data/membership.yml
  package-lock.json
  public/images/video.svg
  templates/documentation/data-providers-guide/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

CORE: update design
  package-lock.json
Due: npm run lint:json -- --write

CORE: add video guide (#1382)
  data/membership.yml
  package-lock.json
  public/images/video.svg
  templates/documentation/data-providers-guide/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

CORE: add video guide (#1382) (#1383)
  data/membership.yml
  package-lock.json
  public/images/video.svg
  templates/documentation/data-providers-guide/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

CORE: add new pdf section
  netlify-cms.config.yml
  templates/governance/supporters/index.jsx
  templates/governance/supporters/supporters.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: add new pdf section (#1384)
  netlify-cms.config.yml
  templates/governance/supporters/index.jsx
  templates/governance/supporters/supporters.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: add new pdf section (#1384) (#1385)
  netlify-cms.config.yml
  templates/governance/supporters/index.jsx
  templates/governance/supporters/supporters.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: add spin loader on search
  design-v2/components/search-form/index.jsx
  design-v2/components/search-form/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: add spin loader on search (#1386)
  design-v2/components/search-form/index.jsx
  design-v2/components/search-form/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: add spin loader on search (#1386) (#1387)
  design-v2/components/search-form/index.jsx
  design-v2/components/search-form/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: fix page issues
  components/page/page.jsx
  package-lock.json
  templates/markdown.jsx
  templates/markdown.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE: update terms
  data/terms.yml
  netlify-cms.config.yml
  pages/terms/index.jsx
Due: npm run lint:js -- --fix

CORE: fix page issues (#1388)
  components/page/page.jsx
  data/terms.yml
  netlify-cms.config.yml
  package-lock.json
  pages/terms/index.jsx
  templates/markdown.jsx
  templates/markdown.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE: fix page issues (#1388) (#1389)
  components/page/page.jsx
  data/terms.yml
  netlify-cms.config.yml
  package-lock.json
  pages/terms/index.jsx
  templates/markdown.jsx
  templates/markdown.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE: fix required issue
  netlify-cms.config.yml
Due: none

CORE: fix required issue (#1390)
  netlify-cms.config.yml
Due: none

CORE: fix required issue (#1390) (#1391)
  netlify-cms.config.yml
Due: none
