Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE: update text type (#1348)
  pages/about/about.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE: update text type (#1348) (#1349)
  pages/about/about.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE: temp hide sections
  components/modal/registration/form.jsx
  components/modal/registration/profile-select.jsx
  components/modal/registration/styles.module.scss
  store/registration.js
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: temp hide sections (#1350)
  components/modal/registration/form.jsx
  components/modal/registration/profile-select.jsx
  components/modal/registration/styles.module.scss
  store/registration.js
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: temp hide sections (#1350) (#1351)
  components/modal/registration/form.jsx
  components/modal/registration/profile-select.jsx
  components/modal/registration/styles.module.scss
  store/registration.js
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: update terms
  data/terms.yml
  templates/term/index.jsx
  templates/term/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: update terms (#1352)
  data/terms.yml
  templates/term/index.jsx
  templates/term/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: update terms (#1352) (#1353)
  data/terms.yml
  templates/term/index.jsx
  templates/term/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Style
  components/modal/registration/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Style (#1354)
  components/modal/registration/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Style (#1354) (#1355)
  components/modal/registration/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Fix name organisations
  components/modal/registration/institution-select.jsx
Due: npm run lint:js -- --fix

Fix name organisations (#1356)
  components/modal/registration/institution-select.jsx
Due: npm run lint:js -- --fix

Fix name organisations (#1356) (#1357)
  components/modal/registration/institution-select.jsx
Due: npm run lint:js -- --fix

University of Glasgow
  data/ambassadors.yml
  public/images/logos/university-glasgow.png
Due: none

University of Glasgow (#1358)
  data/ambassadors.yml
  public/images/logos/university-glasgow.png
Due: none

University of Glasgow (#1358) (#1359)
  data/ambassadors.yml
  public/images/logos/university-glasgow.png
Due: none

Style update
  templates/governance/advisory/advisory.module.scss
Due: prettier --ignore-path .gitignore --check --write

Style update (#1360)
  templates/governance/advisory/advisory.module.scss
Due: prettier --ignore-path .gitignore --check --write

Style update (#1360) (#1361)
  templates/governance/advisory/advisory.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE: update header
  data/home.yml
Due: none

CORE: update header (#1362)
  data/home.yml
Due: none

CORE: update header (#1362) (#1363)
  data/home.yml
Due: none

CORE-5231: remove required field
  netlify-cms.config.yml
Due: none

Core 5231 update fee (#1364)
  netlify-cms.config.yml
Due: none

Core 5231 update fee (#1364) (#1365)
  netlify-cms.config.yml
Due: none

CORE-5232: update api form
  components/modal/registration/conditions.jsx
  components/modal/registration/form.jsx
  components/modal/registration/styles.module.scss
  data/registration.yml
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-5232: update api form (#1366)
  components/modal/registration/conditions.jsx
  components/modal/registration/form.jsx
  components/modal/registration/styles.module.scss
  data/registration.yml
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-5232: update api form (#1366) (#1367)
  components/modal/registration/conditions.jsx
  components/modal/registration/form.jsx
  components/modal/registration/styles.module.scss
  data/registration.yml
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-5232: update terms properties
  components/modal/registration/form.jsx
  data/registration.yml
  store/registration.js
Due: npm run lint:js -- --fix

CORE-5232: update terms properties (#1368)
  components/modal/registration/form.jsx
  data/registration.yml
  store/registration.js
Due: npm run lint:js -- --fix

CORE-5232: update terms properties (#1368) (#1369)
  components/modal/registration/form.jsx
  data/registration.yml
  store/registration.js
Due: npm run lint:js -- --fix

CORE: update core text
  data/home.yml
  netlify-cms.config.yml
Due: none

CORE: update core text (#1370)
  data/home.yml
  netlify-cms.config.yml
Due: none

CORE: update core text (#1370) (#1371)
  data/home.yml
  netlify-cms.config.yml
Due: none

CORE: add oclc member
  data/endorsements.yml
  public/images/logos/oclc.png
  public/images/people/eric_lubeek.png
Due: none

CORE: add oclc member (#1372)
  data/endorsements.yml
  public/images/logos/oclc.png
  public/images/people/eric_lubeek.png
Due: none

CORE: add oclc member (#1372) (#1373)
  data/endorsements.yml
  public/images/logos/oclc.png
  public/images/people/eric_lubeek.png
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
