Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Remove missing screenshot (#237)
  data/services/connector.yml
Due: none

Remove publisher connector page
  data/services/connector.yml
  pages/services/connector.jsx
  public/images/services/publisher-connector.svg
Due: npm run lint:js -- --fix

Remove publisher connector page (#238)
  data/services/connector.yml
  pages/services/connector.jsx
  public/images/services/publisher-connector.svg
Due: npm run lint:js -- --fix

Remove publisher connector page (#238) (#239)
  data/services/connector.yml
  pages/services/connector.jsx
  public/images/services/publisher-connector.svg
Due: npm run lint:js -- --fix

Refactor sections
  components/content/article.jsx
  components/content/content.scss
  components/content/section.jsx
  components/error.jsx
  components/pages/markdown.jsx
  components/pages/service.jsx
  data/accessibility.md
  pages/index.module.scss
  pages/services/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Refactor sections (#232)
  components/content/article.jsx
  components/content/content.scss
  components/content/section.jsx
  components/error.jsx
  components/pages/markdown.jsx
  components/pages/service.jsx
  data/accessibility.md
  pages/index.module.scss
  pages/services/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Remove connector from documentation
  core.routes.yml
  data/documentation/connector.md
  pages/documentation/connector.jsx
Due: npm run lint:js -- --fix

Fix data/providers page look
  pages/data/providers.jsx
Due: npm run lint:js -- --fix

Fix data/providers page look (#242)
  pages/data/providers.jsx
Due: npm run lint:js -- --fix

Fix data/providers page look (#242) (#243)
  pages/data/providers.jsx
Due: npm run lint:js -- --fix

Remove unused AdvancedSearch and Suggestions
  components/index.scss
  components/search/forms/advanced.jsx
  components/search/forms/index.js
  components/search/index.jsx
  components/search/search.scss
  components/search/suggestions.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Remove unused AdvancedSearch and Suggestions (#245)
  components/index.scss
  components/search/forms/advanced.jsx
  components/search/forms/index.js
  components/search/index.jsx
  components/search/search.scss
  components/search/suggestions.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Remove Bootstrap Container from Section and Article
  components/content/article.jsx
  components/content/content.scss
  components/content/section.jsx
  components/hero/hero.scss
  components/pages/service.scss
  components/sections/join.jsx
  components/sections/join.scss
  pages/about/about.module.scss
  pages/about/index.jsx
  pages/data/providers.jsx
  pages/index.jsx
  pages/index.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Remove Bootstrap Container from Section and Article (#244)
  components/content/article.jsx
  components/content/content.scss
  components/content/section.jsx
  components/hero/hero.scss
  components/pages/service.scss
  components/sections/join.jsx
  components/sections/join.scss
  pages/about/about.module.scss
  pages/about/index.jsx
  pages/data/providers.jsx
  pages/index.jsx
  pages/index.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Change Testimonial component look and feel
  components/index.scss
  components/testimonial.jsx
  components/testimonial/account.svg
  components/testimonial/index.js
  components/testimonial/testimonial.jsx
  components/testimonial/testimonial.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update endorsements section (#229)
  components/sections/endorsements.jsx
  components/sections/endorsements.scss
  data/endorsements.yml
  pages/about/endorsements.jsx
  public/images/illustrations/bibliophile.svg
  public/images/illustrations/business-plan.svg
  public/images/illustrations/live-collaboration.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Bump next
  components/layout/document.jsx
  next.config.js
  package-lock.json
  package.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Bump next (#246)
  components/layout/document.jsx
  next.config.js
  package-lock.json
  package.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Crop white space
  public/images/discovery/oro-repository-plugin.png
Due: none

Fix testimonial section on Service pages
  components/pages/service.jsx
  components/pages/service.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Fix testimonial section on Service pages (#248)
  components/pages/service.jsx
  components/pages/service.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Install @oacore/design
  package-lock.json
  package.json
  pages/_app.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

WIP: Add autocompletion
  components/search/forms/simple.jsx
  components/search/forms/styles.module.css
  design.config.js
  next.config.js
  package.json
  pages/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Render article content on server side
  components/content/article.jsx
Due: npm run lint:js -- --fix

Render article content on server side (#249)
  components/content/article.jsx
Due: npm run lint:js -- --fix

Bump Packages (#267)
  babel.config.js
  components/accordion/index.jsx
  components/blog.jsx
  components/citation-tabs/manager.jsx
  components/citation-tabs/text-loader.jsx
  components/citations-modal.jsx
  components/content/article.jsx
  components/content/section.jsx
  components/features.jsx
  components/header/index.jsx
  components/key-feature/index.jsx
  components/logos-carousel/index.jsx
  components/maps/image-map/index.jsx
  components/nav-dropdown/index.jsx
  components/outreach-materials/index.jsx
  components/pages/sectioned.jsx
  components/pages/service.jsx
  components/pagination/index.jsx
  components/reference/index.jsx
  components/repositories-browser/index.jsx
  components/repositories-map/index.jsx
  components/sections/endorsements.jsx
  components/service-groups/index.jsx
  components/switcher/index.jsx
  components/testimonials-carousel/index.jsx
  components/utils.js
  next.config.js
  package-lock.json
  package.json
  pages/about/ambassadors.jsx
  pages/about/endorsements.jsx
  pages/about/index.jsx
  pages/about/research-outputs.jsx
  pages/cookies.jsx
  pages/faq.jsx
  pages/services/index.jsx
  router.js
  services/cookies.js
  webpack/data-loader.js
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Fix typo in Privacy Notice
  data/privacy.md
Due: none

Remove open-iconic
  package-lock.json
  package.json
Due: npm run lint:json -- --write

Remove contact form
  components/contact-form/contact-form.scss
  components/contact-form/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Remove open-iconic (#269)
  package-lock.json
  package.json
Due: npm run lint:json -- --write

Remove contact form (#270)
  components/contact-form/contact-form.scss
  components/contact-form/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Remove features
  components/features.jsx
Due: npm run lint:js -- --fix

Remove features (#271)
  components/features.jsx
Due: npm run lint:js -- --fix

Use reboot from @oacore/design
  components/bootstrap/bootstrap.scss
  components/error.jsx
  components/footer/index.jsx
  components/pages/markdown.jsx
  components/pages/sectioned.jsx
  components/pages/service.jsx
  components/sections/join.jsx
  components/sections/join.module.scss
  package-lock.json
  package.json
  pages/_app.jsx
  pages/about/ambassadors.jsx
  pages/about/endorsements.jsx
  pages/about/index.jsx
  pages/about/research-outputs.jsx
  pages/data/providers.jsx
  pages/index.jsx
  pages/services/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Add FAQ about non-commercial use
  data/faq.yml
Due: none

Add FAQ about non-commercial use (#274)
  data/faq.yml
Due: none

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
