Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

Add or update the Azure App Service build and deployment workflow config
  .github/workflows/azure_testdeploy_about-test-page.yml
Due: none

Update azure_testdeploy_about-test-page.yml
  .github/workflows/azure_testdeploy_about-test-page.yml
Due: none

CORE-5124: add new logo section
  netlify-cms.config.yml
  templates/sponsorships/index.jsx
  templates/sponsorships/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: test
  pages/sponsorship/index.jsx
Due: npm run lint:js -- --fix

Update pull-request-check.yml
  .github/workflows/pull-request-check.yml
Due: none

CORE-5124: add new logo section (#1298)
  .github/workflows/pull-request-check.yml
  netlify-cms.config.yml
  templates/sponsorships/index.jsx
  templates/sponsorships/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-5124: add new logo section (#1298) (#1300)
  .github/workflows/pull-request-check.yml
  netlify-cms.config.yml
  templates/sponsorships/index.jsx
  templates/sponsorships/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: update design version to 34
  package-lock.json
Due: npm run lint:json -- --write

CORE: update design version to 34 (#1301)
  package-lock.json
Due: npm run lint:json -- --write

CORE: update design version to 34 (#1301) (#1302)
  package-lock.json
Due: npm run lint:json -- --write

CORE: update status header
  templates/sponsorships/index.jsx
  templates/sponsorships/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: update status header (#1303)
  templates/sponsorships/index.jsx
  templates/sponsorships/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: update status header (#1303) (#1304)
  templates/sponsorships/index.jsx
  templates/sponsorships/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: update status
  netlify-cms.config.yml
Due: none

CORE: update status (#1305)
  netlify-cms.config.yml
Due: none

CORE: update status (#1305) (#1306)
  netlify-cms.config.yml
Due: none

Add or update the Azure App Service build and deployment workflow config
  .github/workflows/azure_about_about-page.yml
Due: none

new_one
  .github/workflows/azure_about_about-page.yml
Due: none

Update azure_about
  .github/workflows/azure_about_about-page.yml
Due: none

az_login issue
  .github/workflows/azure_about_about-page.yml
Due: none

fixed name
  .github/workflows/azure_about_about-page.yml
Due: none

relocated worflow files (cleaned actions)
  deploy/azure_deploy_arm.yml
  deploy/azure_testdeploy_about-test-page.yml
  deploy/azure_testdeploy_core-about.yml
Due: none

fix with zipping hidden files
  .github/workflows/azure_about_about-page.yml
Due: none

Update next.config.js assetprefix empty
  next.config.js
Due: npm run lint:js -- --fix

try trigger from remote action
  .github/workflows/azure_about_about-page.yml
Due: none

Update azure_about_about-page.yml
  .github/workflows/azure_about_about-page.yml
Due: none

CORE-5146: fix logo layout
  templates/sponsorships/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE-5146: fix logo layout (#1307)
  templates/sponsorships/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE-5146: fix logo layout (#1307) (#1308)
  templates/sponsorships/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE-5107: add netlify structure and das page
  data/retention.yml
  data/sdg.yml
  netlify-cms.config.yml
  pages/data-availability/index.jsx
  templates/data-availability/index.jsx
  templates/data-availability/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-5107: add content import path
  hooks/retriveContent.js
  netlify-cms.config.yml
  pages/data-availability/index.jsx
  pages/labs/sdg.jsx
  pages/rights-retention/index.jsx
  pages/services/fastsync.jsx
  public/images/services/goals.svg
  public/images/services/openUniversity.svg
  templates/data-availability/index.jsx
  templates/rights-retention/index.jsx
  templates/sdg/index.jsx
Due: npm run lint:js -- --fix

CORE-5107: add correct file src
  components/pdf-upload/defaultUpload.jsx
  components/pdf-upload/formatUpload.jsx
  components/pdf-upload/index.jsx
  components/pdf-upload/sdgUploadSuccess.jsx
  components/pdf-upload/sizeUploadIssue.jsx
  components/pdf-upload/uploadFail.jsx
  components/pdf-upload/uploadSuccess.jsx
  data/retention.yml
  data/sdg.yml
  public/images/fail.svg
  public/images/success.svg
  templates/data-availability/index.jsx
  templates/rights-retention/index.jsx
  templates/sdg/index.jsx
Due: npm run lint:js -- --fix

CORE-5107: fix netlify img path
  netlify-cms.config.yml
Due: none

CORE-5107: use reusable retriver
  pages/governance/advisory.jsx
  pages/innovations/labs.jsx
  pages/membership/index.jsx
  pages/services/consultancy.jsx
  pages/services/index.jsx
  pages/services/recommender.jsx
  pages/services/repository-dashboard.jsx
Due: npm run lint:js -- --fix
