Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

Bugfix/core 4376 background (#699) (#700)
  templates/membership/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

[Feature] Add membership prices
  data/membership.yml
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  pages/membership/[slug].jsx
  templates/membership/index.jsx
  templates/membership/prices.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Feature/add membersip fee (#703)
  data/membership.yml
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  pages/membership/[slug].jsx
  templates/membership/index.jsx
  templates/membership/prices.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Feature/add membersip fee (#703) (#704)
  data/membership.yml
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  pages/membership/[slug].jsx
  templates/membership/index.jsx
  templates/membership/prices.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

[Feature] Add google form
  data/membership.yml
Due: none

Feature/add membersip fee (#705)
  data/membership.yml
Due: none

Feature/add membersip fee (#705) (#706)
  data/membership.yml
Due: none

[Feature] Price update
  data/membership.yml
  design-v2/components/membership-table/index.jsx
Due: npm run lint:js -- --fix

[Feature] Price update
  data/membership.yml
Due: none

Feature/add membersip fee (#707)
  data/membership.yml
  design-v2/components/membership-table/index.jsx
Due: npm run lint:js -- --fix

Feature/add membersip fee (#707) (#708)
  data/membership.yml
  design-v2/components/membership-table/index.jsx
Due: npm run lint:js -- --fix

[Feature] butn upd
  data/membership.yml
Due: none

Feature/add membersip fee (#709)
  data/membership.yml
Due: none

Feature/add membersip fee (#709) (#710)
  data/membership.yml
Due: none

CORE-4377 Replace flyer
  data/membership.yml
  data/resources.yml
  public/resources/core-leaflet-Glasgow-A3.pdf
Due: none

CORE-4377 Replace flyer (#711)
  data/membership.yml
  data/resources.yml
  public/resources/core-leaflet-Glasgow-A3.pdf
Due: none

CORE-4377 Replace flyer (#711) (#712)
  data/membership.yml
  data/resources.yml
  public/resources/core-leaflet-Glasgow-A3.pdf
Due: none

text
  data/membership.yml
Due: none

text (#713)
  data/membership.yml
Due: none

text (#713) (#714)
  data/membership.yml
Due: none

[CORE-4379] Form fields update
  components/checkbox/animated.jsx
  data/membership.yml
  data/payment.yml
  templates/payment/form/index.jsx
  templates/payment/form/select.jsx
  templates/payment/form/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

[CORE-4379] Form fields update#2
  components/checkbox/animated.jsx
  data/membership.yml
  templates/payment/form/index.jsx
Due: npm run lint:js -- --fix

[CORE-4379] Add planName and price to endpoint
  data/payment.yml
  templates/membership/prices.jsx
  templates/payment/form/index.jsx
  templates/payment/form/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

[CORE-4379] Field name update
  data/payment.yml
  templates/payment/form/index.jsx
Due: npm run lint:js -- --fix

[CORE-4379] Add validation empty repo
  data/membership.yml
  templates/payment/form/index.jsx
  templates/payment/form/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

[CORE-4379] husky downgrade
  package-lock.json
  package.json
Due: npm run lint:json -- --write

[CORE-4379] husky rollback
  package-lock.json
  package.json
Due: npm run lint:json -- --write

[CORE-4379] Checkbox fix
  api/services.js
  components/checkbox/animated.jsx
  components/checkbox/index.js
  components/utils.js
  store/root.js
  templates/payment/form/index.jsx
  templates/payment/form/select.jsx
  templates/payment/form/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

[CORE-4379] fetch price
  store/membership-price.js
Due: npm run lint:js -- --fix

[CORE-4379] membership price fetch
  components/checkbox/radiobutton.jsx
  store/data-providers.js
  store/membership-price.js
  store/membership.js
  templates/payment/form/index.jsx
Due: npm run lint:js -- --fix

[CORE-4379] membership price fetch#2
  data/payment.yml
Due: none

[CORE-4379] Radiobutton
  components/checkbox/radiobutton.jsx
  components/checkbox/styles.module.scss
  templates/payment/form/index.jsx
  templates/payment/form/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

[CORE-4379] Style upd
  components/checkbox/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

[CORE-4379] Uml upd
  data/payment.yml
Due: none

[CORE-4379] Remove debug code
  templates/payment/form/index.jsx
Due: npm run lint:js -- --fix

[CORE-4379] Billing plan starting
  data/membership.yml
  pages/membership/index.jsx
  templates/membership/index.jsx
  templates/payment/form/index.jsx
Due: npm run lint:js -- --fix

[CORE-4379] approveTermsConditions upd
  templates/payment/form/index.jsx
Due: npm run lint:js -- --fix
