Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

rebase content and fix hero
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update markdown field
  netlify-cms.config.yml
Due: none

Update markdown field (#637)
  netlify-cms.config.yml
Due: none

Update markdown field (#637) (#638)
  netlify-cms.config.yml
Due: none

Change field line
  netlify-cms.config.yml
Due: none

Change field line (#639)
  netlify-cms.config.yml
Due: none

Change field line (#639) (#640)
  netlify-cms.config.yml
Due: none

Update additional section
  data/services/api.yml
  design-v2/components/pages/service.jsx
Due: npm run lint:js -- --fix

Update citation button
  data/services/api.yml
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Fix accordion styles
  components/accordion/accordion.module.scss
Due: prettier --ignore-path .gitignore --check --write

Fix item styles
  components/accordion/accordion.module.scss
Due: prettier --ignore-path .gitignore --check --write

Fix accordion styles (#642)
  components/accordion/accordion.module.scss
Due: prettier --ignore-path .gitignore --check --write

Fix accordion styles (#642) (#643)
  components/accordion/accordion.module.scss
Due: prettier --ignore-path .gitignore --check --write

Fix recommender link
  data/services/api.yml
Due: none

Fix recommender link (#645)
  data/services/api.yml
Due: none

Fix recommender link (#645) (#646)
  data/services/api.yml
Due: none

Fix problem with static paths
  pages/documentation/[slug].jsx
  public/images/people/olson.png
  public/images/services/cloud.svg
Due: npm run lint:js -- --fix

Fix problem with grid columns
  templates/documentation/dataset/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Create new services dataset page
  components/utils.js
  data/services/dataset.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  pages/services/dataset.jsx
  public/images/people/olson.png
  public/images/services/cloud.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Add spacer to table
  templates/documentation/dataset/index.jsx
  templates/documentation/dataset/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Core 4263/dataset data page new version (#644)
  design-v2/components/dataset/card.jsx
  design-v2/components/dataset/index.jsx
  design-v2/components/dataset/section.jsx
  design-v2/components/dataset/styles.module.scss
  design-v2/components/index.js
  design-v2/components/layout/section.jsx
  design-v2/components/layout/styles.module.scss
  pages/documentation/[slug].jsx
  pages/documentation/dataset.jsx
  public/images/people/olson.png
  public/images/services/cloud.svg
  templates/documentation/dataset/index.jsx
  templates/documentation/dataset/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Core 4263/dataset data page new version (#644) (#648)
  design-v2/components/dataset/card.jsx
  design-v2/components/dataset/index.jsx
  design-v2/components/dataset/section.jsx
  design-v2/components/dataset/styles.module.scss
  design-v2/components/index.js
  design-v2/components/layout/section.jsx
  design-v2/components/layout/styles.module.scss
  pages/documentation/[slug].jsx
  pages/documentation/dataset.jsx
  public/images/people/olson.png
  public/images/services/cloud.svg
  templates/documentation/dataset/index.jsx
  templates/documentation/dataset/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Delete unused files and fix styles on small screene
  templates/documentation/dataset/styles.module.scss
  templates/documentation/documentation.module.scss
  templates/documentation/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update styles for small screens
  templates/documentation/dataset/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Add note and fix link
  data/services/dataset.yml
Due: none

Add note and fix link (#650)
  data/services/dataset.yml
Due: none

Add note and fix link (#650) (#651)
  data/services/dataset.yml
Due: none

Update membership page
  components/markdown.jsx
  data/membership.yml
  design-v2/components/membership-table/index.jsx
  package-lock.json
  package.json
  pages/membership/[slug].jsx
  postcss.config.js
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Update packages and form
  components/markdown.jsx
  design-v2/components/search-form/index.jsx
  design-v2/components/search-form/styles.module.scss
  package-lock.json
  package.json
  pages/index.jsx
  postcss.config.js
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Update packages and form (#652)
  components/markdown.jsx
  design-v2/components/search-form/index.jsx
  design-v2/components/search-form/styles.module.scss
  package-lock.json
  package.json
  pages/index.jsx
  postcss.config.js
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Update packages and form (#652) (#653)
  components/markdown.jsx
  design-v2/components/search-form/index.jsx
  design-v2/components/search-form/styles.module.scss
  package-lock.json
  package.json
  pages/index.jsx
  postcss.config.js
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Create community page
  data/community/home.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  package-lock.json
  pages/community/community.module.scss
  pages/community/index.jsx
  public/images/community/community.svg
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Create community page (#655)
  data/community/home.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  package-lock.json
  pages/community/community.module.scss
  pages/community/index.jsx
  public/images/community/community.svg
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
