Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Title main update
  hooks/analytics.js
Due: npm run lint:js -- --fix

Title main update (#927)
  hooks/analytics.js
Due: npm run lint:js -- --fix

Title main update (#927) (#928)
  hooks/analytics.js
Due: npm run lint:js -- --fix

update: CORE-4508 research outputs page
  components/citation-tabs/citation-tabs.module.scss
  components/citation-tabs/manager.jsx
  components/citations-modal.jsx
  components/reference/index.jsx
  components/reference/reference.module.scss
  components/styles.module.scss
  components/toggle-panel/styles.module.scss
  components/toggle-panel/togglePanel.jsx
  data/research-outputs.yml
  package-lock.json
  package.json
  pages/about/about.module.scss
  pages/about/research-outputs.jsx
  public/images/core-logo-circle.svg
  public/images/research-outputs.svg
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

fix: CORE-4537 change link
  pages/about/index.jsx
Due: npm run lint:js -- --fix

fix: CORE-4508 width issue
  pages/about/about.module.scss
  pages/about/research-outputs.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update: CORE-4508 research outputs page (#929)
  components/citation-tabs/citation-tabs.module.scss
  components/citation-tabs/manager.jsx
  components/citations-modal.jsx
  components/reference/index.jsx
  components/reference/reference.module.scss
  components/styles.module.scss
  components/toggle-panel/styles.module.scss
  components/toggle-panel/togglePanel.jsx
  data/research-outputs.yml
  package-lock.json
  package.json
  pages/about/about.module.scss
  pages/about/index.jsx
  pages/about/research-outputs.jsx
  public/images/core-logo-circle.svg
  public/images/research-outputs.svg
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

update: CORE-4508 research outputs page (#929) (#930)
  components/citation-tabs/citation-tabs.module.scss
  components/citation-tabs/manager.jsx
  components/citations-modal.jsx
  components/reference/index.jsx
  components/reference/reference.module.scss
  components/styles.module.scss
  components/toggle-panel/styles.module.scss
  components/toggle-panel/togglePanel.jsx
  data/research-outputs.yml
  package-lock.json
  package.json
  pages/about/about.module.scss
  pages/about/index.jsx
  pages/about/research-outputs.jsx
  public/images/core-logo-circle.svg
  public/images/research-outputs.svg
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

merge master
  report.20230517.140705.4715.0.001.json
Due: npm run lint:json -- --write

CORE-4559 add show more button
  hooks/analytics.js
  templates/governance/supporters/index.jsx
  templates/governance/supporters/supporters.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Docs
  README.md
Due: none

CORE-4559 add show more button (#931)
  README.md
  hooks/analytics.js
  templates/governance/supporters/index.jsx
  templates/governance/supporters/supporters.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4559 add show more button (#931) (#932)
  README.md
  hooks/analytics.js
  templates/governance/supporters/index.jsx
  templates/governance/supporters/supporters.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

feat: CORE-4569 add pdf
  data/services/repository-dashboard.yml
  public/resources/CORE-Dashboard-tool-for-the-management-of-open-access-content.pdf
Due: none

feat: CORE-4569 add pdf (#933)
  data/services/repository-dashboard.yml
  public/resources/CORE-Dashboard-tool-for-the-management-of-open-access-content.pdf
Due: none

feat: CORE-4569 add pdf (#933) (#934)
  data/services/repository-dashboard.yml
  public/resources/CORE-Dashboard-tool-for-the-management-of-open-access-content.pdf
Due: none

update outputs
  data/research-outputs.yml
  pages/about/about.module.scss
  pages/about/research-outputs.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update outputs (#935)
  data/research-outputs.yml
  pages/about/about.module.scss
  pages/about/research-outputs.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update outputs (#935) (#936)
  data/research-outputs.yml
  pages/about/about.module.scss
  pages/about/research-outputs.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

fix: search issue
  templates/governance/supporters/index.jsx
Due: npm run lint:js -- --fix

fix: search issue (#937)
  templates/governance/supporters/index.jsx
Due: npm run lint:js -- --fix

fix: search issue (#937) (#938)
  templates/governance/supporters/index.jsx
Due: npm run lint:js -- --fix

added env prod before build
  deploy.sh
Due: none

Upd deploy
  deploy.sh
Due: none

GA update to version 4
  hooks/analytics.js
  package-lock.json
  package.json
  pages/about/ambassadors.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Set variables on deploy config
  deploy.sh
Due: none

test
  deploy.sh
Due: none

test1
  deploy.sh
Due: none

Webpack config HMR update
  next.config.js
Due: npm run lint:js -- --fix

Webpack config HMR update #2
  next.config.js
Due: npm run lint:js -- --fix

Webpack config HMR update #3
  next.config.js
Due: npm run lint:js -- --fix

Webpack config HMR update #4
  next.config.js
Due: npm run lint:js -- --fix

Fix btn url
  data/services/recommender.yml
  data/services/repository-dashboard.yml
Due: none

Fix btn url (#939)
  data/services/recommender.yml
  data/services/repository-dashboard.yml
Due: none

Fix btn url (#939) (#940)
  data/services/recommender.yml
  data/services/repository-dashboard.yml
Due: none

added env prod next to run build
  deploy.sh
Due: none

Config fix #01
  deploy.sh
  next.config.js
Due: npm run lint:js -- --fix

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
