Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE-4793 Fix issue page
  components/modal/registration/form.jsx
Due: npm run lint:js -- --fix

CORE-4793 Fix issue page (#1129)
  components/modal/hooks/use-input.js
  components/modal/registration/form.jsx
  components/modal/registration/index.jsx
  pages/index.jsx
Due: npm run lint:js -- --fix

CORE-4793 Fix issue page (#1129) (#1130)
  components/modal/hooks/use-input.js
  components/modal/registration/form.jsx
  components/modal/registration/index.jsx
  pages/index.jsx
Due: npm run lint:js -- --fix

Bugfix clean text
  components/modal/registration/form.jsx
Due: npm run lint:js -- --fix

Bugfix clean text (#1131)
  components/modal/registration/form.jsx
Due: npm run lint:js -- --fix

Bugfix clean text (#1131) (#1132)
  components/modal/registration/form.jsx
Due: npm run lint:js -- --fix

CORE-4816: rrs demo
  components/pdf-upload/index.jsx
  data/retention.yml
  templates/rights-retention/index.jsx
  templates/rights-retention/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: highlite tutorial
  pages/services/index.jsx
  pages/services/services.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: highlite tutorial (#1133)
  pages/services/index.jsx
  pages/services/services.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: highlite tutorial (#1133) (#1134)
  pages/services/index.jsx
  pages/services/services.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4816: add linking to rrs
  data/membership.yml
Due: none

Core 4816 rrs demo (#1118)
  components/pdf-upload/defaultUpload.jsx
  components/pdf-upload/formatUpload.jsx
  components/pdf-upload/index.jsx
  components/pdf-upload/sizeUploadIssue.jsx
  components/pdf-upload/styles.module.scss
  components/pdf-upload/uploadFail.jsx
  components/pdf-upload/uploadSuccess.jsx
  data/membership.yml
  data/retention.yml
  pages/rights-retention/index.jsx
  public/images/fail.svg
  public/images/logos/upload.svg
  public/images/success.svg
  templates/documentation/membership-documentation/index.jsx
  templates/rights-retention/index.jsx
  templates/rights-retention/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Core 4816 rrs demo (#1118) (#1135)
  components/pdf-upload/defaultUpload.jsx
  components/pdf-upload/formatUpload.jsx
  components/pdf-upload/index.jsx
  components/pdf-upload/sizeUploadIssue.jsx
  components/pdf-upload/styles.module.scss
  components/pdf-upload/uploadFail.jsx
  components/pdf-upload/uploadSuccess.jsx
  data/membership.yml
  data/retention.yml
  pages/rights-retention/index.jsx
  public/images/fail.svg
  public/images/logos/upload.svg
  public/images/success.svg
  templates/documentation/membership-documentation/index.jsx
  templates/rights-retention/index.jsx
  templates/rights-retention/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4884: add new use cases
  components/experiences-card/experiencesCard.jsx
  components/experiences-card/styles.module.scss
  data/membership.yml
  data/services/api.yml
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  public/images/cambridge.svg
  public/images/ora.svg
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4884: add new use cases (#1136)
  components/experiences-card/experiencesCard.jsx
  components/experiences-card/styles.module.scss
  data/membership.yml
  data/services/api.yml
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  public/images/cambridge.svg
  public/images/ora.svg
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4884: add new use cases (#1136) (#1137)
  components/experiences-card/experiencesCard.jsx
  components/experiences-card/styles.module.scss
  data/membership.yml
  data/services/api.yml
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  public/images/cambridge.svg
  public/images/ora.svg
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4884: improvements on use cases
  components/experiences-card/experiencesCard.jsx
  components/experiences-card/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4884: improvements on use cases (#1138)
  components/experiences-card/experiencesCard.jsx
  components/experiences-card/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4884: improvements on use cases (#1138) (#1139)
  components/experiences-card/experiencesCard.jsx
  components/experiences-card/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4885: remove edition page
  core.routes.yml
  data/services/repository-edition.yml
  pages/services/repository-edition.jsx
Due: npm run lint:js -- --fix

CORE-4885: remove edition page (#1140)
  core.routes.yml
  data/services/repository-edition.yml
  pages/services/repository-edition.jsx
Due: npm run lint:js -- --fix

CORE-4885: remove edition page (#1140) (#1141)
  core.routes.yml
  data/services/repository-edition.yml
  pages/services/repository-edition.jsx
Due: npm run lint:js -- --fix

Set redirect
  legacy.config.yml
Due: none

Set redirect (#1142)
  legacy.config.yml
Due: none

Set redirect (#1142) (#1143)
  legacy.config.yml
Due: none

CORE-4486: change linking
  data/services/recommender.yml
Due: none

CORE-4486: change linking (#1144)
  data/services/recommender.yml
Due: none

CORE-4486: change linking (#1144) (#1145)
  data/services/recommender.yml
Due: none

Fix routes
  legacy.config.yml
Due: none

Fix routes (#1147)
  legacy.config.yml
Due: none

Fix routes (#1147) (#1148)
  legacy.config.yml
Due: none

CORE: advisory name issue
  data/advisory.yml
Due: none

CORE: advisory name issue (#1149)
  data/advisory.yml
Due: none

CORE: advisory name issue (#1149) (#1150)
  data/advisory.yml
Due: none

CORE-4888: add advisory board on netlify
  netlify-cms.config.yml
  pages/governance/advisory.jsx
  templates/governance/advisory/index.jsx
Due: npm run lint:js -- --fix

CORE-4888: add advisory board on netlify (#1151)
  netlify-cms.config.yml
  pages/governance/advisory.jsx
  templates/governance/advisory/index.jsx
Due: npm run lint:js -- --fix

CORE-4888: add advisory board on netlify (#1151) (#1152)
  netlify-cms.config.yml
  pages/governance/advisory.jsx
  templates/governance/advisory/index.jsx
Due: npm run lint:js -- --fix

CORE-4889: add status column
  templates/governance/supporters/index.jsx
  templates/governance/supporters/supporters.module.scss
  templates/membership/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4889: add status column (#1153)
  templates/governance/supporters/index.jsx
  templates/governance/supporters/supporters.module.scss
  templates/membership/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
