Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

docker file fix
  Dockerfile
Due: none

Core 5684 remove ou (#1461)
  data/community/home.yml
  data/contacts.yml
  data/resources.yml
  package-lock.json
  package.json
  public/design/icons.svg
  public/design/icons/coreLogo.svg
  public/images/governance.svg
  public/resources/coreLogo.png
Due: npm run lint:json -- --write

CORE: update email redirect
  data/contacts.yml
  data/faq.yml
Due: none

CORE: add updated OU
  data/faq.yml
  package-lock.json
  package.json
Due: npm run lint:json -- --write

Core fix missing url (#1465)
  data/contacts.yml
  data/faq.yml
  package-lock.json
  package.json
Due: npm run lint:json -- --write

fix icons missing
  package.json
Due: npm run lint:json -- --write

Commit generated design icons and stop regenerating sprite in build
  .gitignore
  public/design/icons.svg
  public/design/icons/account.svg
  public/design/icons/active-arrow.svg
  public/design/icons/alert-circle-outline.svg
  public/design/icons/bin.svg
  public/design/icons/check.svg
  public/design/icons/chevron-left.svg
  public/design/icons/chevron-right.svg
  public/design/icons/close.svg
  public/design/icons/collaborators.svg
  public/design/icons/copy-document.svg
  public/design/icons/core-symbol.svg
  public/design/icons/das.svg
  public/design/icons/database.svg
  public/design/icons/deduplication.svg
  public/design/icons/domain.svg
  public/design/icons/drop-arrow.svg
  public/design/icons/enrichment.svg
  public/design/icons/file-check.svg
  public/design/icons/file-search.svg
  public/design/icons/fresh-finds.svg
  public/design/icons/github.svg
  public/design/icons/information-outline.svg
  public/design/icons/jisc-logo.svg
  public/design/icons/linkedin.svg
  public/design/icons/magnify.svg
  public/design/icons/menu.svg
  public/design/icons/metadata-validator.svg
  public/design/icons/office-building.svg
  public/design/icons/open-in-new.svg
  public/design/icons/orcid.svg
  public/design/icons/ou-logo.svg
  public/design/icons/pencil.svg
  public/design/icons/school.svg
  public/design/icons/sdg.svg
  public/design/icons/sw.svg
  public/design/icons/twitter.svg
  public/design/icons/window-close.svg
  public/design/icons/writing.svg
Due: none

Copy design.config.js before npm install so icon publicPath resolves correctly
  Dockerfile
Due: none

CORE: add updated docs
  data/resources.yml
  package-lock.json
  package.json
  public/resources/CORE-Membership-introduction-website.pdf
Due: npm run lint:json -- --write

Core update presentation (#1468)
  data/resources.yml
  package-lock.json
  package.json
  public/resources/CORE-Membership-introduction-website.pdf
Due: npm run lint:json -- --write

CORE: add updated logo
  data/endorsements.yml
Due: none

Core fix coar logo (#1469)
  data/endorsements.yml
Due: none

add choosing content repo branch
  .github/workflows/aks_stage_deploy.yml
  Dockerfile
  content/index.js
Due: npm run lint:js -- --fix

CORE: fix table view
  templates/documentation/dataset/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE: fix table view (#1470)
  templates/documentation/dataset/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE-5685: add updated dtylrd
  templates/documentation/dataset/index.jsx
  templates/documentation/dataset/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-5685: add updated dtylrd (#1471)
  templates/documentation/dataset/index.jsx
  templates/documentation/dataset/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: fix space
  design-v2/components/dataset/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE: fix card view
  design-v2/components/dataset/card.jsx
  design-v2/components/dataset/styles.module.scss
  templates/documentation/dataset/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: fix card view (#1473)
  design-v2/components/dataset/card.jsx
  design-v2/components/dataset/styles.module.scss
  templates/documentation/dataset/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: add impact page
  pages/environmental-impact-statement/index.jsx
  templates/environmental-impact-statement/index.jsx
  templates/environmental-impact-statement/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

New impact page (#1474)
  pages/environmental-impact-statement/index.jsx
  templates/environmental-impact-statement/index.jsx
  templates/environmental-impact-statement/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

del test preferans domain
  kube/prod/httproute.yaml
Due: none

add missed configs
  kube/prod/httproute.yaml
Due: none

add/fix /download/ pdf redirect
  .github/workflows/aks_deploy.yml
  kube/prod/httproute-download.yaml
  kube/prod/httproute.yaml
Due: none

del /download rule
  .github/workflows/aks_deploy.yml
  kube/prod/httproute-download.yaml
Due: none

CORE: add success modal
  api/data-providers.js
  design-v2/benefits/benefitsForm.jsx
Due: npm run lint:js -- --fix

Core benefits form fix (#1475)
  api/data-providers.js
  design-v2/benefits/benefitsForm.jsx
Due: npm run lint:js -- --fix

CORE: add modern page
  netlify-cms.config.yml
  pages/modern-slavery/index.jsx
  templates/modern-slavery/index.jsx
  templates/term/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Core modern page (#1476)
  netlify-cms.config.yml
  pages/modern-slavery/index.jsx
  templates/modern-slavery/index.jsx
  templates/term/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Docks
  README.md
Due: none

Core 5649 add extra domain check (#1458)
  components/modal/hooks/use-university-domains.js
  components/modal/registration/form.jsx
  components/modal/registration/helpers/validateInstitutionEmail.js
  data/uni.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Core 5658 recaptcha (#1457)
  components/modal/registration/conditions.jsx
  components/modal/registration/styles.module.scss
  components/turnstile/index.jsx
  env.config.js
  store/registration.js
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
