Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

set module format
  components/checkbox/animated.jsx
  components/checkbox/styles.module.scss
  components/modal/registration/conditions.jsx
  store/registration.js
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

upd package
  package-lock.json
Due: npm run lint:json -- --write

pack
  package-lock.json
Due: npm run lint:json -- --write

Core 4194 checkbox to api/dataset registration form (#537)
  components/checkbox/animated.jsx
  components/checkbox/index.js
  components/checkbox/styles.module.scss
  components/modal/registration/conditions.jsx
  package-lock.json
  package.json
  store/registration.js
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Core 4194 checkbox to api/dataset registration form (#537) (#538)
  components/checkbox/animated.jsx
  components/checkbox/index.js
  components/checkbox/styles.module.scss
  components/modal/registration/conditions.jsx
  package-lock.json
  package.json
  store/registration.js
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Add files via upload
  public/images/logos/Consensus .png
Due: none

Add files via upload
  public/images/people/Eric Olson.png
Due: none

Update endorsements.yml
  data/endorsements.yml
Due: none

Add files via upload
  public/images/logos/Consensus.png
Due: none

Add files via upload
  public/images/people/Eric.Olson.png
Due: none

Delete Consensus .png
  public/images/logos/Consensus .png
Due: none

Delete Eric Olson.png
  public/images/people/Eric Olson.png
Due: none

Add files via upload
  public/images/people/Guillaume.Grust.png
Due: none

Add files via upload
  public/images/logos/Flowcite.png
Due: none

add domain
  components/layout/head.jsx
  env.config.js
  pages/oai_resolver.jsx
Due: npm run lint:js -- --fix

oai upd
  legacy.config.yml
  pages/oai_resolver/index.jsx
  pages/oai_resolver/oai_resolver.module.scss
  pages/oai_resolver/oai_resolver_form.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update legacy.config.yml
  legacy.config.yml
Due: none

Delete unused text and make links external
  data/data.yml
  package-lock.json
  package.json
  pages/data/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

OAI fast redirect to API side (#540)
  pages/oai_resolver/index.jsx
  pages/oai_resolver/oai_resolver.module.scss
  pages/oai_resolver/oai_resolver_form.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Fix yml struscture
  data/endorsements.yml
Due: none

Fix build issue
  data/endorsements.yml
  package-lock.json
Due: npm run lint:json -- --write

fix yml
  data/endorsements.yml
Due: none

Add Consensus and Flowcite. Fix structure OAI page (#541)
  data/endorsements.yml
  pages/oai_resolver/index.jsx
  pages/oai_resolver/oai_resolver.module.scss
  pages/oai_resolver/oai_resolver_form.jsx
  public/images/logos/Consensus.png
  public/images/logos/Flowcite.png
  public/images/people/Eric.Olson.png
  public/images/people/Guillaume.Grust.png
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update endorsements.yml (#543)
  data/endorsements.yml
Due: none

Remove duplicate
  data/endorsements.yml
  pages/oai_resolver/index.jsx
Due: npm run lint:js -- --fix

resolve oai page
  pages/oai_resolver/index.jsx
Due: npm run lint:js -- --fix

resolve oai page (#545)
  pages/oai_resolver/index.jsx
Due: npm run lint:js -- --fix

resolve oai page (#545) (#546)
  pages/oai_resolver/index.jsx
Due: npm run lint:js -- --fix

CORE-4226 Add new fields for collection docs
  netlify-cms.config.yml
Due: none

CORE-4226 Add new fields for collection docs (#548)
  netlify-cms.config.yml
Due: none

CORE-4226_update_config_netlify (#550)
  netlify-cms.config.yml
Due: none

CORE-4226 Set required fields to false
  netlify-cms.config.yml
Due: none

CORE-4226 Set required fields to false (#551)
  netlify-cms.config.yml
Due: none

CORE-4226 Set required fields to false (#551) (#552)
  netlify-cms.config.yml
Due: none
