Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

Update index.jsx
  templates/governance/supporters/index.jsx
Due: npm run lint:js -- --fix

Update index.jsx (#1412)
  templates/governance/supporters/index.jsx
Due: npm run lint:js -- --fix

Update usrn partners
  templates/governance/supporters/index.jsx
Due: npm run lint:js -- --fix

Update README.md
  README.md
Due: none

Config set
  next.config.js
  package-lock.json
  package.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Fix link contact
  data/payment.yml
  package-lock.json
Due: npm run lint:json -- --write

Add scheduled trigger
  .github/workflows/prod-deploy.yml
Due: none

CORE-5335: add Characteristics page and linking
  data/benefits.yml
  data/data.yml
  design-v2/benefits/index.jsx
  design-v2/benefits/styles.module.scss
  pages/about/index.jsx
  pages/data/index.jsx
  pages/data/styles.module.scss
  pages/distinctive-characteristics/index.jsx
  public/images/posiBig.svg
  templates/distinctive-characteristics/index.jsx
  templates/distinctive-characteristics/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: update char sections
  data/benefits.yml
  data/data.yml
  data/home.yml
  design-v2/benefits/index.jsx
  design-v2/benefits/styles.module.scss
  pages/about/index.jsx
  pages/data/styles.module.scss
  pages/index.jsx
  pages/index.module.scss
  public/images/characteristics.svg
  public/images/join/characteristics.svg
  templates/distinctive-characteristics/index.jsx
  templates/distinctive-characteristics/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-5335: add Characteristics page and linking (#1415)
  data/data.yml
  data/home.yml
  pages/about/index.jsx
  pages/data/index.jsx
  pages/data/styles.module.scss
  pages/distinctive-characteristics/index.jsx
  pages/index.jsx
  pages/index.module.scss
  public/images/characteristics.svg
  public/images/join/characteristics.svg
  public/images/posiBig.svg
  templates/distinctive-characteristics/index.jsx
  templates/distinctive-characteristics/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-5335: add Characteristics page and linking (#1415) (#1416)
  data/data.yml
  data/home.yml
  pages/about/index.jsx
  pages/data/index.jsx
  pages/data/styles.module.scss
  pages/distinctive-characteristics/index.jsx
  pages/index.jsx
  pages/index.module.scss
  public/images/characteristics.svg
  public/images/join/characteristics.svg
  public/images/posiBig.svg
  templates/distinctive-characteristics/index.jsx
  templates/distinctive-characteristics/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Add cron schedule for production deployment
  .github/workflows/prod-deploy.yml
Due: none

CORE: fix posi view
  templates/distinctive-characteristics/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE: fix posi view (#1417)
  templates/distinctive-characteristics/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

merge content (#1418)
  .github/workflows/prod-deploy.yml
  templates/distinctive-characteristics/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Add GitHub Actions workflow for Azure deployment
  .github/workflows/prod-stg-deploy.yml
Due: none

Fix build arguments in prod-stg-deploy.yml
  .github/workflows/prod-stg-deploy.yml
Due: none

Add GA_CODE and NODE_ENV to deployment config
  .github/workflows/prod-stg-deploy.yml
Due: none

Update staging app name in deployment workflow
  .github/workflows/prod-stg-deploy.yml
Due: none

Rename prod-deploy.yml to prod-deploy.yml.old
  .github/workflows/prod-deploy.yml.old
Due: none

Update prod-stg-deploy.yml
  .github/workflows/prod-stg-deploy.yml
Due: none

Create prod-stg-deploy.yml
  .github/workflows/prod-stg-deploy.yml
Due: none

CORE: fix posi view (#1420)
  templates/distinctive-characteristics/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE: add ref page
  package-lock.json
  pages/about/about.module.scss
  pages/about/research-outputs.jsx
  pages/ref/index.jsx
  public/images/ref.svg
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE: add card section
  design-v2/benefits/styles.module.scss
  hooks/analytics.js
  pages/ref/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: fix link
  core.routes.yml
  data/faq.yml
Due: none

Fix formatting in prod-stg-deploy.yml
  .github/workflows/prod-stg-deploy.yml
Due: none

Fix container name in Azure container app update
  .github/workflows/prod-stg-deploy.yml
Due: none

CORE: fix missing section
  pages/about/about.module.scss
  pages/ref/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

test deployment
  .github/workflows/prod-stg-deploy.yml
Due: none

Core new ref (#1421)
  .github/workflows/prod-stg-deploy.yml
  core.routes.yml
  data/faq.yml
  design-v2/benefits/styles.module.scss
  hooks/analytics.js
  package-lock.json
  pages/about/about.module.scss
  pages/about/research-outputs.jsx
  pages/ref/index.jsx
  public/images/ref.svg
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Update Azure deployment script to include REDEPLOY_AT
  .github/workflows/prod-stg-deploy.yml
Due: none

update docs
  data/faq.yml
  pages/faq.jsx
  pages/index.module.scss
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update docs (#1422)
  data/faq.yml
  pages/faq.jsx
  pages/index.module.scss
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

bf/CORE-5309-add-reccomendations-link
  data/benefits.yml
Due: none
