Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Add "How to acknowledge the use of CORE" page (#383)
  data/dataset-acknowledge.md
  pages/acknowledge.jsx
Due: npm run lint:js -- --fix

Create CMS config for the history page
  netlify-cms.config.yml
Due: none

Add more fields to links
  netlify-cms.config.yml
Due: none

Improve CMS config
  netlify-cms.config.yml
Due: none

Add Flowcite logo images
  public/images/logos/flowcite-symbol-text.png
  public/images/logos/flowcite-symbol.png
Due: none

Add the record
  data/endorsements.yml
Due: none

Add Flowcite as a partner (#385)
  data/endorsements.yml
  public/images/logos/flowcite-symbol-text.png
  public/images/logos/flowcite-symbol.png
Due: none

Update links to presentations about CORE
  data/resources.yml
Due: none

Check for the `/statistics` response status
  webpack/data-loader.js
Due: npm run lint:js -- --fix

Improve statistics error reporting
  webpack/data-loader.js
Due: npm run lint:js -- --fix

Fix statistics in a dirty way
  webpack/data-loader.js
Due: npm run lint:js -- --fix

Create the component for the history page
  pages/history.jsx
Due: npm run lint:js -- --fix

Put real data into the statistics
  webpack/data-loader.js
Due: npm run lint:js -- --fix

Make adjustments according to the review
  netlify-cms.config.yml
  pages/history.jsx
Due: npm run lint:js -- --fix

Check for the `/statistics` response status (#386)
  webpack/data-loader.js
Due: npm run lint:js -- --fix

Fix loading of YAML-formatted content
  content/index.js
Due: npm run lint:js -- --fix

Improve code and CMS config
  netlify-cms.config.yml
  pages/history.jsx
Due: npm run lint:js -- --fix

Fetch events from `oacore/content` and make fixes
  data/history.yml
  pages/history.jsx
Due: npm run lint:js -- --fix

Replace the word 'event' with 'milestone'
  netlify-cms.config.yml
  pages/history.jsx
Due: npm run lint:js -- --fix

Move from a standalone page to a directory
  pages/history/history.module.scss
  pages/history/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Add history graphics and delete team photos
  public/images/history/anniversary-logo-big.svg
  public/images/history/arrow.svg
  public/images/history/circle.svg
  public/images/history/side-curve-left.svg
  public/images/history/side-curve-right.svg
  public/images/team/alexander-huba.png
  public/images/team/anna-zelinska.jpeg
  public/images/team/bethany-walker.jpg
  public/images/team/bikash-gyawali.jpg
  public/images/team/catherine-kuliavets.jpg
  public/images/team/david-pride.jpg
  public/images/team/drahomira-herrmannova.jpg
  public/images/team/lucas-anastasiou.jpg
  public/images/team/maria-tarasiuk.jpg
  public/images/team/matteo-cancellieri.jpg
  public/images/team/nancy-pontika.jpg
  public/images/team/petr-knoth.jpg
  public/images/team/samuel-pearce.jpg
  public/images/team/suchetha-nambanoor-kunnath.jpg
  public/images/team/valeriy-budko.jpg
  public/images/team/viktor-yakubiv.jpg
  public/images/team/zdenek-zdrahal.jpg
Due: none

Connect the About page to oacore/content (#379)
  data/about.yml
  netlify-cms.config.yml
  pages/about/index.jsx
Due: npm run lint:js -- --fix

Move the image assets to a different location
  pages/history/assets/anniversary-logo-big.svg
  pages/history/assets/arrow.svg
  pages/history/assets/circle.svg
  pages/history/assets/side-curve-left.svg
  pages/history/assets/side-curve-right.svg
Due: none

Upload history page data briefly
  data/history.yml
  pages/history.jsx
Due: npm run lint:js -- --fix

Use the Page component and add styles for the top
  pages/history/history.module.scss
  pages/history/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Add Terms and Conditions page
  data/terms.md
  pages/terms.jsx
Due: npm run lint:js -- --fix

Add headings
  data/terms.md
Due: none

Remove extra text
  data/terms.md
Due: none

Add Terms and Conditions page (#389)
  data/terms.md
  pages/terms.jsx
Due: npm run lint:js -- --fix

Review Terms and Conditions, Dataset and API
  data/documentation/dataset.md
  data/services/api.yml
  data/terms.md
Due: none

Review Terms and Conditions, Dataset and API (#390)
  data/documentation/dataset.md
  data/services/api.yml
  data/terms.md
Due: none

Review Acknowledge page, add disclaimer
  data/dataset-acknowledge.md
  data/services/dataset.yml
  data/terms.md
Due: none

Review Acknowledge page, add disclaimer (#391)
  data/dataset-acknowledge.md
  data/services/dataset.yml
  data/terms.md
Due: none

Fix `npm run build` command call in the CI
  .github/workflows/pull-request-check.yml
Due: none

Migrate pure Markdown pages to the CMS (#392)
  content/index.js
  data/accessibility.md
  data/advantages.md
  data/dataset-acknowledge.md
  data/privacy.md
  data/ref-audit.md
  data/terms.md
  netlify-cms.config.yml
  pages/[slug].jsx
  pages/accessibility.jsx
  pages/acknowledge.jsx
  pages/advantages-of-being-harvested.jsx
  pages/privacy.jsx
  pages/ref-audit.jsx
  pages/terms.jsx
Due: npm run lint:js -- --fix

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
