Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

CORE-5449: hide faq (#1433)
  design-v2/components/pages/service.jsx
Due: npm run lint:js -- --fix

CORE: add open access section (#1432)
  data/home.yml
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  netlify-cms.config.yml
  pages/about/about.module.scss
  pages/about/index.jsx
  pages/index.jsx
  public/images/heros/ref.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update text
  data/home.yml
Due: none

update text (#1434)
  data/home.yml
Due: none

CORE: update abstracts count
  data/data.yml
Due: none

CORE: update abstracts count (#1435)
  data/data.yml
Due: none

Text upd
  data/data.yml
Due: none

Form update
  components/modal/registration/form.jsx
  components/modal/registration/institution-select.jsx
  components/modal/registration/styles.module.scss
  data/registration.yml
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Form update
  components/modal/registration/conditions.jsx
  data/registration.yml
Due: npm run lint:js -- --fix

Core 5315 (#1436)
  components/modal/registration/conditions.jsx
  components/modal/registration/form.jsx
  components/modal/registration/institution-select.jsx
  components/modal/registration/styles.module.scss
  data/registration.yml
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: add input view
  api/services.js
  core.routes.yml
  env.config.js
  pages/blocking-diagnostic/index.jsx
  templates/blocking-diagnostic/components/diagnostic-header.jsx
  templates/blocking-diagnostic/components/diagnostic-repository-form.jsx
  templates/blocking-diagnostic/diagnostic.yml
  templates/blocking-diagnostic/index.jsx
  templates/blocking-diagnostic/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: add option views
  templates/blocking-diagnostic/diagnostic.yml
  templates/blocking-diagnostic/temp.json
Due: npm run lint:json -- --write

CORE: add new rows
  netlify-cms.config.yml
  templates/governance/advisory/advisory.module.scss
  templates/governance/advisory/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: add new rows (#1437)
  netlify-cms.config.yml
  templates/governance/advisory/advisory.module.scss
  templates/governance/advisory/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

try deploy on aks
  .github/workflows/aks_deploy.yml
  .github/workflows/prod-deploy.yml.old
  .github/workflows/prod-stg-deploy.yml
  kube/deployment.yaml
  kube/httproute.yaml
  kube/referencegrant.yaml
  kube/service.yaml
Due: none

deleted affinity (no need)
  kube/deployment.yaml
Due: none

fix name
  kube/httproute.yaml
Due: none

CORE: add tool
  api/services.js
  public/images/icons/dropdownArrow.svg
  public/images/icons/error.svg
  public/images/icons/infoGreen.svg
  public/images/icons/success.svg
  public/images/icons/warningRed.svg
  templates/blocking-diagnostic/components/diagnostic-results.jsx
  templates/blocking-diagnostic/diagnostic.yml
  templates/blocking-diagnostic/index.jsx
  templates/blocking-diagnostic/map-health-check.js
  templates/blocking-diagnostic/styles.module.scss
  templates/blocking-diagnostic/temp.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE: add styles
  templates/blocking-diagnostic/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

set dev api on stage
  .env.development
  .env.production
  env.config.js
Due: npm run lint:js -- --fix

add dev api
  .env.development
  .env.production
  Dockerfile
Due: none

fix stage api
  .env.development
  .env.production
  .github/workflows/prod-stg-deploy.yml
  Dockerfile
  env.config.js
Due: npm run lint:js -- --fix

change node env to app env
  env.config.js
Due: npm run lint:js -- --fix

CORE: update options
  public/images/icons/infoWarning.svg
  public/images/icons/warningY.svg
  templates/blocking-diagnostic/components/diagnostic-results.jsx
  templates/blocking-diagnostic/diagnostic.yml
  templates/blocking-diagnostic/index.jsx
  templates/blocking-diagnostic/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Core 5507 blocking detection (#1438)
  .github/workflows/prod-stg-deploy.yml
  Dockerfile
  api/services.js
  core.routes.yml
  env.config.js
  pages/blocking-diagnostic/index.jsx
  public/images/icons/dropdownArrow.svg
  public/images/icons/error.svg
  public/images/icons/infoGreen.svg
  public/images/icons/infoWarning.svg
  public/images/icons/success.svg
  public/images/icons/warningRed.svg
  public/images/icons/warningY.svg
  templates/blocking-diagnostic/components/diagnostic-header.jsx
  templates/blocking-diagnostic/components/diagnostic-repository-form.jsx
  templates/blocking-diagnostic/components/diagnostic-results.jsx
  templates/blocking-diagnostic/diagnostic.yml
  templates/blocking-diagnostic/index.jsx
  templates/blocking-diagnostic/map-health-check.js
  templates/blocking-diagnostic/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Delete kube/referencegrant.yaml
  kube/referencegrant.yaml
Due: none

Add core.ac.uk hostname to httproute
  kube/httproute.yaml
Due: none

create secrets
  .github/workflows/aks_deploy.yml
  kube/deployment.yaml
Due: none

add missing secrets
  .github/workflows/aks_deploy.yml
Due: none

delete symbol
  .github/workflows/aks_deploy.yml
Due: none

Sync package-lock.json with package.json
  package-lock.json
Due: npm run lint:json -- --write

Enhance deployment configuration with readiness and liveness probes; update resource requests and limits
  kube/deployment.yaml
  kube/httproute.yaml
Due: none

Add HorizontalPodAutoscaler and PodDisruptionBudget for core-frontend-about
  kube/hpa.yaml
  kube/pdb.yaml
Due: none

Enhance deployment configuration with startup probe and updated resource requests and limits
  kube/deployment.yaml
Due: none

Increase memory limit from 1Gi to 2Gi
  kube/deployment.yaml
Due: none

Add HPA and PDB application steps to AKS deployment workflow
  .github/workflows/aks_deploy.yml
Due: none

Add session affinity configuration to core-frontend-about service
  kube/service.yaml
Due: none

Remove memory utilization metric from HorizontalPodAutoscaler configuration
  kube/hpa.yaml
Due: none

tune scaling
  kube/deployment.yaml
  kube/hpa.yaml
Due: none

CORE: add message
  components/layout/layout.jsx
  components/layout/layout.module.scss
  components/maintenance-banner/index.jsx
  components/maintenance-banner/maintenance-banner.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write
