Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Update stage files
  data/endorsements.yml
  netlify-cms.config.yml
Due: none

Update oai slide
  components/markdown.jsx
  data/home.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  public/images/heros/oai.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update/home page oai slide (#598)
  components/markdown.jsx
  data/endorsements.yml
  data/home.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  netlify-cms.config.yml
  public/images/heros/oai.svg
  public/images/oai_resolve/explore.png
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update/home page oai slide (#598) (#599)
  components/markdown.jsx
  data/endorsements.yml
  data/home.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  netlify-cms.config.yml
  public/images/heros/oai.svg
  public/images/oai_resolve/explore.png
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update styles
  design-v2/components/hero/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Update/Hero styles (#600)
  design-v2/components/hero/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Update/Hero styles (#600) (#601)
  design-v2/components/hero/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Revert "oai resolve page (#466)" (#480)
  public/images/oai_resolve/logo.svg
Due: none

Create logo.svg
  public/images/oai_resolve/logo.svg
Due: none

Init new api page
  components/accordion/accordion.module.scss
  components/page/page.jsx
  components/utils.js
  data/services/api.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  design-v2/components/index.js
  design-v2/components/pages/index.js
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  pages/index.jsx
  pages/index.module.scss
  pages/services/api.jsx
  public/images/services/delivery.svg
  public/images/services/server.svg
  public/images/services/work.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

fix images
  design-v2/components/hero/styles.module.scss
  pages/services/index.jsx
  public/images/oai_resolve/explore.png
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Fix/services page hero (#604)
  design-v2/components/hero/styles.module.scss
  pages/services/index.jsx
  public/images/oai_resolve/explore.png
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Fix/services page hero (#604) (#605)
  design-v2/components/hero/styles.module.scss
  pages/services/index.jsx
  public/images/oai_resolve/explore.png
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

remove duplicates
  data/faq.yml
Due: none

remove duplicates (#607)
  data/faq.yml
Due: none

Removed duplicates from faq (#608)
  data/faq.yml
Due: none

Init new consultancy page
  core.routes.yml
  data/services/consultancy.yml
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  pages/services/consultancy.jsx
  public/images/services/automation.svg
  public/images/services/consultancy.svg
  public/images/services/contact-us.svg
  public/images/services/partnership.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Create new collection for consultancy(testing)
  netlify-cms.config.yml
Due: none

Create new collection for consultancy(testing) (#609)
  netlify-cms.config.yml
Due: none

Create new collection for consultancy(testing) (#609) (#610)
  netlify-cms.config.yml
Due: none

Fix widget name
  netlify-cms.config.yml
Due: none

Fix widget name (#611)
  netlify-cms.config.yml
Due: none

Update benefits section and add metadata
  netlify-cms.config.yml
Due: none

Update benefits section and add metadata (#612)
  netlify-cms.config.yml
Due: none

Update benefits section and add metadata (#612) (#613)
  netlify-cms.config.yml
Due: none

Fix title
  netlify-cms.config.yml
Due: none

Fix/Consultancy service sections (#614)
  netlify-cms.config.yml
Due: none

Fix/Consultancy service sections (#614) (#615)
  netlify-cms.config.yml
Due: none

Update contact us section
  netlify-cms.config.yml
Due: none

Update contact us section (#616)
  netlify-cms.config.yml
Due: none

Update testimonials section
  netlify-cms.config.yml
Due: none

Update testimonials section (#618)
  netlify-cms.config.yml
Due: none

Update contact us section (#616) (#617)
  netlify-cms.config.yml
Due: none

Fix author section
  netlify-cms.config.yml
Due: none

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
