Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Add Lean Library and Johan Tilstra's quote
  data/endorsements.yml
  public/images/logos/leanlibrary.png
  public/images/people/Johan.png
Due: none

Add Suchetha's profile
  data/team.yml
  public/images/team/suchetha-nambanoor-kunnath.jpg
Due: none

Delete FAQ about stopping caching PDFs
  data/faq.yml
Due: none

Add 4 more institutions using our services
  data/endorsements.yml
  public/images/logos/birmingham.png
  public/images/logos/bolton.gif
  public/images/logos/cyprus-university-of-technology.jpg
  public/images/logos/nora.png
Due: none

Add 12 ambassadors
  data/ambassadors.yml
Due: none

Add 6 ambassadors' pictures
  data/ambassadors.yml
  public/images/people/ananthkumar.jpg
  public/images/people/balraju-vattikulla.jpg
  public/images/people/gomez.png
  public/images/people/kuldeep-pawar.jpg
  public/images/people/niklas-zimmer.jpg
  public/images/people/veerabhadra-swamy.jpg
  public/images/people/wanyenda-chilimo.jpg
Due: none

Add 'Advantages of joining CORE' page
  data/about.yml
  data/advantages.md
  pages/advantages-of-being-harvested.jsx
Due: npm run lint:js -- --fix

Add Venugopal's picture
  data/ambassadors.yml
  public/images/people/venugopal.png
Due: none

Increase monthly user count according to the stats
  data/home.yml
Due: none

Add Andrija Sagic to ambassadors
  data/ambassadors.yml
  public/images/people/andrija-sagic.jpg
Due: none

Upgrade packages using `npm upgrade`
  package-lock.json
  package.json
Due: npm run lint:json -- --write

Fix link
  data/services/repository-dashboard.yml
Due: none

Update Dashboard login link (#220)
  data/services/repository-dashboard.yml
Due: none

Bump babel packages
  package-lock.json
  package.json
Due: npm run lint:json -- --write

Bump babel packages (#221)
  package-lock.json
  package.json
Due: npm run lint:json -- --write

Update 'by CORE' images URLs
  data/faq.yml
Due: none

Retrieve stats only once
  webpack/data-loader.js
Due: npm run lint:js -- --fix

Fix multiple API requests for the statistics (#226)
  webpack/data-loader.js
Due: npm run lint:js -- --fix

Add 3 ambassadors, fix Indian names
  data/ambassadors.yml
Due: none

Upgrade Next.js and other packages
  .github/workflows/pull-request-check.yml
  components/error.jsx
  components/index.js
  components/index.scss
  components/key-feature/index.jsx
  components/link.jsx
  components/logos-carousel/index.jsx
  components/maps/image-map/image-map.scss
  components/outreach-materials/index.jsx
  components/repositories-browser/index.jsx
  components/search-navbar/index.jsx
  components/search/index.jsx
  components/switcher/index.jsx
  components/team-member/index.jsx
  components/testimonials-carousel/index.jsx
  core.routes.yml
  next.config.js
  package-lock.json
  package.json
  pages/404.jsx
  pages/_app.jsx
  pages/about/about.module.scss
  pages/about/index.jsx
  pages/documentation/documentation.scss
  pages/index.jsx
  pages/index.module.scss
  pages/services/index.jsx
  pages/services/services.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Fix Next.js CSS modules for individual pages
  pages/about/about.module.scss
  pages/about/index.jsx
  pages/index.jsx
  pages/index.module.scss
  pages/services/index.jsx
  pages/services/services.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Fix Next.js CSS modules for individual pages (#227)
  pages/about/about.module.scss
  pages/about/index.jsx
  pages/index.jsx
  pages/index.module.scss
  pages/services/index.jsx
  pages/services/services.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Make screenshots optional on the Services page
  pages/services/index.jsx
  pages/services/services.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Add CORE Repository Edition (#222)
  core.routes.yml
  data/core.yml
  data/ref-audit.md
  data/services.yml
  data/services/repository-dashboard.yml
  data/services/repository-edition.yml
  pages/services/repository-edition.jsx
  public/images/icons/mechanism.svg
  public/images/icons/search.svg
  public/images/icons/support.svg
  public/images/screenshots/dashboard-overview.png
  public/images/screenshots/dashboard-ref.png
  public/images/services/repository-edition.svg
Due: npm run lint:js -- --fix

Link BSDTAg from Research outputs page
  data/research-outputs.yml
  pages/about/research-outputs.jsx
Due: npm run lint:js -- --fix

Link Repository Edition from REF audit page
  data/ref-audit.md
Due: none

Replace Repository Edition logo
  public/images/services/repository-edition.svg
Due: none

Fix ambassador location positions
  data/ambassadors.yml
Due: none

Update Repository Dashboard screenshot
  public/images/screenshots/dashboard-overview.png
Due: none

Enable data provider registration
  core.routes.yml
  data/faq.yml
  pages/about/index.jsx
  pages/data/providers.jsx
Due: npm run lint:js -- --fix

Enable data provider registration (#230)
  core.routes.yml
  data/faq.yml
  pages/about/index.jsx
  pages/data/providers.jsx
Due: npm run lint:js -- --fix

Remove maps
  components/maps/image-map/image-map.scss
  components/maps/image-map/index.jsx
  components/maps/image-map/map.svg
  components/maps/index.js
  components/maps/maps.scss
  components/maps/pins/generic.jsx
  components/maps/pins/image.jsx
  components/maps/pins/index.js
  components/maps/pins/number.jsx
  components/maps/pins/pins.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Swagger docs example
  package-lock.json
  package.json
  pages/_app.jsx
  pages/docs.jsx
  pages/docs.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Add missing title
  data/accessibility.md
Due: none

Add default title to prevent title undefined error
  components/page/page.jsx
Due: npm run lint:js -- --fix

Add missing title (#234)
  components/page/page.jsx
  data/accessibility.md
Due: npm run lint:js -- --fix

Add missing title (#234) (#236)
  components/page/page.jsx
  data/accessibility.md
Due: npm run lint:js -- --fix

Fix ref cannot be passed to functional component
  components/logo/index.jsx
Due: npm run lint:js -- --fix

Fix ref cannot be passed to functional component (#235)
  components/logo/index.jsx
Due: npm run lint:js -- --fix

Remove missing screenshot
  data/services/connector.yml
Due: none

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
