Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Netlify update #2
  netlify-cms.config.yml
Due: none

Feature/new structure netlify (#963)
  netlify-cms.config.yml
Due: none

Netlify update #3
  netlify-cms.config.yml
Due: none

Feature/new structure netlify (#963) (#964)
  netlify-cms.config.yml
Due: none

Feature/new structure netlify (#965)
  netlify-cms.config.yml
Due: none

Feature/new structure netlify (#965) (#966)
  netlify-cms.config.yml
Due: none

Netlify update #4
  netlify-cms.config.yml
Due: none

Netlify update #5
  netlify-cms.config.yml
Due: none

Netlify update #5 (#969)
  netlify-cms.config.yml
Due: none

Netlify update #6
  netlify-cms.config.yml
Due: none

Netlify update #5 (#969) (#970)
  netlify-cms.config.yml
Due: none

Netlify update #7
  netlify-cms.config.yml
Due: none

Feature/netlify strucutre (#971)
  netlify-cms.config.yml
Due: none

Feature/netlify strucutre (#971) (#972)
  netlify-cms.config.yml
Due: none

CORE-4624 update footer version
  package-lock.json
  package.json
Due: npm run lint:json -- --write

CORE-4624 update footer version (#973)
  package-lock.json
  package.json
Due: npm run lint:json -- --write

CORE-4624 update footer version (#973) (#974)
  package-lock.json
  package.json
Due: npm run lint:json -- --write

update linking
  data/services/repository-dashboard.yml
Due: none

update linking (#975)
  data/services/repository-dashboard.yml
Due: none

update linking (#975) (#976)
  data/services/repository-dashboard.yml
Due: none

Text update
  data/services/repository-dashboard.yml
Due: none

Text update (#977)
  data/services/repository-dashboard.yml
Due: none

Text update (#977) (#978)
  data/services/repository-dashboard.yml
Due: none

Brackets update
  data/research-outputs.yml
Due: none

Brackets update (#979)
  data/research-outputs.yml
Due: none

Brackets update (#979) (#980)
  data/research-outputs.yml
Due: none

update faqs data
  data/faq.yml
Due: none

CORE-4513: update forms
  components/modal/registration/conditions.jsx
  components/modal/registration/form.jsx
  components/modal/registration/index.jsx
  components/modal/registration/profile-select.jsx
  components/modal/registration/styles.module.scss
  data/registration.yml
  public/images/icons/done.svg
  public/images/icons/warning.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

add dates
  data/faq.yml
  pages/faq.jsx
  pages/index.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update date for all sections
  data/faq.yml
  pages/index.module.scss
Due: prettier --ignore-path .gitignore --check --write

Core 4636 add tabs to faq (#981)
  data/faq.yml
  pages/faq.jsx
  pages/index.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Core 4636 add tabs to faq (#981) (#982)
  data/faq.yml
  pages/faq.jsx
  pages/index.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

add gramarly logo
  data/endorsements.yml
  public/images/logos/grammarly.png
Due: none

add gramarly logo (#983)
  data/endorsements.yml
  public/images/logos/grammarly.png
Due: none

add gramarly logo (#983) (#984)
  data/endorsements.yml
  public/images/logos/grammarly.png
Due: none

add logo to carousel
  data/membership.yml
  public/images/membership/cambridge.svg
Due: none

add logo to carousel (#985)
  data/membership.yml
  public/images/membership/cambridge.svg
Due: none

add logo to carousel (#985) (#986)
  data/membership.yml
  public/images/membership/cambridge.svg
Due: none

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
