Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Core 4518 join us flow (#1079) (#1080)
  .gitignore
  data/benefits.yml
  design-v2/benefits/benefitsForm.jsx
  design-v2/benefits/benefitsSecondStep.jsx
  design-v2/benefits/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4518: new user fix
  design-v2/benefits/benefitsForm.jsx
Due: npm run lint:js -- --fix

CORE-4518: new user fix (#1081)
  design-v2/benefits/benefitsForm.jsx
Due: npm run lint:js -- --fix

CORE-4518: new user fix (#1081) (#1082)
  design-v2/benefits/benefitsForm.jsx
Due: npm run lint:js -- --fix

CORE-4518
  data/membership.yml
  design-v2/benefits/benefitsForm.jsx
  design-v2/benefits/styles.module.scss
  templates/membership/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4518 (#1083)
  data/membership.yml
  design-v2/benefits/benefitsForm.jsx
  design-v2/benefits/styles.module.scss
  templates/membership/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4518 (#1083) (#1084)
  data/membership.yml
  design-v2/benefits/benefitsForm.jsx
  design-v2/benefits/styles.module.scss
  templates/membership/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-netlify: property issue
  netlify-cms.config.yml
Due: none

CORE-netlify: property issue (#1085)
  netlify-cms.config.yml
Due: none

CORE-netlify: property issue (#1085) (#1086)
  netlify-cms.config.yml
Due: none

CORE: required issue
  netlify-cms.config.yml
Due: none

CORE: required issue (#1087)
  netlify-cms.config.yml
Due: none

CORE: required issue (#1087) (#1088)
  netlify-cms.config.yml
Due: none

netlify faq
  netlify-cms.config.yml
Due: none

netlify faq (#1089)
  netlify-cms.config.yml
Due: none

netlify faq (#1089) (#1090)
  netlify-cms.config.yml
Due: none

CORE-4812: docs nav
  data/dataProviders.yml
Due: none

CORE-4812: docs nav (#1091)
  data/dataProviders.yml
Due: none

CORE-4812: docs nav (#1091) (#1092)
  data/dataProviders.yml
Due: none

bold issue
  data/dataProviders.yml
Due: none

bold issue (#1093)
  data/dataProviders.yml
Due: none

bold issue (#1093) (#1094)
  data/dataProviders.yml
Due: none

text upd
  data/benefits.yml
  data/faq.yml
  data/services/discovery.yml
Due: none

text upd
  data/data.yml
  data/services/repository-dashboard.yml
Due: none

Harvest to index (#1095)
  data/benefits.yml
  data/data.yml
  data/faq.yml
  data/services/discovery.yml
  data/services/repository-dashboard.yml
Due: none

Harvest to index (#1095) (#1096)
  data/benefits.yml
  data/data.yml
  data/faq.yml
  data/services/discovery.yml
  data/services/repository-dashboard.yml
Due: none

CORE-4816: rrs demo
  components/hero/index.jsx
  components/pdf-upload/index.jsx
  components/pdf-upload/styles.module.scss
  data/retention.yml
  design-v2/components/membership-table/index.jsx
  pages/rights-retention/index.jsx
  public/images/logos/upload.svg
  templates/membership/index.jsx
  templates/rights-retention/index.jsx
  templates/rights-retention/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4824: data providers guide section
  data/benefits.yml
  design-v2/benefits/index.jsx
  design-v2/benefits/styles.module.scss
  public/images/data-provider.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4824: data providers guide section (#1097)
  data/benefits.yml
  design-v2/benefits/index.jsx
  design-v2/benefits/styles.module.scss
  public/images/data-provider.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4824: data providers guide section (#1097) (#1098)
  data/benefits.yml
  design-v2/benefits/index.jsx
  design-v2/benefits/styles.module.scss
  public/images/data-provider.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4825 new posi title
  data/home.yml
  pages/index.jsx
  pages/index.module.scss
  public/images/posi.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4825 new posi title (#1099)
  data/home.yml
  pages/index.jsx
  pages/index.module.scss
  public/images/posi.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4825 new posi title (#1099) (#1100)
  data/home.yml
  pages/index.jsx
  pages/index.module.scss
  public/images/posi.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Docs redirect. Netlify fix
  legacy.config.yml
  netlify-cms.config.yml
Due: none

Docs redirect. Netlify fix (#1101)
  legacy.config.yml
  netlify-cms.config.yml
Due: none

Docs redirect. Netlify fix (#1101) (#1102)
  legacy.config.yml
  netlify-cms.config.yml
Due: none

Fix naming
  netlify-cms.config.yml
Due: none

Fix naming (#1103)
  netlify-cms.config.yml
Due: none

Fix naming (#1103) (#1104)
  netlify-cms.config.yml
Due: none

CORE-4846: update link redirect
  design-v2/components/list-box/index.jsx
Due: npm run lint:js -- --fix

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
