Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

update: CORE-4485 change spacing
  pages/index.module.scss
Due: prettier --ignore-path .gitignore --check --write

update: CORE-4485 change spacing (#849)
  pages/index.module.scss
Due: prettier --ignore-path .gitignore --check --write

update: CORE-4485 change spacing (#849) (#850)
  pages/index.module.scss
Due: prettier --ignore-path .gitignore --check --write

fix: CORE-4498 slider issue
  design-v2/components/search-form/index.jsx
  pages/index.jsx
Due: npm run lint:js -- --fix

fix: CORE-4498 slider issue (#851)
  design-v2/components/search-form/index.jsx
  pages/index.jsx
Due: npm run lint:js -- --fix

fix: CORE-4498 slider issue (#851) (#852)
  design-v2/components/search-form/index.jsx
  pages/index.jsx
Due: npm run lint:js -- --fix

update version
  package-lock.json
Due: npm run lint:json -- --write

update version (#853)
  package-lock.json
Due: npm run lint:json -- --write

update version (#853) (#854)
  package-lock.json
Due: npm run lint:json -- --write

update issues
  data/community/supporters.yml
  public/images/heros/homeServices.svg
Due: none

update issues (#855)
  data/community/supporters.yml
  public/images/heros/homeServices.svg
Due: none

update issues (#855) (#856)
  data/community/supporters.yml
  public/images/heros/homeServices.svg
Due: none

[bugfix] Add title
  pages/membership-documentation/index.jsx
Due: npm run lint:js -- --fix

[bugfix] Add title (#857)
  pages/membership-documentation/index.jsx
Due: npm run lint:js -- --fix

[bugfix] Add title (#857) (#858)
  pages/membership-documentation/index.jsx
Due: npm run lint:js -- --fix

[bugfix] Add dots
  data/services/api.yml
  data/services/dataset.yml
  data/services/fastsync.yml
  data/services/recommender.yml
Due: none

[bugfix] Add dots (#859)
  data/services/api.yml
  data/services/dataset.yml
  data/services/fastsync.yml
  data/services/recommender.yml
Due: none

[bugfix] Add dots (#859) (#860)
  data/services/api.yml
  data/services/dataset.yml
  data/services/fastsync.yml
  data/services/recommender.yml
Due: none

[fix] Btn remove
  pages/data/index.jsx
Due: npm run lint:js -- --fix

[fix] Btn remove (#861)
  pages/data/index.jsx
Due: npm run lint:js -- --fix

[fix] Btn remove (#861) (#862)
  pages/data/index.jsx
Due: npm run lint:js -- --fix

update data buttons
  data/data.yml
  pages/data/index.jsx
Due: npm run lint:js -- --fix

update data buttons (#863)
  data/data.yml
  pages/data/index.jsx
Due: npm run lint:js -- --fix

update data buttons (#863) (#864)
  data/data.yml
  pages/data/index.jsx
Due: npm run lint:js -- --fix

update membership fees
  data/membership.yml
  design-v2/components/membership-table/index.jsx
Due: npm run lint:js -- --fix

update membership fees (#865)
  data/membership.yml
  design-v2/components/membership-table/index.jsx
Due: npm run lint:js -- --fix

update membership fees (#865) (#866)
  data/membership.yml
  design-v2/components/membership-table/index.jsx
Due: npm run lint:js -- --fix

update sustaining text
  data/membership.yml
Due: none

update sustaining text (#867)
  data/membership.yml
Due: none

update sustaining text (#867) (#868)
  data/membership.yml
Due: none

[feature] Update composer
  package-lock.json
Due: npm run lint:json -- --write

[feature] Update composer (#869)
  package-lock.json
Due: npm run lint:json -- --write

[feature] Update composer (#869) (#870)
  package-lock.json
Due: npm run lint:json -- --write

Revert "[feature] Update composer (#869) (#870)"
  package-lock.json
Due: npm run lint:json -- --write

Revert "[feature] Update composer (#869) (#870)" (#871)
  package-lock.json
Due: npm run lint:json -- --write

[feature] Update package lock
  package-lock.json
Due: npm run lint:json -- --write

[feature] Update package lock (#872)
  package-lock.json
Due: npm run lint:json -- --write

[feature] Update package lock (#872) (#873)
  package-lock.json
Due: npm run lint:json -- --write

[feature] Docs upd
  README.md
Due: none

Revert "[feature] Update package lock (#872) (#873)"
  package-lock.json
Due: npm run lint:json -- --write

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
