Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Add max-height to the image
  data/documentation/discovery-plugin.md
Due: none

Crop white space in image (#247)
  data/documentation/discovery-plugin.md
  public/images/discovery/oro-repository-plugin.png
Due: none

Add role=presentation to the corresponding images (#273)
  components/highlight-section/index.jsx
  components/key-feature/index.jsx
  components/logo/index.jsx
Due: npm run lint:js -- --fix

Remove key messages titles from service pages (#273)
  data/services/api.yml
  data/services/dataset.yml
  data/services/discovery.yml
  data/services/fastsync.yml
  data/services/recommender.yml
  data/services/repository-dashboard.yml
Due: none

Remove titles from related services (#273)
  components/pages/service.jsx
Due: npm run lint:js -- --fix

Fix cookie's 'Learn more' accessibility (#273)
  components/cookies/popup.jsx
Due: npm run lint:js -- --fix

Remove ambiguous 'here' links (#273)
  data/documentation/api.md
  data/documentation/fastsync.md
  data/documentation/recommender.md
  data/faq.yml
  data/ref-audit.md
  data/services/api.yml
Due: none

Replace Bootstrap greys with Material Design ones
  components/bootstrap/_variables.scss
Due: prettier --ignore-path .gitignore --check --write

Change colours to meet contrast AA level (#273)
  components/bootstrap/_variables.scss
  components/cookies/cookies.module.scss
  components/footer/footer.module.scss
  components/sections/join.module.scss
  data/documentation/discovery-plugin.md
  data/home.yml
  pages/about/about.module.scss
  pages/index.module.scss
Due: prettier --ignore-path .gitignore --check --write

Replace blue tones with shades of grey
  components/blockquote/blockquote.module.scss
  components/bootstrap/_variables.scss
  pages/about/about.module.scss
  pages/services/services.module.scss
Due: prettier --ignore-path .gitignore --check --write

Use start command for development and production
  package.json
Due: npm run lint:json -- --write

Update the Data page visual look
  components/highlight-section/highlight-section.module.scss
  components/highlight-section/index.jsx
  data/data.yml
  public/images/cluster.svg
  public/images/coding.svg
  public/images/data-providers.png
  public/images/illustrations/analysis-amico.svg
  public/images/illustrations/data-points-amico.svg
  public/images/illustrations/file-searching-amico.svg
  public/images/illustrations/online-world.svg
  public/images/library.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Add one more button to the Join section (#276)
  components/sections/join.jsx
  components/sections/join.module.scss
  data/home.yml
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Add Data providers to the menu (#276)
  components/search-navbar/search-navbar.scss
  data/core.yml
Due: prettier --ignore-path .gitignore --check --write

Link BSDTAg from Research outputs page
  data/research-outputs.yml
  pages/about/research-outputs.jsx
Due: npm run lint:js -- --fix

Fix footnote left spacing at the Research outputs
  pages/about/research-outputs.jsx
Due: npm run lint:js -- --fix

Fix applying polyfills
  next.config.js
Due: npm run lint:js -- --fix

Fix applying polyfills (#277)
  next.config.js
Due: npm run lint:js -- --fix

Fix missing key
  components/sections/join.jsx
Due: npm run lint:js -- --fix

Fix missing word in FAQ about publishing in CORE
  data/faq.yml
Due: none

Add South Africa to repository dashboard
  data/services/repository-dashboard.yml
Due: none

Add South Africa to the Dashboard page (#278)
  data/services/repository-dashboard.yml
Due: none

Move Svetlana to past team members (#279)
  data/team.yml
Due: none

Update Devid's role
  data/team.yml
Due: none

Add Anna Zelinska to the team (#279)
  data/team.yml
  public/images/team/anna-zelinska.jpeg
Due: none

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
