Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

add node version print
  deploy.sh
Due: none

Fix fail build
  components/outreach-materials/index.jsx
  data/resources.yml
Due: npm run lint:js -- --fix

CORE-4524: add advisory
  data/advisory.yml
  public/images/openUniversity.svg
Due: none

CORE-4524: add advisory (#909)
  data/advisory.yml
  public/images/openUniversity.svg
Due: none

CORE-4524: add advisory (#909) (#910)
  data/advisory.yml
  public/images/openUniversity.svg
Due: none

update badges properties
  data/resources.yml
Due: none

CORE-4511 add presentation
  components/outreach-materials/outreach-materials.module.scss
  data/resources.yml
  pages/about/index.jsx
  public/images/resources/presentation.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

feat: CORE-4511 badges in faq and about us page (#896)
  components/outreach-materials/index.jsx
  components/outreach-materials/outreach-materials.module.scss
  data/benefits.yml
  data/faq.yml
  data/resources.yml
  design-v2/benefits/index.jsx
  pages/about/about.module.scss
  pages/about/ambassadors.jsx
  pages/about/index.jsx
  pages/faq.jsx
  pages/index.module.scss
  public/images/resources/badges.png
  public/images/resources/presentation.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

feat: CORE-4511 badges in faq and about us page (#896) (#911)
  components/outreach-materials/index.jsx
  components/outreach-materials/outreach-materials.module.scss
  data/benefits.yml
  data/faq.yml
  data/resources.yml
  design-v2/benefits/index.jsx
  pages/about/about.module.scss
  pages/about/ambassadors.jsx
  pages/about/index.jsx
  pages/faq.jsx
  pages/index.module.scss
  public/images/resources/badges.png
  public/images/resources/presentation.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Add module
  data/payment.yml
  templates/member/form/index.jsx
  templates/member/form/styles.module.scss
  templates/member/starting/conditions/index.jsx
  templates/member/starting/conditions/styles.module.scss
  templates/member/starting/verify-registered.jsx
  templates/member/success.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Add repoName
  store/membership.js
  templates/member/form/index.jsx
  templates/member/starting/conditions/index.jsx
  templates/member/starting/verify-registered.jsx
  templates/member/success.jsx
Due: npm run lint:js -- --fix

Anonymous text update
  data/payment.yml
Due: none

update posi link redirect
  components/markdown.jsx
  data/community/home.yml
Due: npm run lint:js -- --fix

add spacing
  design-v2/components/hero/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Update governance description (#912)
  components/markdown.jsx
  data/community/home.yml
  design-v2/components/hero/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update governance description (#912) (#913)
  components/markdown.jsx
  data/community/home.yml
  design-v2/components/hero/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Style add
  templates/member/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Update text field
  data/payment.yml
  pages/membership-request-status/success.jsx
  templates/member/starting/verify_anonymous.jsx
Due: npm run lint:js -- --fix

Update styles
  pages/membership-request-status/success.jsx
  templates/member/starting/verify-registered.jsx
  templates/member/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

fix: CORE-4535 sponsorship
  data/sponsorship.yml
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  templates/sponsorships/index.jsx
  templates/sponsorships/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

fix: CORE-4535 sponsorship (#915)
  data/sponsorship.yml
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  templates/sponsorships/index.jsx
  templates/sponsorships/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

fix: CORE-4535 sponsorship (#915) (#916)
  data/sponsorship.yml
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  templates/sponsorships/index.jsx
  templates/sponsorships/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Fix preload for repository
  templates/member/form/hooks/use-select.js
  templates/member/form/index.jsx
  templates/member/form/select.jsx
Due: npm run lint:js -- --fix

update search input
  data/core.yml
  data/history.yml
  data/home.yml
Due: none

update search input (#917)
  data/core.yml
  data/history.yml
  data/home.yml
Due: none

update search input (#917) (#918)
  data/core.yml
  data/history.yml
  data/home.yml
Due: none

fix: CORE-4527 add list effects
  templates/governance/supporters/index.jsx
  templates/governance/supporters/supporters.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

fix: CORE-4527 add list effects (#919)
  templates/governance/supporters/index.jsx
  templates/governance/supporters/supporters.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

fix: CORE-4527 add list effects (#919) (#920)
  templates/governance/supporters/index.jsx
  templates/governance/supporters/supporters.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

feat: CORE-4518 add join flow design
  data/benefits.yml
  design-v2/benefits/GratitudeModal.jsx
  design-v2/benefits/index.jsx
  design-v2/benefits/joinForm.jsx
  design-v2/benefits/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

GA4 init
  hooks/analytics.js
  package-lock.json
  package.json
  pages/about/ambassadors.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

GA4 init (#921)
  hooks/analytics.js
  package-lock.json
  package.json
  pages/about/ambassadors.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

GA4 init (#921) (#922)
  hooks/analytics.js
  package-lock.json
  package.json
  pages/about/ambassadors.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

GA4 title
  hooks/analytics.js
  main/index.jsx
Due: npm run lint:js -- --fix

GA4 title
  hooks/analytics.js
Due: npm run lint:js -- --fix

Feature/ga4 2 (#923)
  hooks/analytics.js
  main/index.jsx
Due: npm run lint:js -- --fix

Feature/ga4 2 (#923) (#924)
  hooks/analytics.js
  main/index.jsx
Due: npm run lint:js -- --fix

GA4 title#2
  hooks/analytics.js
Due: npm run lint:js -- --fix

GA4 title#2 (#925)
  hooks/analytics.js
Due: npm run lint:js -- --fix

GA4 title#2 (#925) (#926)
  hooks/analytics.js
Due: npm run lint:js -- --fix

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
