Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

update home page
  data/home.yml
Due: none

CORE-4629 name issue
  pages/governance/supporters.jsx
  pages/membership/index.jsx
Due: npm run lint:js -- --fix

update home page (#1010)
  data/home.yml
Due: none

update home page (#1010) (#1011)
  data/home.yml
Due: none

CORE-4678 update terms page
  data/terms.yml
Due: none

CORE-4678 update terms page (#1012)
  data/terms.yml
Due: none

CORE-4678 update terms page (#1012) (#1013)
  data/terms.yml
Due: none

CORE-4513: add dataset access
  components/modal/registration/form.jsx
  components/modal/registration/styles.module.scss
  components/radio-button/index.jsx
  components/radio-button/radio.module.scss
  data/registration.yml
  public/images/logos/questionInfo.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

minor issues
  components/modal/registration/institution-select.jsx
  data/registration.yml
Due: npm run lint:js -- --fix

update success message
  components/modal/registration/form.jsx
  components/modal/registration/success.jsx
Due: npm run lint:js -- --fix

update name
  data/contacts.yml
Due: none

update name (#1014)
  data/contacts.yml
Due: none

update name (#1014) (#1015)
  data/contacts.yml
Due: none

update on forms
  components/checkbox/animated.jsx
  components/modal/registration/conditions.jsx
  components/modal/registration/form.jsx
  components/modal/registration/styles.module.scss
  data/registration.yml
  data/services/api.yml
  templates/governance/supporters/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update core
  data/services/api.yml
Due: none

update checkbox
  components/modal/registration/conditions.jsx
Due: npm run lint:js -- --fix

add whats included
  data/services/dataset.yml
Due: none

Core 4513 update forms (#993)
  components/checkbox/animated.jsx
  components/modal/hooks/use-input.js
  components/modal/registration/conditions.jsx
  components/modal/registration/form.jsx
  components/modal/registration/index.jsx
  components/modal/registration/institution-select.jsx
  components/modal/registration/profile-select.jsx
  components/modal/registration/styles.module.scss
  components/modal/registration/success.jsx
  components/radio-button/index.jsx
  components/radio-button/radio.module.scss
  data/registration.yml
  data/services/api.yml
  data/services/dataset.yml
  public/images/icons/done.svg
  public/images/icons/warning.svg
  public/images/logos/questionInfo.svg
  store/registration.js
  templates/governance/supporters/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Core 4513 update forms (#993) (#1016)
  components/checkbox/animated.jsx
  components/modal/hooks/use-input.js
  components/modal/registration/conditions.jsx
  components/modal/registration/form.jsx
  components/modal/registration/index.jsx
  components/modal/registration/institution-select.jsx
  components/modal/registration/profile-select.jsx
  components/modal/registration/styles.module.scss
  components/modal/registration/success.jsx
  components/radio-button/index.jsx
  components/radio-button/radio.module.scss
  data/registration.yml
  data/services/api.yml
  data/services/dataset.yml
  public/images/icons/done.svg
  public/images/icons/warning.svg
  public/images/logos/questionInfo.svg
  store/registration.js
  templates/governance/supporters/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update endorsements
  data/endorsements.yml
Due: none

update endorsements (#1017)
  data/endorsements.yml
Due: none

update endorsements (#1017) (#1018)
  data/endorsements.yml
Due: none

Add nvidia logo
  data/endorsements.yml
Due: none

Add nvidia logo (#1019)
  data/endorsements.yml
Due: none

Add nvidia logo
  data/endorsements.yml
  public/images/logos/nvidia.png
Due: none

Add nvidia logo (#1020)
  data/endorsements.yml
  public/images/logos/nvidia.png
Due: none

Add nvidia logo (#1021)
  data/endorsements.yml
  public/images/logos/nvidia.png
Due: none

CORE-4709: add logo section
  data/services/api.yml
  data/services/dataset.yml
  data/services/fastsync.yml
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  public/images/logos/anthropic.svg
  public/images/logos/audemic.svg
  public/images/logos/caktus.svg
  public/images/logos/cypris.svg
  public/images/logos/flowcite.svg
  public/images/logos/grammarly.svg
  public/images/logos/interac.svg
  public/images/logos/iris.png
  public/images/logos/lean.svg
  public/images/logos/nvidia.svg
  public/images/logos/ontochemIt.png
  public/images/logos/turnitin.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4709: add logo section (#1022)
  data/services/api.yml
  data/services/dataset.yml
  data/services/fastsync.yml
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  public/images/logos/anthropic.svg
  public/images/logos/audemic.svg
  public/images/logos/caktus.svg
  public/images/logos/cypris.svg
  public/images/logos/flowcite.svg
  public/images/logos/grammarly.svg
  public/images/logos/interac.svg
  public/images/logos/iris.png
  public/images/logos/lean.svg
  public/images/logos/nvidia.svg
  public/images/logos/ontochemIt.png
  public/images/logos/turnitin.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4709: add logo section (#1022) (#1023)
  data/services/api.yml
  data/services/dataset.yml
  data/services/fastsync.yml
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  public/images/logos/anthropic.svg
  public/images/logos/audemic.svg
  public/images/logos/caktus.svg
  public/images/logos/cypris.svg
  public/images/logos/flowcite.svg
  public/images/logos/grammarly.svg
  public/images/logos/interac.svg
  public/images/logos/iris.png
  public/images/logos/lean.svg
  public/images/logos/nvidia.svg
  public/images/logos/ontochemIt.png
  public/images/logos/turnitin.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4729: update outputs page
  components/toggle-panel/styles.module.scss
  data/research-outputs.yml
  pages/about/about.module.scss
  pages/about/research-outputs.jsx
  public/images/bsdtag.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4729: update outputs page (#1024)
  components/toggle-panel/styles.module.scss
  data/research-outputs.yml
  pages/about/about.module.scss
  pages/about/research-outputs.jsx
  public/images/bsdtag.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4729: update outputs page (#1024) (#1025)
  components/toggle-panel/styles.module.scss
  data/research-outputs.yml
  pages/about/about.module.scss
  pages/about/research-outputs.jsx
  public/images/bsdtag.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4730 new section
  components/testimonial/testimonial.jsx
  components/testimonial/testimonial.module.scss
  data/home.yml
  pages/index.jsx
  pages/index.module.scss
  public/images/logos/chica.svg
  public/images/logos/coar.svg
  public/images/logos/coarUser.png
  public/images/logos/imperial.svg
  public/images/logos/losAlamos.svg
  public/images/logos/researchInovation.svg
  public/images/logos/sparc.png
  public/images/logos/stAndrews.svg
  public/images/people/kathleen.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4730 new section (#1026)
  components/testimonial/testimonial.jsx
  components/testimonial/testimonial.module.scss
  data/home.yml
  pages/index.jsx
  pages/index.module.scss
  public/images/logos/chica.svg
  public/images/logos/coar.svg
  public/images/logos/coarUser.png
  public/images/logos/imperial.svg
  public/images/logos/losAlamos.svg
  public/images/logos/researchInovation.svg
  public/images/logos/sparc.png
  public/images/logos/stAndrews.svg
  public/images/people/kathleen.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4730 new section (#1026) (#1027)
  components/testimonial/testimonial.jsx
  components/testimonial/testimonial.module.scss
  data/home.yml
  pages/index.jsx
  pages/index.module.scss
  public/images/logos/chica.svg
  public/images/logos/coar.svg
  public/images/logos/coarUser.png
  public/images/logos/imperial.svg
  public/images/logos/losAlamos.svg
  public/images/logos/researchInovation.svg
  public/images/logos/sparc.png
  public/images/logos/stAndrews.svg
  public/images/people/kathleen.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4722: close drop down
  components/modal/registration/institution-select.jsx
Due: npm run lint:js -- --fix

CORE-4722: close drop down (#1028)
  components/modal/registration/institution-select.jsx
Due: npm run lint:js -- --fix

CORE-4722: close drop down (#1028) (#1029)
  components/modal/registration/institution-select.jsx
Due: npm run lint:js -- --fix

CORE-4518: steps
  data/benefits.yml
  design-v2/benefits/benefitsForm.jsx
  design-v2/benefits/benefitsSecondStep.jsx
  design-v2/benefits/index.jsx
  design-v2/benefits/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write
