Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

fixe max-width of join-us section
  package-lock.json
  package.json
  templates/community/research/research.module.scss
Due: npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Fix packages
  package-lock.json
  package.json
Due: npm run lint:json -- --write

Change design package version to latest
  package.json
Due: npm run lint:json -- --write

Change design package version to latest (#419)
  package.json
Due: npm run lint:json -- --write

Change design package version to latest (#419) (#420)
  package.json
Due: npm run lint:json -- --write

hide countMounth
  pages/benefits.jsx
Due: npm run lint:js -- --fix

hide countMounth (#421)
  pages/benefits.jsx
Due: npm run lint:js -- --fix

Update text on the page
  data/benefits.yml
Due: none

fix banner width for small screen
  pages/benefits.jsx
  pages/benefits.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Benefits update (#423)
  data/benefits.yml
  pages/benefits.jsx
  pages/benefits.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update benefits page according to Bethany's comment
  data/benefits.yml
Due: none

Update benefits.yml
  data/benefits.yml
Due: none

Update repository-dashboard.yml
  data/services/repository-dashboard.yml
Due: none

Update repository-dashboard.yml (#425)
  data/services/repository-dashboard.yml
Due: none

Create registration store and modals
  api/services.js
  components/modal/hooks/use-input.js
  components/modal/hooks/use-select.js
  components/modal/registration/conditions.jsx
  components/modal/registration/country-select.jsx
  components/modal/registration/exit.jsx
  components/modal/registration/form.jsx
  components/modal/registration/images/Alone.svg
  components/modal/registration/images/Emails.svg
  components/modal/registration/index.jsx
  components/modal/registration/profile-select.jsx
  components/modal/registration/styles.module.scss
  components/modal/registration/success.jsx
  components/pages/service.jsx
  components/pages/service.module.scss
  data/countries.yml
  design.config.js
  env.config.js
  next.config.js
  package-lock.json
  package.json
  pages/_app.jsx
  store/index.jsx
  store/registration.js
  store/root.js
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Fix scss warnings and update yml file
  api/index.js
  babel.config.js
  components/accordion/accordion.module.scss
  components/bootstrap/_navbar.scss
  components/bootstrap_design-v2/_navbar.scss
  components/content/content.scss
  components/cookies/cookies.module.scss
  components/design-v2/footer/footer.module.scss
  components/footer/footer.module.scss
  components/key-feature/key-feature.module.scss
  components/logo/index.jsx
  components/logos-carousel/logos-carousel.module.scss
  components/maps/image-map/image-map.module.scss
  components/maps/pins/pins.module.scss
  components/modal/registration/form.jsx
  components/modal/registration/styles.module.scss
  components/pages/service.jsx
  components/pages/service.module.scss
  components/repositories-map/repositories-map.module.scss
  components/service-groups/service-groups.module.scss
  components/switcher/index.jsx
  components/switcher/switcher.module.scss
  components/testimonial/testimonial.module.scss
  components/testimonials-carousel/testimonials-carousel.module.scss
  data/services/api.yml
  data/services/dataset.yml
  package-lock.json
  package.json
  pages/benefits.module.scss
  pages/services/services.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Add API_KEY for CI/CD
  .github/workflows/pull-request-check.yml
  components/outreach-materials/index.jsx
  pages/form.jsx
  pages/history.jsx
Due: npm run lint:js -- --fix

Add registration query and error component
  components/modal/registration/conditions.jsx
  components/modal/registration/error.jsx
  components/modal/registration/form.jsx
  components/modal/registration/images/Error.svg
  components/modal/registration/index.jsx
  components/modal/registration/styles.module.scss
  components/modal/registration/success.jsx
  components/pages/service.jsx
  store/registration.js
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Fix bug with regex match
  components/pages/service.jsx
Due: npm run lint:js -- --fix

Fix bug with modal window size
  components/modal/registration/conditions.jsx
  components/modal/registration/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Add description text to modals
  components/modal/registration/form.jsx
  components/modal/registration/helpers/findText.js
  components/modal/registration/styles.module.scss
  components/modal/registration/success.jsx
  components/switcher/index.jsx
  data/registration.yml
  store/registration.js
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Change input styles
  components/modal/registration/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Change input placeholder style rule
  components/modal/registration/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Fix input placeholder text
  components/modal/registration/form.jsx
  components/modal/registration/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Change font-size of input placeholder
  components/modal/registration/form.jsx
  components/modal/registration/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Text update
  data/benefits.yml
  pages/benefits.module.scss
Due: prettier --ignore-path .gitignore --check --write

add tags htnl
  data/benefits.yml
  package-lock.json
  package.json
  pages/benefits.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

text update
  templates/data-providers/utils/generate-form-message.jsx
Due: npm run lint:js -- --fix

Update benefits page according to Bethany's comment (#424)
  data/benefits.yml
  package-lock.json
  package.json
  pages/benefits.jsx
  pages/benefits.module.scss
  templates/data-providers/utils/generate-form-message.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Update benefits page according to Bethany's comment (#424) (#428)
  data/benefits.yml
  package-lock.json
  package.json
  pages/benefits.jsx
  pages/benefits.module.scss
  templates/data-providers/utils/generate-form-message.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Registration confirm
  .npmrc
  data/confirm_registration.yml
  pages/confirm_registration.module.scss
  pages/confirm_registration_api.jsx
  pages/confirm_registration_dataset.jsx
  public/images/confirm_registration/api.svg
  public/images/confirm_registration/dataset.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update benefits.jsx
  pages/benefits.jsx
Due: npm run lint:js -- --fix

new pages confirm
  data/confirm_registration.yml
  pages/confirm_registration.module.scss
  pages/confirm_registration_api.jsx
  pages/confirm_registration_dataset.jsx
  public/images/confirm_registration/api.svg
  public/images/confirm_registration/dataset.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

new pages confirm (#430)
  data/confirm_registration.yml
  pages/confirm_registration.module.scss
  pages/confirm_registration_api.jsx
  pages/confirm_registration_dataset.jsx
  public/images/confirm_registration/api.svg
  public/images/confirm_registration/dataset.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

new pages confirm (#430) (#431)
  data/confirm_registration.yml
  pages/confirm_registration.module.scss
  pages/confirm_registration_api.jsx
  pages/confirm_registration_dataset.jsx
  public/images/confirm_registration/api.svg
  public/images/confirm_registration/dataset.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Change modal text according to comments
  components/modal/registration/conditions.jsx
  components/modal/registration/country-select.jsx
  components/modal/registration/exit.jsx
  components/modal/registration/form.jsx
  components/modal/registration/profile-select.jsx
  components/pages/service.jsx
  data/registration.yml
  data/services/api.yml
  data/services/dataset.yml
  package-lock.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Remove “Abhilab Gupta” from the CORE ambassadors website
  data/ambassadors.yml
Due: none

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
