Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE-4226 update config names
  netlify-cms.config.yml
Due: none

CORE-4226 update config names (#553)
  netlify-cms.config.yml
Due: none

CORE-4226 update config names (#553) (#554)
  netlify-cms.config.yml
Due: none

CORE-4226 update config names (#555)
  netlify-cms.config.yml
Due: none

CORE-4226 update config names (#555) (#556)
  netlify-cms.config.yml
Due: none

CORE-4226 Set base page OAI docs
  pages/documentation/oai-resolver.jsx
  pages/oai_resolver/index.jsx
  public/images/logo/OAI-resolver.png
  templates/documentation/documentation.module.scss
  templates/documentation/index.jsx
  templates/index.js
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

config page upd
  pages/documentation/oai-resolver.jsx
Due: npm run lint:js -- --fix

config page upd
  pages/documentation/[slug].jsx
  pages/documentation/oai-resolver.jsx
Due: npm run lint:js -- --fix

brackets update
  pages/documentation/[slug].jsx
  pages/documentation/oai-resolver.jsx
  templates/documentation/documentation.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Add partners logos
  data/endorsements.yml
  public/images/logos/academia.svg
  public/images/logos/adri.png
  public/images/logos/all-answers.png
  public/images/logos/artificalresearcher.jpeg
  public/images/logos/aru.svg
  public/images/logos/cactus.png
  public/images/logos/dtu.png
  public/images/logos/ezassi.png
  public/images/logos/innovation-engineering.png
  public/images/logos/interac.png
  public/images/logos/stgeorg.png
  public/images/logos/sussex.svg
  public/images/logos/trent.png
  public/images/logos/upright-project.png
Due: none

Update/add logos (#558)
  data/endorsements.yml
  public/images/logos/academia.svg
  public/images/logos/adri.png
  public/images/logos/all-answers.png
  public/images/logos/artificalresearcher.jpeg
  public/images/logos/aru.svg
  public/images/logos/cactus.png
  public/images/logos/dtu.png
  public/images/logos/ezassi.png
  public/images/logos/innovation-engineering.png
  public/images/logos/interac.png
  public/images/logos/stgeorg.png
  public/images/logos/sussex.svg
  public/images/logos/trent.png
  public/images/logos/upright-project.png
Due: none

Update/add logos (#558) (#559)
  data/endorsements.yml
  public/images/logos/academia.svg
  public/images/logos/adri.png
  public/images/logos/all-answers.png
  public/images/logos/artificalresearcher.jpeg
  public/images/logos/aru.svg
  public/images/logos/cactus.png
  public/images/logos/dtu.png
  public/images/logos/ezassi.png
  public/images/logos/innovation-engineering.png
  public/images/logos/interac.png
  public/images/logos/stgeorg.png
  public/images/logos/sussex.svg
  public/images/logos/trent.png
  public/images/logos/upright-project.png
Due: none

CORE-4226 Set base page OAI docs (#557)
  pages/documentation/[slug].jsx
  pages/documentation/oai-resolver.jsx
  pages/oai_resolver/index.jsx
  public/images/logo/OAI-resolver.png
  templates/documentation/documentation.module.scss
  templates/documentation/index.jsx
  templates/index.js
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4226 Set base page OAI docs (#557) (#560)
  pages/documentation/[slug].jsx
  pages/documentation/oai-resolver.jsx
  pages/oai_resolver/index.jsx
  public/images/logo/OAI-resolver.png
  templates/documentation/documentation.module.scss
  templates/documentation/index.jsx
  templates/index.js
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update content, fix unexpected conflicts (#561)
  design-v2/components/sections/_variables.scss
  design-v2/components/sections/testimonial.module.scss
  pages/index.jsx
  public/images/services/search-engine.png
  public/images/services/server-status.png
  public/images/services/time-management.png
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update preset-env version
  package-lock.json
  package.json
  pages/services/services.module.scss
Due: npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Update post-css-preset-env version (#562)
  package-lock.json
  package.json
  pages/services/services.module.scss
Due: npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Update post-css-preset-env version (#562) (#563)
  package-lock.json
  package.json
  pages/services/services.module.scss
Due: npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Update texts on data page
  data/data.yml
Due: none

Update/data page text (#565)
  data/data.yml
Due: none

Update/data page text (#565) (#566)
  data/data.yml
Due: none

fix layout
  pages/oai_resolver/index.jsx
Due: npm run lint:js -- --fix

fix layout (#567)
  pages/oai_resolver/index.jsx
Due: npm run lint:js -- --fix

fix layout (#567) (#568)
  pages/oai_resolver/index.jsx
Due: npm run lint:js -- --fix

Update index.jsx
  pages/oai_resolver/index.jsx
Due: npm run lint:js -- --fix

Update index.jsx (#569)
  pages/oai_resolver/index.jsx
Due: npm run lint:js -- --fix

add docs resover pdf
  public/resources/oai-identifiers-and-resolver-2022.pdf
Due: none

add docs resover pdf (#570)
  public/resources/oai-identifiers-and-resolver-2022.pdf
Due: none

Add OAI pdf doc (#571)
  public/resources/oai-identifiers-and-resolver-2022.pdf
Due: none

Update documentation.module.scss
  templates/documentation/documentation.module.scss
Due: prettier --ignore-path .gitignore --check --write

Update documentation.module.scss (#572)
  templates/documentation/documentation.module.scss
Due: prettier --ignore-path .gitignore --check --write

update anchor link
  pages/about/index.jsx
Due: npm run lint:js -- --fix

Fix/anchor link (#573)
  pages/about/index.jsx
Due: npm run lint:js -- --fix

Fix/anchor link (#573) (#574)
  pages/about/index.jsx
Due: npm run lint:js -- --fix

Add quotes
  data/endorsements.yml
  public/images/people/felix-berthelmann.jpeg
  public/images/people/steven-hafif.jpeg
Due: none

Update/quotes (#576)
  data/endorsements.yml
  public/images/people/felix-berthelmann.jpeg
  public/images/people/steven-hafif.jpeg
Due: none

Update/quotes (#576) (#577)
  data/endorsements.yml
  public/images/people/felix-berthelmann.jpeg
  public/images/people/steven-hafif.jpeg
Due: none

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
