Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

update terms page
  pages/terms/index.jsx
Due: npm run lint:js -- --fix

Core 4460 update membership page (#786)
  data/membership.yml
  package-lock.json
  package.json
  public/images/membership/belfast.png
  public/images/membership/bristol.svg
  public/images/membership/carouselArrowLeft.svg
  public/images/membership/carouselArrowRight.svg
  public/images/membership/city.svg
  public/images/membership/flyer.svg
  public/images/membership/george.svg
  public/images/membership/kent.png
  public/images/membership/lancaster.svg
  public/images/membership/listIcon.svg
  public/images/membership/presentation.svg
  public/images/membership/sussex.svg
  public/images/membership/video.svg
  templates/membership/details-table.jsx
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Membership documentation (#789)
  components/modal/registration/conditions.jsx
  data/membership.yml
  data/terms.yml
  package-lock.json
  package.json
  pages/terms2/index.jsx
  public/images/membership/belfast.png
  public/images/membership/bristol.svg
  public/images/membership/carouselArrowLeft.svg
  public/images/membership/carouselArrowRight.svg
  public/images/membership/city.svg
  public/images/membership/flyer.svg
  public/images/membership/george.svg
  public/images/membership/kent.png
  public/images/membership/lancaster.svg
  public/images/membership/listIcon.svg
  public/images/membership/presentation.svg
  public/images/membership/sussex.svg
  public/images/membership/video.svg
  templates/membership/details-table.jsx
  templates/membership/index.jsx
  templates/membership/styles.module.scss
  templates/term/index.jsx
  templates/term/styles.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

[bugfix] Config babel/runtime
  babel.config.js
Due: npm run lint:js -- --fix

[CORE-4458] Fix conflict
  pages/terms2/index.jsx
Due: npm run lint:js -- --fix

[CORE-4458] Fix DOM conflict
  core.routes.yml
  data/terms.yml
  templates/sponsorships/index.jsx
  templates/term/index.jsx
Due: npm run lint:js -- --fix

update carousel
  data/membership.yml
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

HOTIFIX: search endpoint wasn't creating the right query
  templates/data-providers/utils/generate-form-message.jsx
Due: npm run lint:js -- --fix

[feature] Specific version design
  package-lock.json
  package.json
Due: npm run lint:json -- --write

Fix. Remove debug code
  pages/terms2/index.jsx
Due: npm run lint:js -- --fix

Fix. Remove debug code (#794)
  pages/terms2/index.jsx
Due: npm run lint:js -- --fix

[feature] Design v4.9.0. Membership component
  package-lock.json
Due: npm run lint:json -- --write

Fix/master content (#798)
  templates/data-providers/utils/generate-form-message.jsx
Due: npm run lint:js -- --fix

[feature] Design v4.9.0. Membership component (#796)
  package-lock.json
Due: npm run lint:json -- --write

[feature] Design v4.9.0. Membership component (#796) (#800)
  package-lock.json
Due: npm run lint:json -- --write

[feature] Netlify config
  netlify-cms.config.yml
Due: none

[feature] pack lock upd
  package-lock.json
Due: npm run lint:json -- --write

Netlify config
  package-lock.json
Due: npm run lint:json -- --write

Feature/netlify config (#801)
  netlify-cms.config.yml
Due: none

Feature/netlify config (#801) (#802)
  netlify-cms.config.yml
Due: none

Netlify config #2
  netlify-cms.config.yml
Due: none

Netlify config #2
  package-lock.json
Due: npm run lint:json -- --write

Feature/netlify config (#803)
  netlify-cms.config.yml
  package-lock.json
Due: npm run lint:json -- --write

Feature/netlify config (#803) (#804)
  netlify-cms.config.yml
  package-lock.json
Due: npm run lint:json -- --write

Netlify config #3
  netlify-cms.config.yml
Due: none

Netlify config #4
  netlify-cms.config.yml
Due: none

Netlify config files fix (#806)
  netlify-cms.config.yml
Due: none

Netlify config #5
  netlify-cms.config.yml
Due: none

Netlify membership files (#807)
  netlify-cms.config.yml
Due: none

Netlify config #6
  netlify-cms.config.yml
Due: none

Membership docs (#809)
  netlify-cms.config.yml
Due: none

netlify-cms.config.yml upd
  netlify-cms.config.yml
Due: none

netlify-cms.config.yml upd (#810)
  netlify-cms.config.yml
Due: none

netlify-cms.config.yml upd #2
  netlify-cms.config.yml
Due: none
