Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE-4847: join form open
  data/benefits.yml
  design-v2/benefits/index.jsx
Due: npm run lint:js -- --fix

Core 4846 links ref (#1105)
  data/benefits.yml
  design-v2/benefits/index.jsx
  design-v2/components/list-box/index.jsx
Due: npm run lint:js -- --fix

Core 4846 links ref (#1105) (#1106)
  data/benefits.yml
  design-v2/benefits/index.jsx
  design-v2/components/list-box/index.jsx
Due: npm run lint:js -- --fix

CORE: exclud ids
  templates/governance/supporters/index.jsx
Due: npm run lint:js -- --fix

CORE: exclude members by id
  templates/governance/supporters/index.jsx
Due: npm run lint:js -- --fix

CORE: exclude members by id (#1108)
  templates/governance/supporters/index.jsx
Due: npm run lint:js -- --fix

CORE: exclude members by id (#1108) (#1109)
  templates/governance/supporters/index.jsx
Due: npm run lint:js -- --fix

CORE: member count update
  templates/governance/supporters/index.jsx
  templates/membership/index.jsx
Due: npm run lint:js -- --fix

CORE: member count update (#1110)
  templates/governance/supporters/index.jsx
  templates/membership/index.jsx
Due: npm run lint:js -- --fix

CORE: member count update (#1110) (#1111)
  templates/governance/supporters/index.jsx
  templates/membership/index.jsx
Due: npm run lint:js -- --fix

CORE-4816: pdf upload view
  components/pdf-upload/defaultUpload.jsx
  components/pdf-upload/formatUpload.jsx
  components/pdf-upload/index.jsx
  components/pdf-upload/sizeUploadIssue.jsx
  components/pdf-upload/styles.module.scss
  components/pdf-upload/uploadFail.jsx
  components/pdf-upload/uploadSuccess.jsx
  data/benefits.yml
  data/retention.yml
  design-v2/benefits/index.jsx
  design-v2/benefits/styles.module.scss
  public/images/data-provider.svg
  templates/rights-retention/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4867: dataset page
  data/faq.yml
  data/services/dataset.yml
Due: none

CORE-4867: faq update
  data/faq.yml
  data/services/dataset.yml
Due: none

CORE-4867: faq update (#1113)
  data/faq.yml
  data/services/dataset.yml
Due: none

CORE-4867: faq update (#1113) (#1114)
  data/faq.yml
  data/services/dataset.yml
Due: none

CORE-4866: faq in api
  data/services/api.yml
Due: none

CORE-4866: faq in api (#1116)
  data/services/api.yml
Due: none

CORE-4866: faq in api (#1116) (#1117)
  data/services/api.yml
Due: none

CORE-4816: add drag n drop
  components/pdf-upload/defaultUpload.jsx
  components/pdf-upload/formatUpload.jsx
  components/pdf-upload/index.jsx
  components/pdf-upload/sizeUploadIssue.jsx
  components/pdf-upload/styles.module.scss
  components/pdf-upload/uploadFail.jsx
  components/pdf-upload/uploadSuccess.jsx
  data/retention.yml
  public/images/fail.svg
  public/images/success.svg
  templates/rights-retention/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4858: add video view
  components/hero/index.jsx
  data/membership.yml
  data/services/repository-dashboard.yml
  design-v2/components/index.js
  design-v2/components/membership-table/index.jsx
  design-v2/components/pages/index.js
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  design-v2/components/video/index.jsx
  public/images/membership/videoPreview.svg
  public/images/pdfView.svg
  public/images/tutorial.svg
  templates/documentation/membership-documentation/index.jsx
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4875: redirect and open modal
  data/payment.yml
Due: none

CORE-4875: redirect and open modal (#1119)
  data/payment.yml
Due: none

CORE-4875: redirect and open modal (#1119) (#1120)
  data/payment.yml
Due: none

CORE: update design version
  package-lock.json
  package.json
Due: npm run lint:json -- --write

CORE: update design version (#1121)
  package-lock.json
  package.json
Due: npm run lint:json -- --write

CORE: update design version (#1121) (#1122)
  package-lock.json
  package.json
Due: npm run lint:json -- --write

CORE: version hide
  package-lock.json
Due: npm run lint:json -- --write

CORE: version hide (#1123)
  package-lock.json
Due: npm run lint:json -- --write

CORE: version hide (#1123) (#1124)
  package-lock.json
Due: npm run lint:json -- --write

CORE-4858: add real urls
  data/faq.yml
  data/membership.yml
  data/services/repository-dashboard.yml
  design-v2/components/pages/styles.module.scss
  public/images/tutorialActive.svg
  templates/documentation/index.jsx
  templates/documentation/membership-documentation/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4858: update version
  package-lock.json
Due: npm run lint:json -- --write

CORE-4858: add curson on tutorial
  design-v2/components/pages/styles.module.scss
  env.config.js
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4858: env file
  env.config.js
Due: npm run lint:js -- --fix

build issue
  design-v2/components/pages/service.jsx
  pages/about/endorsements.jsx
  pages/about/research-outputs.jsx
Due: npm run lint:js -- --fix

Core 4858 core video walkthrought (#1125)
  components/hero/index.jsx
  data/faq.yml
  data/membership.yml
  data/services/repository-dashboard.yml
  design-v2/components/index.js
  design-v2/components/membership-table/index.jsx
  design-v2/components/pages/index.js
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  design-v2/components/video/index.jsx
  package-lock.json
  pages/about/endorsements.jsx
  pages/about/research-outputs.jsx
  public/images/membership/videoPreview.svg
  public/images/pdfView.svg
  public/images/tutorial.svg
  public/images/tutorialActive.svg
  templates/documentation/index.jsx
  templates/documentation/membership-documentation/index.jsx
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Core 4858 core video walkthrought (#1125) (#1126)
  components/hero/index.jsx
  data/faq.yml
  data/membership.yml
  data/services/repository-dashboard.yml
  design-v2/components/index.js
  design-v2/components/membership-table/index.jsx
  design-v2/components/pages/index.js
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  design-v2/components/video/index.jsx
  package-lock.json
  pages/about/endorsements.jsx
  pages/about/research-outputs.jsx
  public/images/membership/videoPreview.svg
  public/images/pdfView.svg
  public/images/tutorial.svg
  public/images/tutorialActive.svg
  templates/documentation/index.jsx
  templates/documentation/membership-documentation/index.jsx
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

update CORE name
  data/membership.yml
Due: none

update CORE name (#1127)
  data/membership.yml
Due: none

update CORE name (#1127) (#1128)
  data/membership.yml
Due: none

CORE-4793 Fix issue page
  components/modal/hooks/use-input.js
  components/modal/registration/form.jsx
  components/modal/registration/index.jsx
  pages/index.jsx
Due: npm run lint:js -- --fix

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
