Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Update netlify-cms.config.yml
  netlify-cms.config.yml
Due: none

Update netlify-cms.config.yml (#831)
  netlify-cms.config.yml
Due: none

Update netlify-cms.config.yml (#832)
  netlify-cms.config.yml
Due: none

updates
  data/membership.yml
  package-lock.json
  pages/membership-documentation/index.jsx
  public/images/membership/activeArrow.svg
  public/images/membership/oxford.svg
  public/images/membership/video.svg
  public/images/screenshots/video.png
  public/resources/core-member-benefits-presentation.pdf
  templates/membership-documentation/index.jsx
  templates/membership-documentation/styles.module.scss
  templates/membership/details-table.jsx
  templates/membership/index.jsx
  templates/membership/membershipDocumentationNav/index.jsx
  templates/membership/membershipDocumentationNav/styles.module.scss
  templates/membership/styles.module.scss
  templates/membership/temporaryReuse/styles.module.scss
  templates/membership/temporaryReuse/temporary.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

component
  templates/membership-documentation/index.jsx
Due: npm run lint:js -- --fix

update active state
  data/membership.yml
  package-lock.json
  pages/membership-documentation/index.jsx
  templates/membership-documentation/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

update link issue
  data/membership.yml
  design-v2/components/membership-table/index.jsx
  package-lock.json
  templates/membership/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

scroll issue to carousel
  templates/membership/index.jsx
Due: npm run lint:js -- --fix

Add SCP police
  csp.config.js
  next.config.js
Due: npm run lint:js -- --fix

update header text
  data/membership.yml
Due: none

update scroll issue from cards
  templates/membership-documentation/index.jsx
Due: npm run lint:js -- --fix

Add SCP police
  next.config.js
Due: npm run lint:js -- --fix

Remove SCP police
  csp.config.js
  next.config.js
Due: npm run lint:js -- --fix

remove unused files
  templates/membership/membershipDocumentationNav/index.jsx
  templates/membership/membershipDocumentationNav/styles.module.scss
  templates/membership/temporaryReuse/styles.module.scss
  templates/membership/temporaryReuse/temporary.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

remove unused import
  templates/membership-documentation/index.jsx
Due: npm run lint:js -- --fix

Core 4461 membership documentation on about (#833)
  data/membership.yml
  design-v2/components/membership-table/index.jsx
  package-lock.json
  pages/membership-documentation/index.jsx
  public/images/membership/activeArrow.svg
  public/images/membership/oxford.svg
  public/images/membership/video.svg
  public/images/screenshots/video.png
  public/resources/core-member-benefits-presentation.pdf
  templates/membership-documentation/index.jsx
  templates/membership-documentation/styles.module.scss
  templates/membership/details-table.jsx
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Core 4461 membership documentation on about (#833) (#834)
  data/membership.yml
  design-v2/components/membership-table/index.jsx
  package-lock.json
  pages/membership-documentation/index.jsx
  public/images/membership/activeArrow.svg
  public/images/membership/oxford.svg
  public/images/membership/video.svg
  public/images/screenshots/video.png
  public/resources/core-member-benefits-presentation.pdf
  templates/membership-documentation/index.jsx
  templates/membership-documentation/styles.module.scss
  templates/membership/details-table.jsx
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Fix CORS
  pages/membership-documentation/index.jsx
Due: npm run lint:js -- --fix

Fix CORS (#835)
  pages/membership-documentation/index.jsx
Due: npm run lint:js -- --fix

Fix CORS (#835) (#836)
  pages/membership-documentation/index.jsx
Due: npm run lint:js -- --fix

update: CORE-4481 update board of supporters page
  data/community/supporters.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  public/images/supporters/directions.svg
  public/images/supporters/feedback.svg
  public/images/supporters/imagePlaceholder.svg
  public/images/supporters/meetings.svg
  public/images/supporters/supporters.svg
  public/images/supporters/voting.svg
  templates/community/supporters/index.jsx
  templates/community/supporters/supporters.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update data in board of supporters
  data/community/supporters.yml
  templates/community/supporters/index.jsx
  templates/community/supporters/supporters.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update: CORE-4481 update board of supporters page (#837)
  data/community/supporters.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  public/images/supporters/directions.svg
  public/images/supporters/feedback.svg
  public/images/supporters/imagePlaceholder.svg
  public/images/supporters/meetings.svg
  public/images/supporters/supporters.svg
  public/images/supporters/voting.svg
  templates/community/supporters/index.jsx
  templates/community/supporters/supporters.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update: CORE-4481 update board of supporters page (#837) (#838)
  data/community/supporters.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  public/images/supporters/directions.svg
  public/images/supporters/feedback.svg
  public/images/supporters/imagePlaceholder.svg
  public/images/supporters/meetings.svg
  public/images/supporters/supporters.svg
  public/images/supporters/voting.svg
  templates/community/supporters/index.jsx
  templates/community/supporters/supporters.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update linking
  data/membership.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  templates/community/supporters/index.jsx
  templates/community/supporters/supporters.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update linking (#839)
  data/membership.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  templates/community/supporters/index.jsx
  templates/community/supporters/supporters.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update linking (#839) (#840)
  data/membership.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  templates/community/supporters/index.jsx
  templates/community/supporters/supporters.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update: WERP-4484 page updates
  data/services/api.yml
  data/services/dataset.yml
  data/services/fastsync.yml
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update: WERP-4484 page updates (#841)
  data/services/api.yml
  data/services/dataset.yml
  data/services/fastsync.yml
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update: WERP-4484 page updates (#841) (#842)
  data/services/api.yml
  data/services/dataset.yml
  data/services/fastsync.yml
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update: CORE-4485 home page
  data/home.yml
  design-v2/components/sections/key-feature.jsx
  pages/index.jsx
  pages/index.module.scss
  public/images/heros/services.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update: CORE-4485 home page (#843)
  data/home.yml
  design-v2/components/sections/key-feature.jsx
  pages/index.jsx
  pages/index.module.scss
  public/images/heros/services.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update: CORE-4485 home page (#843) (#844)
  data/home.yml
  design-v2/components/sections/key-feature.jsx
  pages/index.jsx
  pages/index.module.scss
  public/images/heros/services.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update: CORE-4485 home page svg
  data/home.yml
  public/images/heros/homeServices.svg
  public/images/heros/services.svg
Due: none

update: CORE-4485 home page svg (#845)
  data/home.yml
  public/images/heros/homeServices.svg
  public/images/heros/services.svg
Due: none

update: CORE-4485 home page svg (#845) (#846)
  data/home.yml
  public/images/heros/homeServices.svg
  public/images/heros/services.svg
Due: none

update: CORE-4485 home page status issue
  data/home.yml
  design-v2/components/sections/key-feature.jsx
  pages/index.jsx
Due: npm run lint:js -- --fix

update: CORE-4485 home page status issue (#847)
  data/home.yml
  design-v2/components/sections/key-feature.jsx
  pages/index.jsx
Due: npm run lint:js -- --fix

update: CORE-4485 home page status issue (#847) (#848)
  data/home.yml
  design-v2/components/sections/key-feature.jsx
  pages/index.jsx
Due: npm run lint:js -- --fix

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
