Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

Fix link
  data/core.yml
Due: none

Add Bikash Gyawali to past members
  data/team.yml
Due: none

Remove data providers search
  components/index.js
  components/pagination/index.jsx
  components/repositories-browser/index.jsx
  components/repositories-browser/repositories-browser.module.scss
  components/repositories-map/index.jsx
  components/repositories-search/index.jsx
  package-lock.json
  package.json
  pages/data/providers.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Remove data/providers page
  core.routes.yml
  data/data-providers.yml
  data/documentation/fastsync.md
  data/faq.yml
  data/services/dataset.yml
  pages/about/index.jsx
  pages/data/providers.jsx
Due: npm run lint:js -- --fix

Remove data providers search (#268)
  components/index.js
  components/pagination/index.jsx
  components/repositories-browser/index.jsx
  components/repositories-browser/repositories-browser.module.scss
  components/repositories-map/index.jsx
  components/repositories-search/index.jsx
  core.routes.yml
  data/data-providers.yml
  data/documentation/fastsync.md
  data/faq.yml
  data/services/dataset.yml
  package-lock.json
  package.json
  pages/about/index.jsx
  pages/data/providers.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Add question to General-Who owns the rights
  data/faq.yml
Due: none

Add FAQ about rights ownership (#282)
  data/faq.yml
Due: none

Add event tracking to the header navigation
  components/header/index.jsx
  package-lock.json
  package.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Add event tracking to the header navigation (#283)
  components/header/index.jsx
  package-lock.json
  package.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Improve cookie management, fix Google Analytics
  components/cookies/form.jsx
  components/header/index.jsx
  data/cookies.yml
  hooks/README.md
  hooks/analytics.js
  hooks/cookies.js
  hooks/index.js
  package-lock.json
  package.json
  pages/_app.jsx
  pages/cookies.jsx
  services/cookies.js
  services/index.js
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Improve cookie management, fix Google Analytics (#284)
  components/cookies/form.jsx
  components/header/index.jsx
  data/cookies.yml
  hooks/README.md
  hooks/analytics.js
  hooks/cookies.js
  hooks/index.js
  package-lock.json
  package.json
  pages/_app.jsx
  pages/cookies.jsx
  services/cookies.js
  services/index.js
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Add an FAQ about 404 for PDFs
  data/faq.yml
Due: none

Remove onMouseMove event logging in the Header
  components/header/index.jsx
Due: npm run lint:js -- --fix

Change maps to OpenStreetMap
  components/repositories-map/index.jsx
Due: npm run lint:js -- --fix

Change maps to OpenStreetMap (#286)
  components/repositories-map/index.jsx
Due: npm run lint:js -- --fix

Use correct location field
  components/repositories-map/index.jsx
Due: npm run lint:js -- --fix

Use correct location field (#288)
  components/repositories-map/index.jsx
Due: npm run lint:js -- --fix

Remove link to Data providers from header
  data/core.yml
Due: none

Remove link to Data providers from header (#287)
  data/core.yml
Due: none

Improve register-data-provider route
  core.routes.yml
Due: none

Add Mahammad Gulam Ghouse Pasha to ambassadors
  data/ambassadors.yml
  public/images/people/mahammad-gulam-ghouse-pasha.png
Due: none

Add Mahammad Gulam Ghouse Pasha to ambassadors (#290)
  data/ambassadors.yml
  public/images/people/mahammad-gulam-ghouse-pasha.png
Due: none

Add bethany_walker.jpg
  public/images/team/bethany_walker.jpg
Due: none

Add Bethany to team, update David's role
  data/team.yml
  public/images/team/bethany-walker.jpg
Due: none

Add Bethany to team, update David's role (#292)
  data/team.yml
  public/images/team/bethany-walker.jpg
Due: none

Delete Svetlana's photo
  public/images/team/svetlana-rumyanceva.jpg
Due: none

Delete Svetlana's photo (#293)
  public/images/team/svetlana-rumyanceva.jpg
Due: none

Improve register-data-provider route (#289)
  core.routes.yml
Due: none

Upgrade next to 10.0.1
  package-lock.json
  package.json
Due: npm run lint:json -- --write

Bump Packages (#316)
  next.config.js
  package-lock.json
  package.json
  pages/about/about.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Migrate to lockfile v2
  package-lock.json
Due: npm run lint:json -- --write

Bump setup-node action
  .github/workflows/pull-request-check.yml
Due: none

Remove event logger
  components/header/index.jsx
Due: npm run lint:js -- --fix

Move all logic from app to main
  .eslintrc.yml
  hooks/analytics.js
  hooks/cookies.js
  hooks/index.js
  main/index.jsx
  next.config.js
  pages/_app.jsx
  pages/cookies.jsx
Due: npm run lint:js -- --fix

Replace universal-cookie with react-cookie
  components/cookies/form.jsx
  components/cookies/popup.jsx
  hooks/analytics.js
  hooks/cookies.js
  hooks/index.js
  main/index.jsx
  package-lock.json
  package.json
  pages/_app.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Encapsulate all react-cookie logic to one module
  components/cookies/cookies-provider.js
  components/cookies/hooks.js
  hooks/analytics.js
  hooks/index.js
  main/index.jsx
  pages/_app.jsx
  pages/cookies.jsx
Due: npm run lint:js -- --fix

Fix popup and hooks number changes during render
  components/cookies/form.jsx
  components/cookies/hooks.js
  main/index.jsx
  pages/cookies.jsx
Due: npm run lint:js -- --fix

Render popup always
  main/index.jsx
Due: npm run lint:js -- --fix
