Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

[bugfix] add google form
  data/membership.yml
  pages/membership/[slug].jsx
  templates/membership/prices.jsx
Due: npm run lint:js -- --fix

[bugfix] add google form (#767)
  data/membership.yml
  pages/membership/[slug].jsx
  templates/membership/prices.jsx
Due: npm run lint:js -- --fix

[bugfix] add google form (#767) (#768)
  data/membership.yml
  pages/membership/[slug].jsx
  templates/membership/prices.jsx
Due: npm run lint:js -- --fix

[feature] Text update for discount
  data/membership.yml
Due: none

[feature] Text update for discount (#769)
  data/membership.yml
Due: none

[feature] Text update for discount (#769) (#770)
  data/membership.yml
Due: none

feat: CORE-4429 open pdf in new tab
  babel.config.js
  components/markdown.jsx
  components/outreach-materials/index.jsx
  data/faq.yml
  data/membership.yml
  data/services/api.yml
  data/services/dataset.yml
  data/services/fastsync.yml
  data/services/recommender.yml
  data/sponsorship.yml
  design-v2/components/hero/index.jsx
  templates/documentation/dataset/index.jsx
  templates/membership/index.jsx
  templates/sponsorships/index.jsx
Due: npm run lint:js -- --fix

CORE-4429 babel config
  package-lock.json
  package.json
Due: npm run lint:json -- --write

update dependencies
  package-lock.json
  package.json
Due: npm run lint:json -- --write

[CORE-4431] docs-membership
  netlify-cms.config.yml
Due: none

[CORE-4431] docs-membership (#773)
  netlify-cms.config.yml
Due: none

CORE-4431 (#775)
  babel.config.js
  components/markdown.jsx
  components/outreach-materials/index.jsx
  data/faq.yml
  data/membership.yml
  data/services/api.yml
  data/services/dataset.yml
  data/services/fastsync.yml
  data/services/recommender.yml
  data/sponsorship.yml
  design-v2/components/hero/index.jsx
  netlify-cms.config.yml
  package-lock.json
  package.json
  templates/documentation/dataset/index.jsx
  templates/membership/index.jsx
  templates/sponsorships/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Revert "CORE-4431 (#775)"
  babel.config.js
  components/markdown.jsx
  components/outreach-materials/index.jsx
  data/faq.yml
  data/membership.yml
  data/services/api.yml
  data/services/dataset.yml
  data/services/fastsync.yml
  data/services/recommender.yml
  data/sponsorship.yml
  design-v2/components/hero/index.jsx
  netlify-cms.config.yml
  package-lock.json
  package.json
  templates/documentation/dataset/index.jsx
  templates/membership/index.jsx
  templates/sponsorships/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Revert "CORE-4431 (#775)" (#776)
  babel.config.js
  components/markdown.jsx
  components/outreach-materials/index.jsx
  data/faq.yml
  data/membership.yml
  data/services/api.yml
  data/services/dataset.yml
  data/services/fastsync.yml
  data/services/recommender.yml
  data/sponsorship.yml
  design-v2/components/hero/index.jsx
  netlify-cms.config.yml
  package-lock.json
  package.json
  templates/documentation/dataset/index.jsx
  templates/membership/index.jsx
  templates/sponsorships/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

update dataset text
  data/services/dataset.yml
Due: none

fix dataset text (#777)
  data/services/dataset.yml
Due: none

CORE-4429 open pdf in new tab
  components/markdown.jsx
  components/outreach-materials/index.jsx
  data/faq.yml
  data/membership.yml
  data/services/api.yml
  data/services/dataset.yml
  data/services/fastsync.yml
  data/services/recommender.yml
  data/sponsorship.yml
  design-v2/components/hero/index.jsx
  package-lock.json
  templates/documentation/dataset/index.jsx
  templates/membership/index.jsx
  templates/sponsorships/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Core 4429 pdf redo (#778)
  components/markdown.jsx
  components/outreach-materials/index.jsx
  data/faq.yml
  data/membership.yml
  data/services/api.yml
  data/services/dataset.yml
  data/services/fastsync.yml
  data/services/recommender.yml
  data/sponsorship.yml
  design-v2/components/hero/index.jsx
  package-lock.json
  templates/documentation/dataset/index.jsx
  templates/membership/index.jsx
  templates/sponsorships/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Core 4429 pdf redo (#778) (#780)
  components/markdown.jsx
  components/outreach-materials/index.jsx
  data/faq.yml
  data/membership.yml
  data/services/api.yml
  data/services/dataset.yml
  data/services/fastsync.yml
  data/services/recommender.yml
  data/sponsorship.yml
  design-v2/components/hero/index.jsx
  package-lock.json
  templates/documentation/dataset/index.jsx
  templates/membership/index.jsx
  templates/sponsorships/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write

[bugfix] Update lock
  package-lock.json
Due: npm run lint:json -- --write

[bugfix] Add babel/runtime
  package.json
Due: npm run lint:json -- --write

[bugfix] Config babel/runtime
  babel.config.js
  components/hero/index.jsx
  components/utils.js
Due: npm run lint:js -- --fix

[bugfix] Config babel/runtime
  babel.config.js
  package.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write

[bugfix] Config babel/runtime
  babel.config.js
  components/hero/index.jsx
  package.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Bugfix/mr to master (#781)
  babel.config.js
  components/hero/index.jsx
  components/utils.js
  netlify-cms.config.yml
  package-lock.json
  package.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Bugfix/mr to master (#781) (#782)
  babel.config.js
  components/hero/index.jsx
  components/utils.js
  netlify-cms.config.yml
  package-lock.json
  package.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write

CORE-4458: update terms page
  components/modal/registration/conditions.jsx
  data/terms.yml
  pages/terms/index.jsx
  templates/term/index.jsx
  templates/term/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

temporary page
  pages/terms2/index.jsx
Due: npm run lint:js -- --fix

CORE-4458 update terms page (#784)
  components/modal/registration/conditions.jsx
  data/terms.yml
  pages/terms2/index.jsx
  templates/term/index.jsx
  templates/term/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4460 update membership page
  data/membership.yml
  package-lock.json
  package.json
  public/images/membership/belfast.png
  public/images/membership/bristol.svg
  public/images/membership/carouselArrowLeft.svg
  public/images/membership/carouselArrowRight.svg
  public/images/membership/city.svg
  public/images/membership/flyer.svg
  public/images/membership/george.svg
  public/images/membership/kent.png
  public/images/membership/lancaster.svg
  public/images/membership/listIcon.svg
  public/images/membership/presentation.svg
  public/images/membership/sussex.svg
  public/images/membership/video.svg
  templates/membership/details-table.jsx
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

data.box undefined issue
  templates/membership/details-table.jsx
  templates/membership/index.jsx
Due: npm run lint:js -- --fix

data.box undefined issue
  templates/membership/details-table.jsx
Due: npm run lint:js -- --fix

update box
  data/membership.yml
  templates/membership/details-table.jsx
  templates/membership/index.jsx
Due: npm run lint:js -- --fix
