Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

fix file format (#1225) (#1226)
  netlify-cms.config.yml
Due: none

CORE-4997: add rerad more
  components/team-member/index.jsx
  design-v2/components/testimonial/index.jsx
  design-v2/components/testimonial/testimonial-card.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4997: add rerad more (#1227)
  components/team-member/index.jsx
  design-v2/components/testimonial/index.jsx
  design-v2/components/testimonial/testimonial-card.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4997: add rerad more (#1227) (#1228)
  components/team-member/index.jsx
  design-v2/components/testimonial/index.jsx
  design-v2/components/testimonial/testimonial-card.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: fix netlify issue
  netlify-cms.config.yml
Due: none

CORE: fix netlify issue (#1229)
  netlify-cms.config.yml
Due: none

CORE: fix netlify issue (#1229) (#1230)
  netlify-cms.config.yml
Due: none

CORE-5001: add loader to form
  design-v2/benefits/benefitsForm.jsx
Due: npm run lint:js -- --fix

CORE-5001: fix loading bar
  design-v2/benefits/benefitsForm.jsx
  design-v2/benefits/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-5014: add research nav link
  pages/about/index.jsx
Due: npm run lint:js -- --fix

Core 5001 about repo improvements (#1231)
  design-v2/benefits/benefitsForm.jsx
  design-v2/benefits/styles.module.scss
  pages/about/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Core 5001 about repo improvements (#1231) (#1232)
  design-v2/benefits/benefitsForm.jsx
  design-v2/benefits/styles.module.scss
  pages/about/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-5020: chNGE ORDER
  templates/documentation/dataset/index.jsx
Due: npm run lint:js -- --fix

CORE-5020: chNGE ORDER (#1233)
  templates/documentation/dataset/index.jsx
Due: npm run lint:js -- --fix

CORE-5020: chNGE ORDER (#1233) (#1234)
  templates/documentation/dataset/index.jsx
Due: npm run lint:js -- --fix

CORE-5002: add new member table
  components/membership-table/membershipTable.jsx
  components/membership-table/styles.module.scss
  pages/membership/index.jsx
  templates/governance/supporters/index.jsx
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-5002: add link
  templates/membership/index.jsx
Due: npm run lint:js -- --fix

Core 5002 add new member table (#1235)
  components/membership-table/membershipTable.jsx
  components/membership-table/styles.module.scss
  pages/membership/index.jsx
  templates/governance/supporters/index.jsx
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Core 5002 add new member table (#1235) (#1236)
  components/membership-table/membershipTable.jsx
  components/membership-table/styles.module.scss
  pages/membership/index.jsx
  templates/governance/supporters/index.jsx
  templates/membership/index.jsx
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-5003: update design version
  package-lock.json
Due: npm run lint:json -- --write

CORE-5003: update design version (#1237)
  package-lock.json
Due: npm run lint:json -- --write

CORE-5003: update design version (#1237) (#1238)
  package-lock.json
Due: npm run lint:json -- --write

CORE-5035: restructure terms
  data/terms.yml
  templates/term/index.jsx
  templates/term/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-5035: restructure terms (#1239)
  data/terms.yml
  templates/term/index.jsx
  templates/term/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-5035: restructure terms (#1239) (#1240)
  data/terms.yml
  templates/term/index.jsx
  templates/term/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: update design
  package-lock.json
Due: npm run lint:json -- --write

CORE: update design (#1241)
  package-lock.json
Due: npm run lint:json -- --write

CORE: update design (#1241) (#1242)
  package-lock.json
Due: npm run lint:json -- --write

CORE: fix type
  netlify-cms.config.yml
Due: none

CORE: fix type (#1243)
  netlify-cms.config.yml
Due: none

CORE: fix type (#1243) (#1244)
  netlify-cms.config.yml
Due: none

CORE: bump design version
  package-lock.json
Due: npm run lint:json -- --write

CORE: bump design version (#1245)
  package-lock.json
Due: npm run lint:json -- --write

CORE: bump design version (#1245) (#1246)
  package-lock.json
Due: npm run lint:json -- --write

CORE-4981: add datasets
  netlify-cms.config.yml
  templates/documentation/dataset/index.jsx
  templates/documentation/dataset/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4981: add datasets (#1247)
  netlify-cms.config.yml
  templates/documentation/dataset/index.jsx
  templates/documentation/dataset/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-4981: add datasets (#1247) (#1248)
  netlify-cms.config.yml
  templates/documentation/dataset/index.jsx
  templates/documentation/dataset/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

fix structure
  netlify-cms.config.yml
Due: none

fix structure (#1249)
  netlify-cms.config.yml
Due: none

fix structure (#1249) (#1250)
  netlify-cms.config.yml
Due: none

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
