Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE-4966: scroable table (#1199)
  design-v2/components/membership-table/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE-4966: scroable table (#1199) (#1200)
  design-v2/components/membership-table/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE-4914: fix upload from netlify
  netlify-cms.config.yml
Due: none

CORE-4914: fix upload from netlify (#1201)
  netlify-cms.config.yml
Due: none

CORE-4914: fix upload from netlify (#1201) (#1202)
  netlify-cms.config.yml
Due: none

CORE-4914: add correct img src
  netlify-cms.config.yml
Due: none

CORE-4914: add correct img src (#1203)
  netlify-cms.config.yml
Due: none

CORE-4914: add correct img src (#1203) (#1204)
  netlify-cms.config.yml
Due: none

CORE-4968: add responsive design
  components/docs-select/styles.module.scss
  package-lock.json
  templates/documentation/data-providers-guide/index.jsx
  templates/documentation/data-providers-guide/styles.module.scss
  templates/documentation/membership-documentation/index.jsx
  templates/documentation/membership-documentation/styles.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE-4968: add responsive design (#1205)
  components/docs-select/styles.module.scss
  package-lock.json
  templates/documentation/data-providers-guide/index.jsx
  templates/documentation/data-providers-guide/styles.module.scss
  templates/documentation/membership-documentation/index.jsx
  templates/documentation/membership-documentation/styles.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE-4968: add responsive design (#1205) (#1206)
  components/docs-select/styles.module.scss
  package-lock.json
  templates/documentation/data-providers-guide/index.jsx
  templates/documentation/data-providers-guide/styles.module.scss
  templates/documentation/membership-documentation/index.jsx
  templates/documentation/membership-documentation/styles.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE-4914: pdf uplapd
  netlify-cms.config.yml
Due: none

CORE-4914: pdf uplapd (#1207)
  netlify-cms.config.yml
Due: none

CORE-4914: pdf uplapd (#1207) (#1208)
  netlify-cms.config.yml
Due: none

CORE-4914: add format
  netlify-cms.config.yml
Due: none

CORE-4914: add format (#1209)
  netlify-cms.config.yml
Due: none

CORE-4914: add format (#1209) (#1210)
  netlify-cms.config.yml
Due: none

CORE: make pdf upload possible
  netlify-cms.config.yml
Due: none

CORE: make pdf upload possible (#1211)
  netlify-cms.config.yml
Due: none

CORE: make pdf upload possible (#1211) (#1212)
  netlify-cms.config.yml
Due: none

fix path
  netlify-cms.config.yml
Due: none

fix path (#1213)
  netlify-cms.config.yml
Due: none

fix path (#1213) (#1214)
  netlify-cms.config.yml
Due: none

CORE: update wording
  data/ambassadors.yml
  data/core.yml
  data/faq.yml
  data/research-outputs.yml
  data/terms.yml
  design-v2/benefits/benefitsForm.jsx
  templates/data-providers/utils/generate-form-message.jsx
Due: npm run lint:js -- --fix

CORE: update wording (#1217)
  data/ambassadors.yml
  data/core.yml
  data/faq.yml
  data/research-outputs.yml
  data/terms.yml
  design-v2/benefits/benefitsForm.jsx
  templates/data-providers/utils/generate-form-message.jsx
Due: npm run lint:js -- --fix

CORE: update wording (#1217) (#1218)
  data/ambassadors.yml
  data/core.yml
  data/faq.yml
  data/research-outputs.yml
  data/terms.yml
  design-v2/benefits/benefitsForm.jsx
  templates/data-providers/utils/generate-form-message.jsx
Due: npm run lint:js -- --fix

fix dropdown
  components/docs-select/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

fix dropdown (#1219)
  components/docs-select/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

fix dropdown (#1219) (#1220)
  components/docs-select/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

CORE-4979: update dataset in modal
  data/registration.yml
  data/services/dataset.yml
Due: none

CORE-4979: update dataset in modal (#1221)
  data/registration.yml
  data/services/dataset.yml
Due: none

CORE-4979: update dataset in modal (#1221) (#1222)
  data/registration.yml
  data/services/dataset.yml
Due: none

CORE: fix upload pdf
  design-v2/components/membership-table/index.jsx
  netlify-cms.config.yml
  templates/membership/prices.jsx
Due: npm run lint:js -- --fix

CORE: fix upload pdf (#1223)
  design-v2/components/membership-table/index.jsx
  netlify-cms.config.yml
  templates/membership/prices.jsx
Due: npm run lint:js -- --fix

CORE: fix upload pdf (#1223) (#1224)
  design-v2/components/membership-table/index.jsx
  netlify-cms.config.yml
  templates/membership/prices.jsx
Due: npm run lint:js -- --fix

fix file format
  netlify-cms.config.yml
Due: none

fix file format (#1225)
  netlify-cms.config.yml
Due: none

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
