Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

[CORE-4379] Update code style
  templates/payment/form/index.jsx
Due: npm run lint:js -- --fix

[CORE-4379] membership plan #1
  pages/membership/index.jsx
  templates/membership/index.jsx
Due: npm run lint:js -- --fix

[CORE-4379] membership plan #2
  data/payment.yml
Due: none

[CORE-4379] membership plan #3
  data/membership.yml
  pages/payment/[slug].jsx
  pages/payment/index.jsx
Due: npm run lint:js -- --fix

[CORE-4379] Check price fetch
  store/membership-price.js
Due: npm run lint:js -- --fix

[CORE-4379] Discount calculate
  templates/payment/form/index.jsx
Due: npm run lint:js -- --fix

[CORE-4379] Fix radiobutton
  components/checkbox/radiobutton.jsx
  templates/payment/form/index.jsx
Due: npm run lint:js -- --fix

[CORE-4379] Starting plan update layout
  store/membership-price.js
  store/membership.js
  templates/payment/form/index.jsx
Due: npm run lint:js -- --fix

[CORE-4379] Fix submit membership endpoint
  pages/payment/[slug].jsx
  pages/payment/status/error.jsx
  pages/payment/status/success.jsx
  store/membership.js
  templates/payment/form/index.jsx
Due: npm run lint:js -- --fix

[CORE-4379] Routes status fix
  core.routes.yml
  store/membership.js
Due: npm run lint:js -- --fix

[CORE-4379] Status pages fix
  core.routes.yml
  pages/payment/[slug].jsx
  pages/payment/error.jsx
  pages/payment/success.jsx
Due: npm run lint:js -- --fix

[CORE-4379] Status pages fix #2
  pages/payment/[slug].jsx
Due: npm run lint:js -- --fix

[CORE-4379] Fix calculating discount
  data/payment.yml
  templates/payment/form/hooks/use-select.js
  templates/payment/form/index.jsx
Due: npm run lint:js -- --fix

[CORE-4379] Fix calculating discount #2
  store/membership.js
Due: npm run lint:js -- --fix

[CORE-4379] Fix style
  components/checkbox/animated.jsx
  components/checkbox/radiobutton.jsx
  components/utils.js
  pages/membership/index.jsx
  pages/payment/[slug].jsx
  templates/membership/index.jsx
  templates/membership/prices.jsx
  templates/payment/form/hooks/use-select.js
  templates/payment/form/index.jsx
  templates/payment/form/select.jsx
Due: npm run lint:js -- --fix

[CORE-4379] Fix style #2
  components/checkbox/index.js
  components/checkbox/radiobutton.jsx
  design-v2/benefits/index.jsx
  pages/payment/[slug].jsx
  store/data-providers.js
  store/membership-price.js
  templates/payment/form/hooks/use-select.js
  templates/payment/form/index.jsx
Due: npm run lint:js -- --fix

[CORE-4379] Fix style #3
  templates/payment/form/index.jsx
Due: npm run lint:js -- --fix

[CORE-4379] Fix path payment
  pages/payment/[slug].jsx
Due: npm run lint:js -- --fix

[CORE-4379] Fix slug
  core.routes.yml
  pages/payment-status/error.jsx
  pages/payment-status/success.jsx
  pages/payment/[slug].jsx
  store/membership.js
Due: npm run lint:js -- --fix

[CORE-4379] Fix slug #2
  pages/payment/[slug].jsx
Due: npm run lint:js -- --fix

[CORE-4379] Text upd #1
  data/payment.yml
Due: none

[CORE-4379] Text upd #2
  data/payment.yml
Due: none

[CORE-4379] Price N/A
  templates/payment/form/index.jsx
Due: npm run lint:js -- --fix

[CORE-4379] Radiobutton update. Fix status page
  components/checkbox/radiobutton.jsx
  components/checkbox/styles.module.scss
  core.routes.yml
  data/payment.yml
  store/membership.js
  templates/payment/form/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

[CORE-4379] Fix status page
  pages/payment-status/success.jsx
Due: npm run lint:js -- --fix

[CORE-4379] One repo for starting plan
  data/payment.yml
  templates/payment/form/index.jsx
Due: npm run lint:js -- --fix

[CORE-4379] add noRepositories
  templates/payment/form/index.jsx
Due: npm run lint:js -- --fix

[CORE-4379] add noRepositories
  store/membership.js
Due: npm run lint:js -- --fix

[CORE-4379] fix noRepositories
  templates/payment/form/index.jsx
Due: npm run lint:js -- --fix

[CORE-4379] Add error style for select
  templates/payment/form/hooks/use-select.js
  templates/payment/form/select.jsx
  templates/payment/form/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

[fix] Membership text upd
  data/membership.yml
  design-v2/benefits/index.jsx
  pages/membership/[slug].jsx
  templates/membership/prices.jsx
Due: npm run lint:js -- --fix

[fix] Membership text upd (#715)
  data/membership.yml
  design-v2/benefits/index.jsx
  pages/membership/[slug].jsx
  templates/membership/prices.jsx
Due: npm run lint:js -- --fix

[fix] Membership text upd (#715) (#716)
  data/membership.yml
  design-v2/benefits/index.jsx
  pages/membership/[slug].jsx
  templates/membership/prices.jsx
Due: npm run lint:js -- --fix

[fix] Price error
  data/payment.yml
  store/membership-price.js
  templates/payment/form/index.jsx
  templates/payment/form/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

[fix] Update price if user change repository
  templates/payment/form/index.jsx
  templates/payment/form/select.jsx
Due: npm run lint:js -- --fix

[fix] Url for Membership fees
  templates/membership/prices.jsx
Due: npm run lint:js -- --fix

Add Icon
  templates/payment/form/select.jsx
Due: npm run lint:js -- --fix

[fix] Design up version
  package-lock.json
  package.json
Due: npm run lint:json -- --write

[fix] Design version set latest
  package-lock.json
  package.json
Due: npm run lint:json -- --write

[fix] Starting plan add caption
  data/payment.yml
  templates/payment/form/index.jsx
  templates/payment/form/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
