Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

tune scaling
  kube/deployment.yaml
  kube/hpa.yaml
Due: none

increase limit
  kube/deployment.yaml
Due: none

Refine prompts in diagnostic.yml for clarity
  templates/blocking-diagnostic/diagnostic.yml
Due: none

add scheduled deploy and increase resources
  .github/workflows/aks_deploy.yml
  kube/deployment.yaml
  kube/hpa.yaml
Due: none

try avoid api limits
  .github/workflows/aks_deploy.yml
  Dockerfile
Due: none

fix local builds
  Dockerfile
Due: none

Refine prompts in diagnostic.yml for clarity (#1441)
  templates/blocking-diagnostic/diagnostic.yml
Due: none

Change deployment branch from 'aks' to 'main'
  .github/workflows/aks_deploy.yml
Due: none

CORE: remove baner
  components/layout/layout.jsx
Due: npm run lint:js -- --fix

CORE: remove baner (#1442)
  components/layout/layout.jsx
Due: npm run lint:js -- --fix

add staging
  .github/workflows/aks_stage_deploy.yml
  kube/prod/deployment.yaml
  kube/prod/hpa.yaml
  kube/prod/httproute.yaml
  kube/prod/pdb.yaml
  kube/prod/service.yaml
  kube/stage/deployment.yaml
  kube/stage/httproute.yaml
  kube/stage/service.yaml
Due: none

Change deployment branch from 'main' to 'stage'
  .github/workflows/aks_stage_deploy.yml
Due: none

fix namespaces
  .github/workflows/aks_stage_deploy.yml
  kube/stage/deployment.yaml
  kube/stage/httproute.yaml
  kube/stage/service.yaml
Due: none

Update aks_deploy.yml
  .github/workflows/aks_deploy.yml
Due: none

Update AKS deployment paths to production directory
  .github/workflows/aks_deploy.yml
Due: none

Update resource requests for deployment
  kube/prod/deployment.yaml
Due: none

Increase CPU request from 50m to 100m
  kube/prod/deployment.yaml
Due: none

CORE: add gep page
  netlify-cms.config.yml
  pages/gep/index.jsx
  templates/gep/index.jsx
Due: npm run lint:js -- --fix

CORE: add gep page (#1445)
  netlify-cms.config.yml
  pages/gep/index.jsx
  templates/gep/index.jsx
Due: npm run lint:js -- --fix

CORE: trigger update
  templates/gep/index.jsx
  templates/term/index.jsx
Due: npm run lint:js -- --fix

CORE: trigger update (#1446)
  templates/gep/index.jsx
  templates/term/index.jsx
Due: npm run lint:js -- --fix

api docs structure
  data/membership.yml
  pages/documentation/api-documentation.jsx
  templates/documentation/api-documentation/index.jsx
  templates/documentation/api-documentation/styles.module.scss
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: make new docs section work
  package.json
  templates/documentation/api-documentation/index.jsx
  templates/documentation/docsComponents/documentation-membership-nav/documentation-membership-nav.jsx
  templates/documentation/docsComponents/documentation-membership-nav/index.js
  templates/documentation/docsComponents/documentation-membership-nav/styles.module.scss
  templates/documentation/docsComponents/documentation-membership/documentation-markdown.jsx
  templates/documentation/docsComponents/documentation-membership/documentation-membership.jsx
  templates/documentation/docsComponents/documentation-membership/index.js
  templates/documentation/docsComponents/documentation-membership/styles.module.scss
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE: make new nav section work
  templates/documentation/api-documentation/index.jsx
  templates/documentation/data-providers-guide/index.jsx
  templates/documentation/docsComponents/documentation-membership-nav/documentation-membership-nav.jsx
  templates/documentation/docsComponents/documentation-membership-nav/index.js
  templates/documentation/docsComponents/documentation-membership-nav/styles.module.scss
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: netlify structure
  components/layout/layout.jsx
  netlify-cms.config.yml
  pages/documentation/api-documentation.jsx
  templates/documentation/api-documentation/index.jsx
  templates/documentation/data-providers-guide/index.jsx
  templates/documentation/docsComponents/documentation-membership/documentation-markdown.jsx
  templates/documentation/docsComponents/documentation-membership/documentation-membership.jsx
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix

CORE: todos
  templates/documentation/docsComponents/documentation-membership-nav/documentation-membership-nav.jsx
  templates/documentation/docsComponents/documentation-membership/documentation-markdown.jsx
  templates/documentation/docsComponents/documentation-membership/documentation-membership.jsx
Due: npm run lint:js -- --fix

CORE: temp disable
  data/membership.yml
  templates/documentation/api-documentation/index.jsx
  templates/documentation/data-providers-guide/index.jsx
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix

Core api docs (#1447)
  components/layout/layout.jsx
  data/membership.yml
  netlify-cms.config.yml
  package.json
  pages/documentation/api-documentation.jsx
  templates/documentation/api-documentation/index.jsx
  templates/documentation/api-documentation/styles.module.scss
  templates/documentation/docsComponents/documentation-membership-nav/documentation-membership-nav.jsx
  templates/documentation/docsComponents/documentation-membership-nav/index.js
  templates/documentation/docsComponents/documentation-membership-nav/styles.module.scss
  templates/documentation/docsComponents/documentation-membership/documentation-markdown.jsx
  templates/documentation/docsComponents/documentation-membership/documentation-membership.jsx
  templates/documentation/docsComponents/documentation-membership/index.js
  templates/documentation/docsComponents/documentation-membership/styles.module.scss
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE: nesting issue on netlify
  netlify-cms.config.yml
Due: none

CORE: nesting issue on netlify (#1448)
  netlify-cms.config.yml
Due: none

CORE: add second section
  netlify-cms.config.yml
  pages/documentation/api-documentation.jsx
Due: npm run lint:js -- --fix

CORE: add second section (#1449)
  netlify-cms.config.yml
  pages/documentation/api-documentation.jsx
Due: npm run lint:js -- --fix

CORE: hide docs
  pages/documentation/api-documentation.jsx
Due: npm run lint:js -- --fix

CORE: hide docs (#1450)
  pages/documentation/api-documentation.jsx
Due: npm run lint:js -- --fix

CORE: api doc view
  data/membership.yml
  pages/documentation/api-documentation.jsx
  templates/documentation/api-documentation/index.jsx
  templates/documentation/data-providers-guide/index.jsx
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix

CORE: api doc view update
  data/membership.yml
  netlify-cms.config.yml
  templates/documentation/api-documentation/index.jsx
  templates/documentation/data-providers-guide/index.jsx
  templates/documentation/membership-documentation/index.jsx
Due: npm run lint:js -- --fix

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
