Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Improve the contributing guidelines
  README.md
Due: none

Add Netlify CMS
  .gitignore
  netlify-cms.admin.html
  netlify-cms.config.yml
  package.json
Due: npm run lint:json -- --write

Enable draft previews
  netlify-cms.config.yml
  pages/about/index.jsx
  pages/api/preview.js
Due: npm run lint:js -- --fix

Improve the contributing guidelines (#373)
  README.md
Due: none

Add content retrieving interface for GitHub
  content/index.js
  next.config.js
  package-lock.json
  package.json
Due: npm run lint:js -- --fix, npm run lint:json -- --write

Connect Team section to oacore/content repository
  data/about.yml
  data/team.yml
  pages/about/index.jsx
Due: npm run lint:js -- --fix

Rename the project
  README.md
  package-lock.json
  package.json
Due: npm run lint:json -- --write

Fix calling proper `build` command when exporting
  package.json
Due: npm run lint:json -- --write

Forbid indexing CMS admin, fix HTML markup there
  netlify-cms.admin.html
Due: none

Try FAQs
  netlify-cms.config.yml
Due: none

Add FAQ categories
  netlify-cms.config.yml
Due: none

Try to fix summary
  netlify-cms.config.yml
Due: none

Add relation
  netlify-cms.config.yml
Due: none

Fix field
  netlify-cms.config.yml
Due: none

Add vice-versa relation
  netlify-cms.config.yml
Due: none

Add Habtamu Keno to Ambassadors
  data/ambassadors.yml
  public/images/people/habtamu-keno.jpg
Due: none

Fix the mistake in YAML
  data/ambassadors.yml
Due: none

Add Habtamu Keno to Ambassadors (#374)
  data/ambassadors.yml
  public/images/people/habtamu-keno.jpg
Due: none

Speed-up CI, improve reporting
  .github/workflows/pull-request-check.yml
Due: none

Remove trailing slashes from the URLs
  next.config.js
Due: npm run lint:js -- --fix

Remove trailing slashes from the URLs (#376)
  next.config.js
Due: npm run lint:js -- --fix

Speed-up CI, improve reporting (#375)
  .github/workflows/pull-request-check.yml
Due: none

Update Habtamu Keno's photo
  public/images/people/habtamu-keno.jpg
Due: none

Replace .browserslistrc with defaults
  .browserslistrc
  browserslist-stats.json
Due: npm run lint:json -- --write

Replace .browserslistrc with defaults (#377)
  .browserslistrc
  browserslist-stats.json
Due: npm run lint:json -- --write

Add authorisation for the Octokit
  content/index.js
Due: npm run lint:js -- --fix

Connect About page to oacore/content repository
  data/about.yml
  netlify-cms.config.yml
  pages/about/index.jsx
Due: npm run lint:js -- --fix

Improve data structure and CMS interface
  netlify-cms.config.yml
  pages/about/index.jsx
Due: npm run lint:js -- --fix

Add authorisation for the Octokit (#378)
  content/index.js
Due: npm run lint:js -- --fix

Fix NetlifyCMS after removing trailing slashes
  .gitignore
  netlify-cms.admin.html
  package.json
Due: npm run lint:json -- --write

Fix NetlifyCMS after removing trailing slashes (#380)
  .gitignore
  netlify-cms.admin.html
  package.json
Due: npm run lint:json -- --write

Rework the fetching process of statistics
  pages/about/index.jsx
Due: npm run lint:js -- --fix

Fix code quality error
  pages/about/index.jsx
Due: npm run lint:js -- --fix

Add the `object` transform strategy to content
  content/index.js
Due: npm run lint:js -- --fix

Add `object` transform strategy to content (#381)
  content/index.js
Due: npm run lint:js -- --fix

Add "How to acknowledge the use of CORE" page
  data/dataset-acknowledge.md
  pages/acknowledge.jsx
Due: npm run lint:js -- --fix

Fix the links to images
  data/dataset-acknowledge.md
Due: none

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
