Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

Update styles
  design-v2/components/pages/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Core 4204/implement consultancy service page (#660)
  core.routes.yml
  data/services/api.yml
  data/services/consultancy.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  design-v2/components/layout/styles.module.scss
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  pages/services/consultancy.jsx
  public/images/services/automation.svg
  public/images/services/consultancy.svg
  public/images/services/contact-us.svg
  public/images/services/partnership.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

init new dashboard page
  data/services/api.yml
  data/services/dataset.yml
  data/services/recommender.yml
  data/services/repository-dashboard.yml
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  pages/services/repository-dashboard.jsx
  public/images/screenshots/charts-placeholder.png
  public/images/services/dashboard-charts.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Core 4204/implement consultancy service page (#660) (#677)
  core.routes.yml
  data/services/api.yml
  data/services/consultancy.yml
  design-v2/components/hero/index.jsx
  design-v2/components/hero/styles.module.scss
  design-v2/components/layout/styles.module.scss
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  pages/services/consultancy.jsx
  public/images/services/automation.svg
  public/images/services/consultancy.svg
  public/images/services/contact-us.svg
  public/images/services/partnership.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Fix text issue in title
  data/benefits.yml
Due: none

Fix/benefits title text issue (#679)
  data/benefits.yml
Due: none

Fix/benefits title text issue (#679) (#680)
  data/benefits.yml
Due: none

Fix testimonal text issue
  data/services/repository-dashboard.yml
Due: none

Oai resolver text upd
  data/oai_resolve.yml
Due: none

Oai resolver text upd (#681)
  data/oai_resolve.yml
Due: none

Oai resolver text upd (#681) (#682)
  data/oai_resolve.yml
Due: none

Update services page,fix body scroll on the main page
  data/services.yml
  design-v2/components/layout/styles.module.scss
  package-lock.json
  package.json
  pages/index.jsx
  pages/index.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Combine categories with 1 card
  pages/services/index.jsx
  pages/services/services.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Change columns order
  data/services.yml
Due: none

Core 4346/update services page (#683)
  data/services.yml
  design-v2/components/layout/styles.module.scss
  package-lock.json
  package.json
  pages/index.jsx
  pages/index.module.scss
  pages/services/index.jsx
  pages/services/services.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Core 4346/update services page (#683) (#684)
  data/services.yml
  design-v2/components/layout/styles.module.scss
  package-lock.json
  package.json
  pages/index.jsx
  pages/index.module.scss
  pages/services/index.jsx
  pages/services/services.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Update text on the benefits page
  data/benefits.yml
  design-v2/benefits/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Update text on the benefits page (#685)
  data/benefits.yml
  design-v2/benefits/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Update text on the benefits page (#685) (#686)
  data/benefits.yml
  design-v2/benefits/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Fix issue with links and update text
  data/benefits.yml
Due: none

Fix link and button
  data/services/repository-dashboard.yml
  design-v2/components/pages/service.jsx
Due: npm run lint:js -- --fix

Fix issue with links and update text (#687)
  data/benefits.yml
Due: none

Fix issue with links and update text (#687) (#688)
  data/benefits.yml
Due: none

New dashboard page (#678)
  data/services/api.yml
  data/services/consultancy.yml
  data/services/dataset.yml
  data/services/recommender.yml
  data/services/repository-dashboard.yml
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  pages/services/repository-dashboard.jsx
  public/images/screenshots/charts-placeholder.png
  public/images/services/dashboard-charts.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

New dashboard page (#678) (#689)
  data/services/api.yml
  data/services/consultancy.yml
  data/services/dataset.yml
  data/services/recommender.yml
  data/services/repository-dashboard.yml
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  pages/services/repository-dashboard.jsx
  public/images/screenshots/charts-placeholder.png
  public/images/services/dashboard-charts.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update fee and payment pages
  core.routes.yml
  data/membership.yml
  data/payment.yml
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  package-lock.json
  package.json
  pages/index.module.scss
  pages/membership/[slug].jsx
  pages/membership/fee.jsx
  pages/membership/payment/error.jsx
  pages/membership/payment/index.jsx
  pages/membership/payment/success.jsx
  pages/payment/index.jsx
  store/membership.js
  templates/membership/index.jsx
  templates/membership/prices.jsx
  templates/membership/styles.module.scss
  templates/payment/form/hooks/use-select.js
  templates/payment/form/index.jsx
  templates/payment/form/select.jsx
  templates/payment/form/styles.module.scss
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

Add style
  data/benefits.yml
  design-v2/_variables.scss
  design-v2/benefits/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Fix/oai resolver text upd (#691)
  data/benefits.yml
  design-v2/_variables.scss
  design-v2/benefits/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Fix/oai resolver text upd (#691) (#692)
  data/benefits.yml
  design-v2/_variables.scss
  design-v2/benefits/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

add component
  templates/documentation/components/block.jsx
  templates/documentation/index.jsx
Due: npm run lint:js -- --fix

Feature/oai resolver component (#693)
  templates/documentation/components/block.jsx
  templates/documentation/index.jsx
Due: npm run lint:js -- --fix

Feature/oai resolver component (#693) (#694)
  templates/documentation/components/block.jsx
  templates/documentation/index.jsx
Due: npm run lint:js -- --fix

Fix link example
  pages/oai_resolver/oai_resolver.module.scss
  pages/oai_resolver/oai_resolver_form.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Feature/oai example link (#695)
  pages/oai_resolver/oai_resolver.module.scss
  pages/oai_resolver/oai_resolver_form.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Feature/oai example link (#695) (#696)
  pages/oai_resolver/oai_resolver.module.scss
  pages/oai_resolver/oai_resolver_form.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CSS update
  pages/oai_resolver/oai_resolver.module.scss
Due: prettier --ignore-path .gitignore --check --write

Feater/oai link (#697)
  pages/oai_resolver/oai_resolver.module.scss
Due: prettier --ignore-path .gitignore --check --write

Feater/oai link (#697) (#698)
  pages/oai_resolver/oai_resolver.module.scss
Due: prettier --ignore-path .gitignore --check --write

[CORE-4376] background fix
  templates/membership/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write

Bugfix/core 4376 background (#699)
  templates/membership/styles.module.scss
Due: prettier --ignore-path .gitignore --check --write
