Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

.lintstagedrc:

{
  "*.{js,jsx}": "npm run lint:js -- --fix",
  "*.json": "npm run lint:json -- --write",
  "*.{scss,css}": "prettier --ignore-path .gitignore --check --write"
}

Fix text issue (#515)
  pages/services/index.jsx
Due: npm run lint:js -- --fix

Fix text issue (#515) (#516)
  pages/services/index.jsx
Due: npm run lint:js -- --fix

Update serch box text and services box
  data/core.yml
  data/history.yml
  data/home.yml
  data/services.yml
Due: none

Update serch box text and services box (#517)
  data/core.yml
  data/history.yml
  data/home.yml
  data/services.yml
Due: none

text from update
  design-v2/benefits/form.jsx
Due: npm run lint:js -- --fix

Fix benefits text update (#519)
  design-v2/benefits/form.jsx
Due: npm run lint:js -- --fix

Update serch box text and services box (#517) (#518)
  data/core.yml
  data/history.yml
  data/home.yml
  data/services.yml
  design-v2/benefits/form.jsx
Due: npm run lint:js -- --fix

Hotfix, link for api
  data/services.yml
Due: none

Hotfix, link for api (#521)
  data/services.yml
Due: none

Add files via upload
  public/images/people/Founder Chorst Klaus.jpg
Due: none

Add files via upload
  public/images/logos/OXSICO-Logo.jpg
Due: none

Add files via upload
  public/images/people/Founder Chorst Klaus.png
Due: none

Delete Founder Chorst Klaus.jpg
  public/images/people/Founder Chorst Klaus.jpg
Due: none

Update endorsements.yml
  data/endorsements.yml
Due: none

Update endorsements.yml (#522)
  data/endorsements.yml
Due: none

Update images (#524)
  public/images/logos/OXSICO-Logo.jpg
  public/images/people/Founder Chorst Klaus.png
Due: none

add description section
  pages/about/index.jsx
Due: npm run lint:js -- --fix

Update/about page text (#525)
  data/endorsements.yml
  pages/about/index.jsx
Due: npm run lint:js -- --fix

Update logos and about page (#526)
  pages/about/index.jsx
Due: npm run lint:js -- --fix

Add new section to neltify CMS
  netlify-cms.config.yml
Due: none

Add new section to neltify CMS (#528)
  netlify-cms.config.yml
Due: none

Add new section to neltify CMS (#528) (#529)
  netlify-cms.config.yml
Due: none

Add files via upload
  public/images/logos/COAR-logo.png
Due: none

Update about page section
  pages/about/index.jsx
Due: npm run lint:js -- --fix

Update map
  components/repositories-map/index.jsx
Due: npm run lint:js -- --fix

Update about page section (#530)
  components/repositories-map/index.jsx
  pages/about/index.jsx
Due: npm run lint:js -- --fix

Update about page (#531)
  components/repositories-map/index.jsx
  pages/about/index.jsx
  public/images/logos/COAR-logo.png
Due: npm run lint:js -- --fix

oai assets path
  next.config.js
Due: npm run lint:js -- --fix

style fix
  templates/history/history.module.scss
Due: prettier --ignore-path .gitignore --check --write

Oai resolver assets (#532)
  next.config.js
  templates/history/history.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Oai resolver assets (#532) (#533)
  next.config.js
  templates/history/history.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

image prefix fix
  next.config.js
Due: npm run lint:js -- --fix

Oai resolver assets (#534)
  next.config.js
Due: npm run lint:js -- --fix

Oai resolver assets (#534) (#535)
  next.config.js
Due: npm run lint:js -- --fix

update design
  package-lock.json
Due: npm run lint:json -- --write

update design (#536)
  package-lock.json
Due: npm run lint:json -- --write

add animated checkbox
  components/checkbox/animated.jsx
  components/checkbox/index.js
  components/checkbox/styles.module.scss
  components/modal/registration/conditions.jsx
  package-lock.json
  package.json
  store/registration.js
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

update styles
  components/checkbox/animated.jsx
  components/checkbox/styles.module.scss
  store/registration.js
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write
