Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

bf/CORE-5309-add-reccomendations-link (#1423)
  data/benefits.yml
Due: none

CORE-5311: add new company logos
  components/sections/endorsements.jsx
  components/sections/endorsements.module.scss
  data/endorsements.yml
  public/images/logos/GPTZERO_LOGO.png
  public/images/logos/SANDBOXAQ_LOGO.png
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-5311: add new company logos (#1424)
  components/sections/endorsements.jsx
  components/sections/endorsements.module.scss
  data/endorsements.yml
  public/images/logos/GPTZERO_LOGO.png
  public/images/logos/SANDBOXAQ_LOGO.png
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE; new fee page
  hooks/retriveContent.js
  netlify-cms.config.yml
  pages/membership/[slug].jsx
  pages/membership/[slug]/annual-fees.jsx
  templates/membership/assets/infoIcon.svg
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE; new fee page (#1425)
  hooks/retriveContent.js
  netlify-cms.config.yml
  pages/membership/[slug].jsx
  pages/membership/[slug]/annual-fees.jsx
  templates/membership/assets/infoIcon.svg
  templates/membership/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: add fair page
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  pages/fair/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

bf/CORE-5309-add-reccomendations-link
  data/endorsements.yml
  public/images/logos/ARU.svg
  public/images/logos/BATH.svg
  public/images/logos/BIRMINGHAM.svg
  public/images/logos/Bradford.svg
  public/images/logos/Bristol.svg
  public/images/logos/Brunel.svg
  public/images/logos/Lancaster.svg
  public/images/logos/Oxford.svg
  public/images/logos/Strathclyde.svg
  public/images/logos/TIB.svg
  public/images/logos/UAL.svg
  public/images/logos/aru.svg
  public/images/logos/buckinghamshire.svg
  public/images/logos/cambridge.svg
  public/images/logos/cardif.svg
  public/images/logos/chicago.svg
  public/images/logos/durham.svg
  public/images/logos/glasgow.svg
  public/images/logos/greenwich.svg
  public/images/logos/hull.svg
  public/images/logos/imperial-college.svg
  public/images/logos/kings_college_london.svg
  public/images/logos/manchester-metropolian.svg
  public/images/logos/nottingham-trent.svg
  public/images/logos/nottingham.svg
  public/images/logos/queen-marry.svg
  public/images/logos/reading.svg
  public/images/logos/st-andrews.svg
  public/images/logos/st-george's.svg
  public/images/logos/sussex.svg
  public/images/logos/tu-wien.svg
  public/images/logos/white-rose.svg
Due: none

bf/CORE-5309-add-reccomendations-link
  data/endorsements.yml
Due: none

CORE: logo style
  components/sections/endorsements.jsx
Due: npm run lint:js -- --fix

modified logos, removed borders, add exeter
  data/endorsements.yml
  public/images/cambridge.svg
  public/images/logos/ARU.svg
  public/images/logos/BATH.svg
  public/images/logos/BIRMINGHAM.svg
  public/images/logos/Bradford.svg
  public/images/logos/Bristol.svg
  public/images/logos/Lancaster.svg
  public/images/logos/TIB.svg
  public/images/logos/buckinghamshire.svg
  public/images/logos/cardif.svg
  public/images/logos/chicago.svg
  public/images/logos/durham.svg
  public/images/logos/exeter.svg
  public/images/logos/greenwich.svg
  public/images/logos/kings_college_london.svg
  public/images/logos/manchester-metropolian.svg
  public/images/logos/nottingham.svg
  public/images/logos/reading.svg
  public/images/logos/st-george's.svg
  public/images/logos/st-georges.svg
  public/images/logos/sussex.svg
  public/images/logos/tu-wien.svg
Due: none

bf/CORE-5309-add-reccomendations-link
  public/images/logos/cambridge.svg
Due: none

CORE: add img style
  components/sections/endorsements.module.scss
  data/endorsements.yml
  public/images/logos/GPTZERO_LOGO.png
  public/images/logos/SANDBOXAQ_LOGO.png
  public/images/logos/gptzero.svg
  public/images/logos/sandbox.svg
Due: prettier --ignore-path .gitignore --check --write

Bf/core 5309 add reccomendations link (#1426)
  components/sections/endorsements.jsx
  components/sections/endorsements.module.scss
  data/endorsements.yml
  public/images/logos/ARU.svg
  public/images/logos/BATH.svg
  public/images/logos/BIRMINGHAM.svg
  public/images/logos/Bradford.svg
  public/images/logos/Bristol.svg
  public/images/logos/Brunel.svg
  public/images/logos/GPTZERO_LOGO.png
  public/images/logos/Lancaster.svg
  public/images/logos/Oxford.svg
  public/images/logos/SANDBOXAQ_LOGO.png
  public/images/logos/Strathclyde.svg
  public/images/logos/TIB.svg
  public/images/logos/UAL.svg
  public/images/logos/aru.svg
  public/images/logos/buckinghamshire.svg
  public/images/logos/cambridge.svg
  public/images/logos/cardif.svg
  public/images/logos/chicago.svg
  public/images/logos/durham.svg
  public/images/logos/exeter.svg
  public/images/logos/glasgow.svg
  public/images/logos/gptzero.svg
  public/images/logos/greenwich.svg
  public/images/logos/hull.svg
  public/images/logos/imperial-college.svg
  public/images/logos/kings_college_london.svg
  public/images/logos/manchester-metropolian.svg
  public/images/logos/nottingham-trent.svg
  public/images/logos/nottingham.svg
  public/images/logos/queen-marry.svg
  public/images/logos/reading.svg
  public/images/logos/sandbox.svg
  public/images/logos/st-andrews.svg
  public/images/logos/st-georges.svg
  public/images/logos/sussex.svg
  public/images/logos/tu-wien.svg
  public/images/logos/white-rose.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: add fair comp
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  hooks/retriveContent.js
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE: add fair rout
  pages/services/fair-certification.jsx
Due: npm run lint:js -- --fix

CORE: add header
  package-lock.json
  package.json
Due: npm run lint:json -- --write

CORE: fix styles
  design-v2/components/pages/styles.module.scss
  package-lock.json
  package.json
Due: npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE: faq section
  netlify-cms.config.yml
Due: none

CORE: faq section (#1428)
  netlify-cms.config.yml
Due: none

New plugin
  package-lock.json
  package.json
Due: npm run lint:json -- --write

CORE: required false
  netlify-cms.config.yml
Due: none

CORE: faq section required
  netlify-cms.config.yml
Due: none

CORE: faq section required (#1430)
  netlify-cms.config.yml
Due: none

Plugin implement
  content/index.js
  hooks/analytics.js
  templates/member/form/index.jsx
Due: npm run lint:js -- --fix

update dependencies: bump postcss to 8.4.14 and next to 10.0.1
  package.json
Due: npm run lint:json -- --write

update postcss to version 8.4.32
  package.json
Due: npm run lint:json -- --write

update @oacore/design dependency to latest version
  package.json
Due: npm run lint:json -- --write

fix: specify exact version for @oacore/design dependency
  package.json
Due: npm run lint:json -- --write

CORE: fix package versions
  package-lock.json
Due: npm run lint:json -- --write

CORE: fix package version
  package-lock.json
  package.json
Due: npm run lint:json -- --write

CORE: fix required issues
  netlify-cms.config.yml
Due: none

CORE: fix required issues (#1431)
  netlify-cms.config.yml
Due: none

CORE: add open access section
  data/home.yml
  netlify-cms.config.yml
  pages/about/about.module.scss
  pages/about/index.jsx
  pages/index.jsx
  public/images/heros/ref.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-5449: add video
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

CORE-5449: fix spacing
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Core 5046 fair cer page (#1427)
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  hooks/retriveContent.js
  package-lock.json
  package.json
  pages/services/fair-certification.jsx
Due: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

CORE-5449: hide faq
  design-v2/components/pages/service.jsx
Due: npm run lint:js -- --fix

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
