Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:json -- --write, prettier --ignore-path .gitignore --check --write

update: CORE-4335 fastSync page (#735)
  data/services/fastsync.yml
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  pages/services/fastsync.jsx
  public/images/services/coreFastSync.svg
  public/images/services/includedFastSync.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update: CORE-4335 fastSync page (#735) (#744)
  data/services/fastsync.yml
  design-v2/components/pages/service.jsx
  design-v2/components/pages/styles.module.scss
  pages/services/fastsync.jsx
  public/images/services/coreFastSync.svg
  public/images/services/includedFastSync.svg
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update: CORE membership date update (#742)
  data/membership.yml
Due: none

update: CORE membership date update (#742) (#747)
  data/membership.yml
Due: none

[CORE-4413] Text upd (#748)
  data/payment.yml
Due: none

[CORE-4413] Text upd (#748) (#749)
  data/payment.yml
Due: none

update: CORE show only supporting and sustaining members
  pages/community/supporters.jsx
Due: npm run lint:js -- --fix

feat: CORE-4421 sponsorship page
  data/sponsorship.yml
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  pages/sponsorship/index.jsx
  public/images/membership/contact.svg
  public/images/membership/howToSponsor.svg
  public/images/membership/sponsorship.svg
  templates/sponsorships/index.jsx
  templates/sponsorships/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

feat: CORE-4421 sponsorship page (#751)
  data/sponsorship.yml
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  pages/sponsorship/index.jsx
  public/images/membership/contact.svg
  public/images/membership/howToSponsor.svg
  public/images/membership/sponsorship.svg
  templates/sponsorships/index.jsx
  templates/sponsorships/styles.module.scss
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update link
  data/sponsorship.yml
  templates/sponsorships/index.jsx
Due: npm run lint:js -- --fix

add linking
  data/sponsorship.yml
  templates/sponsorships/index.jsx
Due: npm run lint:js -- --fix

Update faq
  data/faq.yml
Due: none

add linking (#754)
  data/sponsorship.yml
  templates/sponsorships/index.jsx
Due: npm run lint:js -- --fix

merge content (#755)
  data/faq.yml
  data/sponsorship.yml
  templates/sponsorships/index.jsx
Due: npm run lint:js -- --fix

reset link
  data/membership.yml
Due: none

fixes about page
  pages/about/index.jsx
Due: npm run lint:js -- --fix

update document
  data/sponsorship.yml
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  templates/sponsorships/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update document (#760)
  data/sponsorship.yml
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  templates/sponsorships/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

update document (#760) (#761)
  data/sponsorship.yml
  design-v2/components/membership-table/index.jsx
  design-v2/components/membership-table/styles.module.scss
  templates/sponsorships/index.jsx
Due: npm run lint:js -- --fix, prettier --ignore-path .gitignore --check --write

Update design
  package-lock.json
Due: npm run lint:json -- --write

Sponsorship form was wrong
  data/sponsorship.yml
Due: none

fix missing buttons issue
  pages/services/consultancy.jsx
Due: npm run lint:js -- --fix

Consulting missing buttons (#763)
  pages/services/consultancy.jsx
Due: npm run lint:js -- --fix

update: CORE show only supporting and sustaining members (#750)
  pages/community/supporters.jsx
Due: npm run lint:js -- --fix

update: CORE show only supporting and sustaining members (#750) (#764)
  pages/community/supporters.jsx
Due: npm run lint:js -- --fix

[bugfix] Add pdf
  public/resources/flyer_CORE_Consulting_services.pdf
Due: none

[bugfix] Add pdf (#765)
  public/resources/flyer_CORE_Consulting_services.pdf
Due: none

[bugfix] Add pdf (#765) (#766)
  public/resources/flyer_CORE_Consulting_services.pdf
Due: none

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:json -- --write: any of: *.json
  prettier --ignore-path .gitignore --check --write: any of: *.{scss,css}
